@import "./menu_common";

.context-menu-list .context-menu-item button {
  padding-inline-start: 0 !important;
}

.context-menu-list .context-menu-item button span {
  @include _layout_icon_menus;

  padding-inline-start: 24px; /* 16p + (4px *  2) */
  background-position: var(--uc-menu-background-position, left) 4px center;
  &:dir(rtl) {
    --uc-menu-background-position: right;
  }
}
