:root[sizemode="fullscreen"] #navigator-toolbox {
  position: fixed !important; /* Needed for content to take up entire height */
  z-index: 1000 !important; /* Puts the UI above the content */
}

:root[sizemode="fullscreen"] :-moz-any(#navigator-toolbox, #titlebar, #nav-bar, #PersonalToolbar) {
  width: 100%; /* Makes the UI take up the entire width */
}

@include OS($linux) {
  /* Fix transparent background */
  :root[tabsintitlebar][sizemode="fullscreen"]#{$not_lwtheme} #TabsToolbar {
    appearance: auto !important;
  }
}
