/* Error: expected selector.
 *   ,
 * 5 | built-in-light-theme(){
 *   |                     ^
 *   '
 *   src/theme/_built_in.scss 5:21  @import
 *   src/userChrome.scss 11:11      @content
 *   src/utils/_option.scss 7:5     @content
 *   src/utils/_each.scss 18:9      AtEach()
 *   src/utils/_option.scss 6:3     Option()
 *   src/userChrome.scss 10:1       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \2577 \a 5 \2502  built-in-light-theme(){\a   \2502                      ^\a   \2575 \a   src/theme/_built_in.scss 5:21  @import\a   src/userChrome.scss 11:11      @content\a   src/utils/_option.scss 7:5     @content\a   src/utils/_each.scss 18:9      AtEach()\a   src/utils/_option.scss 6:3     Option()\a   src/userChrome.scss 10:1       root stylesheet";
}
