#firefox-view-button {
	list-style-image: url("../icons/firefox-view.svg") !important;
}
#reset-pbm-toolbar-button {
	list-style-image: url("../icons/flame.svg") !important;
}
#translations-button-icon {
	list-style-image: url("../icons/translations.svg") !important;
}