/*= main-menubar =============================================================*/
#file-menu {
  --menuitem-image: url("../icons/mail-inbox-all.svg");
}
#edit-menu {
  --menuitem-image: url("../icons/edit-active.svg");
}
#view-menu {
  --menuitem-image: url("../icons/content-view.svg");
}
#history-menu {
  --menuitem-image: url("chrome://browser/skin/history.svg");
}
#bookmarksMenu {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#tools-menu {
  --menuitem-image: url("../icons/toolbox.svg");
}
#tabSharingMenu {
  --menuitem-image: url("chrome://browser/skin/notification-icons/screen.svg");
}
#helpMenu {
  --menuitem-image: url("chrome://global/skin/icons/help.svg");
}
