/** Global Menu ***************************************************************/
/*= menu_FilePopup ===========================================================*/
#menu_newNavigatorTab {
  --menuitem-image: var(--uc-new-tab-icon);
}
#menu_newUserContext {
  --menuitem-image: url("../icons/container-openin-16.svg");
}
#menu_newNavigator {
  --menuitem-image: url("chrome://browser/skin/window.svg");
}
#menu_newPrivateWindow {
  --menuitem-image: url("chrome://browser/skin/privateBrowsing.svg");
}
#menu_newFissionWindow {
}
#menu_newNonFissionWindow {
}
#menu_openLocation {
}
#menu_openFile {
  --menuitem-image: url("../icons/toolbarButton-upload.svg");
}
#menu_close {
}
#menu_closeWindow {
}

#menu_savePage {
  --menuitem-image: url("../icons/toolbarButton-download.svg");
}
#menu_sendLink {
  --menuitem-image: url("../icons/mail.svg");
}
menu.share-tab-url-item {
  --menuitem-image: url("chrome://browser/skin/share.svg");
}

#menu_printPreview {
}
#menu_print {
  --menuitem-image: url("chrome://global/skin/icons/print.svg");
}

#menu_importFromAnotherBrowser {
  --menuitem-image: url("chrome://browser/skin/import.svg");
}

#goOfflineMenuitem {
  /* checkbox */
  --menuitem-image: url("../icons/plug-disconnected.svg");
}
#menu_FileQuitItem {
  --menuitem-image: url("../icons/quit.svg");
}

/* Mange Containers */
#menu_newUserContext menupopup menuitem:last-child {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}

/*= menu_EditPopup ===========================================================*/
#menu_undo {
  --menuitem-image: url("../icons/undo.svg");
}
#menu_redo {
  @include Option("userChrome.icon.menu.full") {
    --menuitem-image: url("../icons/redo.svg");
  }
}

#menu_cut {
  --menuitem-image: url("../icons/edit-cut.svg");
}
#menu_copy {
  --menuitem-image: url("../icons/edit-copy.svg");
}
#menu_paste {
  --menuitem-image: url("../icons/edit-paste.svg");
}
#menu_delete {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}

#menu_selectAll {
  --menuitem-image: url("../icons/select-all-on.svg");
}

#menu_find {
  --menuitem-image: url("chrome://global/skin/icons/search-glass.svg");
}
#menu_findAgain {
}

#textfieldDirection-swap {
}

#menu_preferences {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}

/*= menu_viewPopup ===========================================================*/
#viewToolbarsMenu {
  --menuitem-image: url("../icons/toolbar.svg");
}
#viewSidebarMenuMenu {
  // --menuitem-image: url("chrome://browser/skin/sidebars.svg");
  --menuitem-image: var(--uc-sidebar-icon);
}

#viewFullZoomMenu {
  --menuitem-image: url("../icons/screenshot.svg");
}
#pageStyleMenu {
  --menuitem-image: url("../icons/document-css.svg");
}
#repair-text-encoding {
  --menuitem-image: url("../icons/characterEncoding.svg");
}

#enterFullScreenItem {
  --menuitem-image: url("chrome://browser/skin/fullscreen.svg");
}
#exitFullScreenItem {
  --menuitem-image: url("chrome://browser/skin/fullscreen-exit.svg");
}
#fullScreenItem {
  /* checkbox */
  --menuitem-image: url("chrome://browser/skin/fullscreen.svg");
}
#menu_readerModeItem {
  --menuitem-image: url("chrome://browser/skin/reader-mode.svg");
}
#menu_showAllTabs {
  --menuitem-image: var(--uc-tab-icon);
}

#documentDirection-swap {
  --menuitem-image: url("../icons/text-direction-horizontal-ltr.svg");
}

/* view-menu-popup sub menu */
#menu_customizeToolbars {
  --menuitem-image: url("chrome://browser/skin/customize.svg");
}

/* viewSidebarMenu sub menu */
#menu_bookmarksSidebar {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#menu_historySidebar {
  --menuitem-image: url("chrome://browser/skin/history.svg");
}
#menu_tabsSidebar {
  --menuitem-image: url("../icons/synced-tabs.svg");
}

/* viewFullZoomMenu sub menu */
#menu_zoomEnlarge {
  --menuitem-image: url("chrome://browser/skin/add-circle-fill.svg");
  stroke: transparent !important;
}
#menu_zoomReduce {
  --menuitem-image: url("chrome://browser/skin/subtract-circle-fill.svg");
  stroke: transparent !important;
}
#menu_zoomReset {
  --menuitem-image: url("../icons/resize.svg");
}

#toggle_zoom {
  --menuitem-image: url("../icons/screenshot.svg");
}

/*= goPopup ==================================================================*/
#menu_showAllHistory {
  --menuitem-image: url("chrome://browser/skin/history.svg");
}
#sanitizeItem {
  --menuitem-image: url("../icons/forget.svg");
}

#sync-tabs-menuitem {
  --menuitem-image: url("chrome://browser/skin/sync.svg");
}
#historyRestoreLastSession {
  --menuitem-image: url("../icons/restore-session.svg");
}
#hiddenTabsMenu {
  --menuitem-image: url("../icons/eye-hide.svg")
}
#menu_searchHistory {
  --menuitem-image: url("chrome://global/skin/icons/search-glass.svg");
}
#historyUndoMenu {
  --menuitem-image: var(--uc-tab-icon);
}
#historyUndoWindowMenu {
  --menuitem-image: url("chrome://browser/skin/window.svg");
}

/* sub menu */
#historyUndoPopup .restoreallitem {
  --menuitem-image: url("../icons/movetowindow-16.svg");
}
#historyUndoWindowPopup .restoreallitem {
  --menuitem-image: url("../icons/restore-session.svg");
}

/*= bookmarksMenuPopup =======================================================*/
#bookmarksShowAll {
  --menuitem-image: url("chrome://browser/skin/bookmark-star-on-tray.svg");
}

#menu_bookmarkThisPage,
#menu_bookmarkAllTabs {
  --menuitem-image: url("chrome://browser/skin/bookmark-hollow.svg");
}
#menu_bookmarkThisPage[data-l10n-id="menu-bookmark-edit"] {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}

#menu_searchBookmarks {
  --menuitem-image: url("chrome://global/skin/icons/search-glass.svg");
}

#bookmarksToolbarFolderMenu {
}
#menu_unsortedBookmarks {
}
#menu_mobileBookmarks {
}

/*= menu_ToolsPopup ==========================================================*/
#menu_openDownloads {
  --menuitem-image: url("chrome://browser/skin/downloads/downloads.svg");
}
#menu_openAddons {
  --menuitem-image: url("chrome://mozapps/skin/extensions/extension.svg");
}
#sync-setup {
  --menuitem-image: url("chrome://browser/skin/fxa/avatar-empty.svg");
}
#sync-enable {
}
#sync-unverifieditem {
}
#sync-syncnowitem {
  --menuitem-image: url("chrome://browser/skin/sync.svg");
}
#sync-reauthitem {
}

#menu_openFirefoxView {
  --menuitem-image: url("chrome://branding/content/icon32.png");
}
#webDeveloperMenu, /* Legacy */
#browserToolsMenu {
  --menuitem-image: url("../icons/developer.svg");
}
#menu_pageInfo {
  --menuitem-image: url("../icons/document-endnote.svg");
}

/* menuWebDeveloperPopup sub menu */
#enableDeveloperTools {
}
#menu_devToolbox {
  /* checkbox */
  --menuitem-image: url("../icons/developer.svg");
}
#menu_taskManager {
  --menuitem-image: url("../icons/performance.svg");
}
#menu_devtools_remotedebugging {
  --menuitem-image: url("../icons/bug.svg");
}
#menu_browserToolbox {
  --menuitem-image: url("../icons/window-dev-tools.svg");
}
#menu_browserContentToolbox {
  --menuitem-image: url("../icons/command-frames.svg");
}
#menu_browserConsole {
  --menuitem-image: url("chrome://devtools/skin/images/command-console.svg");
}
#menu_responsiveUI {
  /* checkbox */
  --menuitem-image: url("../icons/command-responsivemode.svg");
}
#menu_eyedropper {
  /* checkbox */
  --menuitem-image: url("chrome://devtools/skin/images/command-eyedropper.svg");
}
#menu_pageSource {
  --menuitem-image: url("../icons/document-search.svg");
}
#extensionsForDevelopers {
  --menuitem-image: url("chrome://devtools/skin/images/debugging-addons.svg");
}

/*= windowPopup ==============================================================*/
#windowPopup > menuitem {
  &[command="minimizeWindow"] {
    --menuitem-image: url("../icons/arrow-between-down.svg");
  }
  &[command="zoomWindow"] {
    --menuitem-image: url("../icons/auto-fit-width.svg");
  }
}

/*= menu_HelpPopup ===========================================================*/
#menu_openHelp {
  --menuitem-image: url("chrome://global/skin/icons/help.svg");
}
#feedbackPage {
  --menuitem-image: url("../icons/send.svg");
}
#helpSafeMode {
  --menuitem-image: url("chrome://devtools/skin/images/debugging-workers.svg");
}
#troubleShooting {
  --menuitem-image: url("chrome://global/skin/icons/more.svg");
}
#help_reportSiteIssue {
  --menuitem-image: url("chrome://global/skin/icons/lightbulb.svg");
}
#menu_HelpPopup_reportPhishingtoolmenu {
  --menuitem-image: url("chrome://global/skin/icons/warning.svg");
}
#menu_HelpPopup_reportPhishingErrortoolmenu {
  --menuitem-image: url("../icons/checkmark-circle.svg");
}
#helpSwitchDevice {
  --menuitem-image: url("../icons/add-device.svg");
}

#aboutName {
  --menuitem-image: url("chrome://global/skin/icons/info.svg");
}

#helpPolicySupport {
}
