@import "shared";
/** Icons - List **************************************************************/
:root {
  @include initIcons;

  --uc-sidebar-icon: url("chrome://browser/skin/sidebars.svg");
  --uc-sidebar-icon-reverse: url("chrome://browser/skin/sidebars-right.svg");
  @include Has {
    &:has(#sidebar-box[positionend="true"]) {
      --uc-sidebar-icon: url("chrome://browser/skin/sidebars-right.svg");
      --uc-sidebar-icon-reverse: url("chrome://browser/skin/sidebars.svg");
    }
  }
}

/** Library - Icons Replace ***************************************************/
@include Option("userChrome.icon.library") {
  @import "../library/chrome";
}

/** Panel - Icons *************************************************************/
@include Option("userChrome.icon.panel") {
  @import "layout/panel";
  @import "panel";
}

/** Menu - Icons Layout *******************************************************/
@include Option("userChrome.icon.menu") {
  @import "layout/menu";
  @import "layout/bookmark_menu";

  @include Option("userChrome.icon.context_menu") {
    @import "context_menu";
  }
  @include Option("userChrome.icon.global_menubar") {
    @import "global_menubar";
  }
  @include Option("userChrome.icon.global_menu") {
    @import "global_menu";
  }
  @include Option("userChrome.icon.library") {
    @import "library";
  }
}

/** Icons for fork browsers ***************************************************/
@import "fork_browsers/index";
