@import "./layout_menu_common";

//-- Mixin ---------------------------------------------------------------------
// Items
$_iconNoneCommon: ".in-menulist, [checked=\"true\"]";
$_iconMenuitem: "menuitem:not(.menuitem-iconic, .bookmark-item, #{$_iconNoneCommon})";
$_iconMenu: "menu:not(.menu-iconic, #{$_iconNoneCommon})";

// Components
$_nestedPopupIcon: ":not(menu, #ContentSelectDropdown) > menupopup >";
$_nestedPopupPadding: ":not(menu, #ContentSelectDropdown, #context-navigation) > menupopup >";
$_iconMenuPopup: "menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)";

$_nestedPopupIconMenus: selector.nest(
  $_nestedPopupIcon,
  "#{$_iconMenuitem}, #{$_iconMenu}"
);
$_nestedPopupPaddingMenus: selector.nest(
  $_nestedPopupPadding,
  "#{$_iconMenuitem}, #{$_iconMenu}"
);
$_iconMenuPopupMenus: selector.nest(
  $_iconMenuPopup,
  "#{$_iconMenuitem}, #{$_iconMenu}"
);

$_globalMenus: "#main-menubar > menu";
$_libraryMenuitem: "menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem";
$_libraryMenu: "menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu";
$_sendTabMenuitem: "menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup, #context-sendlinktodevice-popup) > menuitem";
$_otherIconMenu: ".openintabs-menuitem, #blockedPopupDontShowMessage, #BMB_viewBookmarksToolbar";

$_layoutCommonMenus: (
  $_iconMenuPopupMenus,
  $_libraryMenuitem,
  $_libraryMenu,
  $_sendTabMenuitem,
  $_otherIconMenu
);
@mixin _layoutInitIconMenus() {
  #{$_globalMenus},
  #{$_nestedPopupIconMenus},
  #{$_layoutCommonMenus} {
    @content;
  }
}
@mixin _layoutInitPaddingMenus() {
  #{selector.nest($_nestedPopupPadding, "menuitem:not(.menuitem-iconic), menu:not(.menu-iconic)")},
  #{$_nestedPopupPaddingMenus},
  #{$_layoutCommonMenus} {
    @content;
  }
}
@mixin _layoutIconMenus() {
  #{$_nestedPopupPaddingMenus},
  #{$_layoutCommonMenus} {
    @content;
  }
}

//------------------------------------------------------------------------------
#{$_initialMenus},
#{$_globalMenus} {
  @include _initial_menus;
}

/* Icon */
@include _layoutInitIconMenus {
  @include _layout_icon_menus;
}

/* For native context menus */
#{$_nestedPopupIconMenus} {
  @include _layout_icon_native_menus;
}

/* Padding */
@include _layout_root_padding;
@include _layoutInitPaddingMenus {
  @include _layout_init_padding;
}

/* Menubar */
@include Option("userChrome.icon.global_menubar") {
  #{$_globalMenus} {
    background-position: left var(--context-menu-background-padding-default) center !important;
    padding-inline-start: calc(16px + var(--context-menu-background-padding-default)) !important;
    padding-inline-end: 3px;

    &:first-child {
      background-position: left calc(3px + var(--context-menu-background-padding-default)) center !important;
      padding-inline-start: calc(19px + var(--context-menu-background-padding-default)) !important;
    }
    > menupopup {
      --menuitem-image: none; /* Prevent Image Inheritance */
    }
    @include NotOption("userChrome.padding.global_menubar") {
      padding-block: 2px !important;
    }
  }
}

/* Padding - Windows */
// @include OS($win) {
//   /* Checkbox */
//   :root {
//     --context-menu-text-padding: calc(var(--menu-padding) + var(--context-menu-background-padding-default) + 16px);
//   }
//   :not(menu, #ContentSelectDropdown, #context-navigation)
//     > menupopup
//     > menuitem[type="checkbox"]:not([checked="true"])
//     > .menu-iconic-left {
//     padding-inline-start: var(--context-menu-text-padding);
//   }
// }

@include _layout_root_win7_8;
@include OS($win7, $win8) {
  @include _layoutIconMenus {
    @include _layout_init_win7_8();
  }
}
@include OS($win10) {
  @include _layout_root_win10;

  @include _layoutIconMenus {
    @include _layout_init_win10;
  }
}

/* Padding - Linux */
@include OS($linux) {
  @include _layout_root_linux;

  #{$_globalMenus} > .menubar-text {
    @include _layout_init_linux;
  }
}

/* Padding - Mac */
@include OS($mac) {
  @include _layout_root_mac;

  /* context menu width */
  #{$_nestedPopupPaddingMenus},
  #blockedPopupDontShowMessage {
    @include _layout_init_mac_width;
  }

  /* text position */
  #{selector.nest($_nestedPopupPadding, "menuitem > .menu-text, menu > .menu-text")} {
    @include _layout_init_mac_text;
  }

  /* Checkbox menuitem, None iconic menu */
  #{selector.nest($_nestedPopupPadding, "menuitem[checked=\"true\"], menu:not(.menu-iconic)")} {
    @include _layout_init_mac_others;
  }

  /* Global Menu */
  /* Disabled. some icons not appear
  #{$_iconMenuPopupMenus} {
    list-style-image: var(--menuitem-image, url("../icons/blank.svg"));
  }
 */
}
