//-- Mixin ---------------------------------------------------------------------
// Items
$_iconNoneCommon: ".in-menulist, [checked=\"true\"]";
$_iconMenuitem: "menuitem:not(.menuitem-iconic, .bookmark-item, #{$_iconNoneCommon})";
$_iconMenu: "menu:not(.menu-iconic, #{$_iconNoneCommon})";

// Components
$_nestedPopupIcon: ":not(menu, #ContentSelectDropdown) > menupopup >";
$_nestedPopupPadding: ":not(menu, #ContentSelectDropdown, #context-navigation) > menupopup >";
$_iconMenuPopup: "menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)";

$_nestedPopupIconMenus: selector.nest(
  $_nestedPopupIcon,
  "#{$_iconMenuitem}, #{$_iconMenu}"
);
$_nestedPopupPaddingMenus: selector.nest(
  $_nestedPopupPadding,
  "#{$_iconMenuitem}, #{$_iconMenu}"
);
$_iconMenuPopupMenus: selector.nest(
  $_iconMenuPopup,
  "#{$_iconMenuitem}, #{$_iconMenu}"
);

$_globalMenus: "#main-menubar > menu";
$_libraryMenuitem: "menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem";
$_libraryMenu: "menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu";
$_sendTabMenuitem: "menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup, #context-sendlinktodevice-popup) > menuitem";
$_otherIconMenu: ".openintabs-menuitem, #blockedPopupDontShowMessage, #BMB_viewBookmarksToolbar";

$_layoutCommonMenus: (
  $_iconMenuPopupMenus,
  $_libraryMenuitem,
  $_libraryMenu,
  $_sendTabMenuitem,
  $_otherIconMenu
);
@mixin _layoutInitIconMenus() {
  #{$_globalMenus},
  #{$_nestedPopupIconMenus},
  #{$_layoutCommonMenus} {
    @content;
  }
}
@mixin _layoutInitPaddingMenus() {
  #{selector.nest($_nestedPopupPadding, "menuitem:not(.menuitem-iconic), menu:not(.menu-iconic)")},
  #{$_nestedPopupPaddingMenus},
  #{$_layoutCommonMenus} {
    @content;
  }
}
@mixin _layoutIconMenus() {
  #{$_nestedPopupPaddingMenus},
  #{$_layoutCommonMenus} {
    @content;
  }
}

//------------------------------------------------------------------------------
#{selector.append(
   "menupopup menuitem, menupopup menu",
   ":not([type=\"checkbox\"][checked=\"true\"], [type=\"radio\"])"
)},
#{$_globalMenus} {
  -moz-appearance: none !important; /* Linux: menulist */
}

/* Icon */
@include _layoutInitIconMenus {
  /* Color */
  -moz-context-properties: fill, fill-opacity !important;
  fill: currentColor !important;

  /* Layout */
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-image: var(--menuitem-image);
}

/* For native context menus */
@include NativeMenu {
  #{$_nestedPopupIconMenus} {
    list-style-image: var(--menuitem-image, url("../icons/blank.svg")) !important;
  }
}

/* Padding */
:root {
  --context-menu-background-padding-default: 5px;
  --context-menu-background-padding: var(--context-menu-background-padding-default);
}
@include _layoutInitPaddingMenus {
  background-position: left var(--context-menu-background-padding) center !important;
  padding-inline-start: var(--context-menu-background-padding) !important;
}

/* Menubar */
@include Option("userChrome.icon.global_menubar") {
  #{$_globalMenus} {
    background-position: left var(--context-menu-background-padding-default) center !important;
    padding-inline-start: calc(16px + var(--context-menu-background-padding-default)) !important;
    padding-inline-end: 3px;

    &:first-child {
      background-position: left calc(3px + var(--context-menu-background-padding-default)) center !important;
      padding-inline-start: calc(19px + var(--context-menu-background-padding-default)) !important;
    }
    > menupopup {
      --menuitem-image: none; /* Prevent Image Inheritance */
    }
    @include NotOption("userChrome.padding.global_menubar") {
      padding-block: 2px !important;
    }
  }
}

/* Padding - Windows */
// @include OS($win) {
//   /* Checkbox */
//   :root {
//     --context-menu-text-padding: calc(var(--menu-padding) + var(--context-menu-background-padding-default) + 16px);
//   }
//   :not(menu, #ContentSelectDropdown, #context-navigation)
//     > menupopup
//     > menuitem[type="checkbox"]:not([checked="true"])
//     > .menu-iconic-left {
//     padding-inline-start: var(--context-menu-text-padding);
//   }
// }

@include OS($win7) {
  :root {
    --context-menu-background-padding-default: 2px;
  }
}
@include OS($win8) {
  :root {
    --context-menu-background-padding-default: 3px;
  }
}
@include OS($win7, $win8) {
  @include _layoutIconMenus {
    background-position: left var(--context-menu-background-padding) center !important;
    padding-inline-start: 0 !important;
  }
}
@include OS($win10) {
  :root {
    --context-menu-background-padding: 1em;
    --context-menu-text-padding: 24px; /* 16px + 8px */
    --menu-background-padding-default: calc(var(--context-menu-background-padding) + var(--context-menu-text-padding));
  }

  @include _layoutIconMenus {
    padding-inline-start: var(--menu-background-padding-default) !important;
    margin-left: 0 !important;
  }
}

/* Padding - Linux */
@include OS($linux) {
  :root {
    --context-menu-background-padding-default: 6px;
  }

  #{$_globalMenus} > .menubar-text {
    padding-inline-start: 3px;
  }
}

/* Padding - Mac */
@include OS($mac) {
  :root {
    --context-menu-background-padding-default: 10px;
    --context-menu-mac-padding: 21px;
  }

  /* context menu width */
  #{$_nestedPopupPaddingMenus},
  #blockedPopupDontShowMessage {
    padding-inline-end: var(--context-menu-background-padding) !important;
  }

  /* text position */
  #{selector.nest($_nestedPopupPadding, "menuitem > .menu-text, menu > .menu-text")} {
    padding-inline-start: var(--context-menu-mac-padding) !important;
  }

  /* Checkbox menuitem, None iconic menu */
  #{selector.nest($_nestedPopupPadding, "menuitem[checked=\"true\"], menu:not(.menu-iconic)")} {
    padding-inline-start: calc(var(--context-menu-background-padding) + var(--context-menu-mac-padding)) !important;
  }

  /* Global Menu */
  /* Disabled. some icons not appear
  #{$_iconMenuPopupMenus} {
    list-style-image: var(--menuitem-image, url("../icons/blank.svg"));
  }
 */
}
