/*= Bookmark Menu - Layout ===================================================*/
/* #goPopup(Legacy of historyMenuPoup), #historyMenuPopup, #bookmarksMenuPopup: looks like global menu
   * #BMB_bookmarksPopup: looks like arrow panel
   */

/* Empty Menu */
menupopup menupopup[emptyplacesresult] .menu-text,
#PersonalToolbar menupopup[emptyplacesresult] .menu-text {
  margin-inline-start: 0 !important;
}

/* Bookmark Popup - As Arrow Panel */
#BMB_bookmarksPopup,
#PersonalToolbar {
  --context-menu-background-padding: var(--arrowpanel-menuitem-padding-inline);
}

//-- Mixin ---------------------------------------------------------------------
// Items
$_bookmarkMenuitem: "menuitem:not(.menuitem-iconic, [disabled=\"true\"])";
$_bookmarkMenu: "menu:not(.menu-iconic)";

// Components
$_bookmarkPopup: "menupopup:is(#BMB_bookmarksPopup)";
$_bookmarkToolbar: "#PersonalToolbar menupopup[placespopup=\"true\"]";

$_bookmarkPopupMenus: selector.nest(
  $_bookmarkPopup,
  "#{$_bookmarkMenuitem}, #{$_bookmarkMenu}"
);
$_bookmarkToolbarMenus: selector.nest(
  $_bookmarkToolbar,
  "#{$_bookmarkMenuitem}, #{$_bookmarkMenu}"
);

@mixin _layoutBookmarkMenu() {
  #{$_bookmarkPopupMenus},
  #{$_bookmarkToolbarMenus} {
    @content;
  }
}
@mixin _layoutBookmarkPopup() {
  #{$_bookmarkPopupMenus} {
    @content;
  }
}
@mixin _layoutBookmarkToolbar() {
  #{$_bookmarkToolbarMenus} {
    @content;
  }
}

//------------------------------------------------------------------------------

/* Windows 7, 8 */
@include OS($win7, $win8) {
  /* Global Menu */
  menupopup:is(#goPopup, #historyMenuPopup, #bookmarksMenuPopup) .bookmark-item {
    padding-inline-start: 0 !important;
  }

  /* Bookmark Popup - None icon menu */
  #BMB_bookmarksPopup,
  #PersonalToolbar {
    --arrowpanel-menuicon-padding: 9px;
  }
  @include _layoutBookmarkMenu() {
    margin-inline: var(--arrowpanel-menuitem-padding-inline) !important;
    background-position: left calc(var(--arrowpanel-menuicon-padding)) center !important;
  }
  @include _layoutBookmarkPopup() {
    padding-inline-start: calc(var(--arrowpanel-menuicon-padding) + var(--context-menu-text-padding) + 2px) !important;
  }
  @include _layoutBookmarkToolbar() {
    padding-inline-start: var(--arrowpanel-menuicon-padding) !important;
  }
}

/* Windows */
@include OS($win10) {
  /* Bookmark Popup - None icon menu */
  @include _layoutBookmarkMenu() {
    margin-inline: var(--arrowpanel-menuitem-padding-inline) !important;
    padding-inline-start: calc(var(--arrowpanel-menuicon-padding) + var(--context-menu-text-padding)) !important;
    background-position: left calc(var(--arrowpanel-menuicon-padding)) center !important;
  }
}

/* Linux */
@include OS($linux) {
  /* Global Menu */
  menupopup:is(#goPopup, #historyMenuPopup, #bookmarksMenuPopup) .bookmark-item {
    padding-inline-start: var(--context-menu-background-padding) !important;
  }

  /* Bookmark Popup - Iconic menu */
  #BMB_bookmarksPopup .menu-iconic-text,
  #PersonalToolbar menupopup[placespopup="true"] .bookmark-item .menu-iconic-text {
    padding-inline-start: 1px !important;
  }
  /* Bookmark Popup - None icon menu */
  @include _layoutBookmarkMenu() {
    padding-inline-start: calc(var(--arrowpanel-menuitem-padding-inline) + 1px) !important;
  }
}

@include OS($mac) {
  /* Bookmark Popup - As Arrow Panel */
  #PersonalToolbar menupopup menuitem,
  #PersonalToolbar menupopup menu {
    padding-inline: calc(var(--arrowpanel-menuicon-padding) + var(--arrowpanel-menuitem-padding-inline)) !important;
  }

  /* Bookmark Popup - None icon menu */
  @include _layoutBookmarkPopup() {
    padding-inline-start: calc(var(--arrowpanel-menuitem-padding-inline) + 3px) !important;
  }
}
