#appMenu-restart-button {
  list-style-image: url("./icons/refresh-cw.svg") !important;
}
#menu_FileRestartItem {
  --menuitem-image: url("./icons/refresh-cw.svg");
}

menuitem.privatetab-icon {
  list-style-image: url("./icons/priavate-favicon.svg") !important;
  fill: currentColor;
  -moz-context-properties: fill;
}
