@include NotOption("userChrome.sidebar.hidden_header.vertical_tab_only") {
  #sidebar-header {
    display: none !important;
  }
}

@include Option("userChrome.sidebar.hidden_header.vertical_tab_only") {
  #sidebar-box:is(
    [sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"],
    [sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"],
    [sidebarcommand="sidebartabs_asamuzak_jp-sidebar-action"]
  ) #sidebar-header {
    display: none !important;
  }
}
