@include Option("userChrome.sidebar.overlap", "userChrome.autohide.sidebar") {
  #sidebar-box {
    /* Original
    min-width: 14em;
    width: 18em;
    max-width: 36em;
   */

    --uc-sidebar-width: 40px;
    --uc-sidebar-activate-width: 18em;
    --uc-sidebar-activate-width-reverse: calc(-1 * var(--uc-sidebar-activate-width));
    --uc-sidebar-fullscreen-width: 4px;
    --uc-sidebar-shadow-color: #28282F;

    --uc-autohide-sidebar-speed: 750ms;
    --uc-autohide-fullscreen-sidebar-speed: 1s;
    --uc-autohide-sidebar-delay: 600ms; /* Wait 0.6s before hiding sidebar */

    z-index: 1 !important;
    position: relative !important;

    box-shadow: 1px 0px 15px -10px var(--uc-sidebar-shadow-color);
    &[positionend="true"] {
      box-shadow: -1px 0px 15px -10px var(--uc-sidebar-shadow-color);
    }
  }

  #sidebar {
    display: block;
  }

  #sidebar-splitter {
    display: none !important;
  }
}

@include Option("userChrome.sidebar.overlap") {
  #sidebar-box[positionend="true"] {
    direction: rtl;
  }

  #sidebar-header,
  #sidebar {
    background-color: var(--sidebar-background-color) !important;
    color: var(--sidebar-text-color) !important;
    overflow: hidden;
  }

  @include NotOption("userChrome.autohide.sidebar") {
    #sidebar-box,
    #sidebar {
      min-width: var(--uc-sidebar-activate-width) !important;
      max-width: var(--uc-sidebar-activate-width) !important;
    }

    #sidebar-box {
      margin-inline-start: var(--uc-sidebar-activate-width-reverse) !important;
      will-change: padding-inline;

      &:not([hidden="true"]) {
        padding-inline-start: var(--uc-sidebar-activate-width);
      }

      @include Animate {
        transition: padding-inline-start 0.25s var(--animation-easing-function), opacity 0.25s ease-in-out,
                    visibility 0s linear !important;
      }
    }
  }
}
