@include OneLinerNavbarContent() {
  @include Option("userChrome.hidden.tabbar") {
    #TabsToolbar {
      display: none !important;
    }
  }

  @include Option("userChrome.hidden.navbar") {
    #nav-bar {
      visibility: collapse; /* display: none is not work */
    }
  }
}

@include Option("userChrome.hidden.tab_icon") {
  .tabbrowser-tab:not([pinned="true"]) {
    @include NotOption("userChrome.hidden.tab_icon.always") {
      .tab-icon-image {
        display: none;
      }
    }
    @include Option("userChrome.hidden.tab_icon.always") {
      .tab-icon-stack {
        display: none;
      }
    }
  }
}

@include Option("userChrome.hidden.private_indicator") {
  // :root:not([privatebrowsingmode=temporary]) .private-browsing-indicator,
  // :root[privatebrowsingnewindicator] .private-browsing-indicator,
  // :root:not([privatebrowsingnewindicator]) #private-browsing-indicator-with-label,
  // :root:not([privatebrowsingmode=temporary]) #private-browsing-indicator-with-label {
  // }
  .private-browsing-indicator,
  #private-browsing-indicator-with-label {
    display: none;
  }
}

@include Option("userChrome.hidden.titlebar_container") {
  .titlebar-buttonbox-container {
    display: none !important;
  }
}

@include Option("userChrome.hidden.sidebar_header") {
  @include NotOption("userChrome.hidden.sidebar_header.vertical_tab_only") {
    #sidebar-header {
      display: none !important;
    }
  }

  @include Option("userChrome.hidden.sidebar_header.vertical_tab_only") {
    #sidebar-box:is(
      [sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"],
      [sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"],
      [sidebarcommand="sidebartabs_asamuzak_jp-sidebar-action"]
    ) #sidebar-header {
      display: none !important;
    }
  }
}

@include Option("userChrome.hidden.urlbar_iconbox") {
  #identity-box[pageproxystate="valid"] {
    @include NotOption("userChrome.hidden.urlbar_iconbox.label_only") {
      &.notSecureText #identity-icon-label,
      &.chromeUI #identity-icon-box,
      &.extensionPage #identity-icon-box {
        display: none;
      }

      &.notSecureText #identity-icon-box {
        padding-inline-end: 5px; /* Original: 8px */
      }
    }
    @include Option("userChrome.hidden.urlbar_iconbox.label_only") {
      &.notSecureText,
      &.chromeUI,
      &.extensionPage {
        margin-inline-end: var(--identity-box-margin-inline) !important;
      }

      &.chromeUI #identity-icon-box,
      &.extensionPage #identity-icon-box {
        &:not(:hover) {
          background-color: transparent !important;
        }

        @include NotOption("userChrome.urlbar.iconbox_with_separator") {
          padding-inline: var(--urlbar-icon-padding) !important;
        }
      }

      #identity-icon-label {
        display: none !important;
      }
    }
  }
}

#PlacesToolbarItems .bookmark-item {
  @include Option("userChrome.hidden.bookmarkbar_icon") {
    > .toolbarbutton-icon {
      display: none;
    }
  }
  @include Option("userChrome.hidden.bookmarkbar_label") {
    > .toolbarbutton-text {
      visibility: collapse; /* display: none is not work */
    }
  }
}

@include Option("userChrome.hidden.disabled_menu") {
  menu,
  menuitem:not(#context-back, #context-forward) {
    &[disabled="true"] {
      visibility: collapse !important;
    }
  }

  @include NativeToolkitMenu {
    #context-back,
    #context-forward {
      &[disabled="true"] {
        visibility: collapse !important;
      }
    }
  }
}
