/*= GTK - URL View url accent color ==========================================*/
@include OS($linux) {
  :root:not(:-moz-lwtheme) .urlbarView-url {
    @include AccentColor {
      --urlbar-popup-url-color: #{$accentColor};
    }
  }

  // #864
  :root:not(:-moz-lwtheme) {
    // Rollback to color
    --toolbar-field-background-color: Field !important;
    --toolbar-field-color: FieldText !important;
    --toolbar-field-border-color: ThreeDShadow !important;

    #urlbar-background, #searchbar {
      // Original: light-dark(rgba(0, 0, 0, .05), rgba(0, 0, 0, .3))
      background-color: var(--toolbar-field-background-color) !important;
    }
  }
}
