/*= Common - URL Bar focus color =============================================*/
// TODO: `OS` Not covered case
$_urlBarFocusSelector: ":root:is([tabsintitlebar], [customtitlebar]):not(:-moz-window-inactive)#{$not_lwtheme}";
$_urlBarFocusDarkSelector: ":root:is([tabsintitlebar], [customtitlebar])[lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive)";

@media (-moz-windows-accent-color-in-titlebar), (-moz-gtk-csd-available) {
  /* URL Bar */
  @include AccentColor {
    #{$_urlBarFocusSelector},
    #{$_urlBarFocusDarkSelector} {
      --focus-outline-color: #{$accentColor} !important;
    }

    #{$_urlBarFocusSelector} #urlbar[open] > #urlbar-background,
    #{$_urlBarFocusDarkSelector} #urlbar[open] > #urlbar-background {
      border-color: color-mix(
        in srgb,
        $accentColor 50%,
        transparent
      ) !important; /* Like: --toolbar-field-focus-border-color */
    }
  }
}
