@mixin pinnedCloseButtonShow($prefix: "") {
  #{$prefix} .tab-close-button {
    display: -moz-box !important;
    -moz-box-ordinal-group: 0 !important;

    /* Looks like hover */
    width: 24px !important;
    height: 24px !important;
    margin-inline: -4px !important; /* (24px - 16px) / 2 */
  }
}
@mixin pinnedIconStackLayout($prefix: "") {
  #{$prefix} .tab-icon-stack {
    width: 0 !important;
    position: absolute;
    bottom: 8px;
  }
}
@mixin pinnedIconHide($prefix: "") {
  #{$prefix} .tab-icon-image {
    display: none !important;
  }
}

.tabbrowser-tab[pinned] {
  @include pinnedCloseButtonShow("&[visuallyselected]:not([busy]):hover");
  @include pinnedIconStackLayout("&[visuallyselected]:not([busy]):hover");
  @include pinnedIconHide("&[visuallyselected]:hover");

  @include Option("userChrome.tab.close_button_at_pinned.always") {
    @include pinnedCloseButtonShow("&[visuallyselected]:not([busy])");
    @include pinnedIconStackLayout("&[visuallyselected]:not([busy])");
    @include pinnedIconHide("&[visuallyselected]");
  }
  @include Option("userChrome.tab.close_button_at_pinned.background") {
    @include pinnedCloseButtonShow("&:not([busy]):hover");
    @include pinnedIconStackLayout("&:not([busy]):hover");
    @include pinnedIconHide("&:hover");
  }
}
