#nav-bar {
  --uc-backbutton-background:  var(--toolbarbutton-hover-background, hsla(0,100%,100%,.5));
  --uc-backbutton-hover-background: var(--toolbarbutton-active-background);
  --uc-backbutton-active-background: color-mix(in srgb, currentColor 20%, transparent);
}

#nav-bar-customization-target > {
  #urlbar-container {
    /* var(--urlbar-margin-inline) */
    margin-inline-start: calc(-1 * var(--uc-toolbarbutton-size)) !important;

    > #urlbar:not([breakout][breakout-extend]) {
      padding-left: var(--uc-toolbarbutton-size);
    }
  }

  #forward-button {
    z-index: 2;
    position: relative;

    margin-inline-start: calc(-1 * var(--uc-toolbarbutton-boundary) + 1px) !important;
    padding-inline-end: 0px !important; /* Original: var(--toolbarbutton-outer-padding) */

    > .toolbarbutton-icon {
      padding-inline-end: var(--urlbar-icon-padding) !important; /* Original: var(--toolbarbutton-inner-padding) */
      padding-block: var(--urlbar-icon-padding) !important;
      height: var(--uc-urlbar-icon-size) !important;
    }
  }

  #back-button {
    position: relative;

    z-index: 3 !important;
    background-color: var(--toolbar-bgcolor) !important;
    background-clip: content-box !important;
    border-radius: 100%;

    padding-block: 0 !important;
    padding-inline-end: 0 !important;

    > menupopup {
      margin-top: -1px !important;
    }

    > .toolbarbutton-icon {
      background-color: var(--uc-backbutton-background);
      background-origin: padding-box;
      background-clip: padding-box;
      border: 1px solid var(--uc-backbutton-border-color);
      border-radius: 10000px !important;

      padding-inline-end: var(--urlbar-icon-padding) !important;
      height: auto !important
    }

    &:not([disabled], [open]):hover > .toolbarbutton-icon {
      background-color: var(--uc-backbutton-hover-background) !important;
      box-shadow: 0 1px 6px hsla(0,0%,0%,.1);
      border-color: hsla(240,5%,5%,.35);
    }
    &[open] > .toolbarbutton-icon,
    &:not([disabled]):hover:active > .toolbarbutton-icon {
      background-color: var(--uc-backbutton-active-background) !important;
      border-color: hsla(240,5%,5%,.40);
    }

    &[disabled="true"] {
      opacity: 1 !important; /* Original: 0.4 */

      > .toolbarbutton-icon {
        background-color:  color-mix(in srgb, var(--toolbarbutton-hover-background), var(--toolbar-field-background-color) 40%) !important;
        fill: color-mix(in srgb, var(--toolbarbutton-icon-fill), transparent 60%);
      }
    }
  }
}
