/*= Url Bar - Always show page actions =======================================*/
@include Option("userChrome.urlbar.always_show_page_actions") {
  @import "always_show_page_actions";
}

/*= Url Bar - Combined buttons ===============================================*/
@include Option("userChrome.urlbar.combined_with_reload", "userChrome.urlbar.combined_with_back_forward") {
  // Init
  #nav-bar {
    --uc-toolbarbutton-boundary: calc(var(--toolbarbutton-outer-padding) + var(--toolbarbutton-inner-padding));
    --uc-toolbarbutton-padding: calc(2 * var(--uc-toolbarbutton-boundary));
    --uc-toolbarbutton-size: calc(12px + var(--uc-toolbarbutton-padding));

    --uc-urlbar-icon-size: calc(16px + 2 * var(--urlbar-icon-padding));
  }

  #nav-bar-customization-target > * {
    -moz-box-ordinal-group: 1;
  }
  // Preserve
  // `back`    -> 2
  // `home`    -> 3
  // `forward` -> 4
  #nav-bar-customization-target > #urlbar-container {
    -moz-box-ordinal-group: 5;
  }
  // `reload`  -> 6
  #nav-bar-customization-target > #urlbar-container ~ * {
    -moz-box-ordinal-group: 7;
  }
}

@include Option("userChrome.urlbar.combined_with_reload") {
  #nav-bar-customization-target > #stop-reload-button {
    -moz-box-ordinal-group: 6;
  }

  @import "reload_button";
}

@include Option("userChrome.urlbar.combined_with_back_forward") {
  #nav-bar-customization-target > #back-button {
    -moz-box-ordinal-group: 2;
  }
  #nav-bar-customization-target > #forward-button {
    -moz-box-ordinal-group: 4;
  }

  @import "back_forward_button";
}
