$toolbox-transition-margin-top: margin-top 1s ease;
$toolbox-transition-margin-top-fullscreen: margin-top 1.3s var(--animation-easing-function) 50ms;
$toolbox-transition-margin-bottom: margin-bottom var(--uc-autohide-toolbar-speed) var(--animation-easing-function) var(--uc-autohide-toolbar-delay);
$toolbox-transition-background-color: background-color 0.2s var(--animation-easing-function);
$toolbox-transition-background-color-inactive: background-color 0.5s var(--animation-easing-function);
