#appMenu-proton-update-banner,
#appMenu-fxa-status2:not([fxastatus]) > #appMenu-fxa-label2,
#appMenu-zoomReduce-button2,
#appMenu-zoomReset-button2,
#appMenu-zoomEnlarge-button2,
#appMenu-fullscreen-button2,
#panelMenu_showAllBookmarks,
#PanelUI-historyMore,
#appMenuClearRecentHistory:not([disabled]),
#appMenu-library-recentlyClosedTabs > .restoreallitem.panel-subview-footer-button,
#appMenu-library-recentlyClosedWindows > .restoreallitem.panel-subview-footer-button,
#BMB_viewBookmarksSidebar,
#BMB_bookmarksShowAllTop,
#BMB_bookmarksShowAll,
.urlbarView-row:is([type="switchtab"], [type="remotetab"], [type="clipboard"]) .urlbarView-action,
#import-button,
menuitem.openintabs-menuitem,
#downloadsListBox .downloadButton,
#downloadsListBox .download-state[exists],
#downloadsListBox .download-state[exists] .downloadDetails,
#downloadsHistory,
#protections-popup-footer .protections-popup-footer-button,
#protections-popup-multiView .panel-subview-footer-button,
#identity-popup-clear-sitedata-button,
#identity-popup-more-info,
#unified-extensions-manage-extensions,
.unified-extensions-item-open-menu,
.unified-extensions-item-menu-button.subviewbutton,
#PopupAutoComplete > richlistbox > richlistitem[originaltype="insecureWarning"] > .ac-title > .ac-text-overflow-container > .ac-title-text {
  cursor: pointer !important;
}

#PanelUI-fxa-menu-syncnow-button:has(.syncnow-label[data-l10n-id="fxa-toolbar-sync-syncing2"]),
#PanelUI-fxa-menu-syncnow-button .syncnow-label[data-l10n-id="fxa-toolbar-sync-syncing2"],
#PanelUI-appMenu-fxa-image-last-synced[syncstatus="active"] {
  cursor: progress !important;
}
