/*- URL, Search Bar --------------------------------------------------------*/
#urlbar:hover:not([focused="true"]) > #urlbar-background,
#searchbar:hover:not(:focus-within) {
  --toolbar-field-border-color: var(--toolbar-field-focus-border-color);
}

@include Option("userChrome.combined.urlbar_with_reload") {
  #nav-bar-customization-target > #stop-reload-button:hover ~ #urlbar-container #urlbar:not([focused="true"]) > #urlbar-background {
    --toolbar-field-border-color: var(--toolbar-field-focus-border-color);
  }
}

/*- Other Fields -----------------------------------------------------------*/
/* Sidebar */
.sidebar-panel[lwt-sidebar] #search-box:hover,
body[lwt-sidebar] xul|search-textbox.tabsFilter:hover {
  @include AccentColor("Highlight") {
    border-color: var(--lwt-sidebar-highlight-background-color, $accentColor) !important;
  }
}
.sidebar-panel:not([lwt-sidebar]) #search-box:hover,
body:not([lwt-sidebar]) xul|search-textbox.tabsFilter:hover {
  @include AccentColor {
    border-color: $accentColor !important;
  }
}

/* Others */
#editBMPanel_namePicker:hover,
#editBMPanel_tagsField:hover,
.findbar-container .findbar-textbox:hover {
  @include AccentColor {
    --input-border-color: color-mix(in srgb, var(--focus-outline-color, #{$accentColor}) 50%, transparent);
  }
}
