:root:not([chromehidden~="toolbar"]) #PanelUI-button {
  // Original: not include at [uidensity=compact]
  margin-inline-start: 3px;
  padding-inline-start: 2px;
  border-inline-start: 1px solid;
  border-image: linear-gradient(
    transparent 4px,
    var(--toolbarseparator-color) 4px,
    var(--toolbarseparator-color) calc(100% - 4px),
    transparent calc(100% - 4px)
  );
  border-image-slice: 1;
}
