#appMenu-popup {
  margin-top: -8px !important; /* Original: -4px */
  padding-top: 4px;

  background-image: url("../icons/panelarrow-vertical.svg");
  background-repeat: no-repeat;
  background-position: top  right 10px;

  -moz-context-properties: fill, stroke;
  fill: var(--panel-background);
  stroke: var(--panel-border-color);
}
