:root {
  --uc-autohide-toolbar-speed: 0.25s;
  --uc-autohide-toolbar-delay: 600ms;
}

@include Option("userChrome.autohide.tabbar", "userChrome.autohide.navbar", "userChrome.autohide.bookmarkbar", "userChrome.tabbar.one_liner", "userChrome.hidden.tabbar") {
  :root {
    --uc-tabbar-height: var(--tab-min-height); // calc((var(--tab-block-margin) * 2) + var(--tab-min-height));
    --uc-tabbar-hide-height: calc(-1 * var(--uc-tabbar-height));
    --uc-navbar-height: calc(16px + 2 * (var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding)));
    --uc-navbar-hide-height: calc(-1 * var(--uc-navbar-height));
    --uc-bm-height: calc(20px + (2 * var(--bookmark-block-padding, 4px))); /* 20px = 16px + (2px * 2) [margin block] */
    --uc-bm-hide-height: calc(-1 * var(--uc-bm-height));

    @include Option("userChrome.hidden.tabbar") {
      @include OneLinerNavbarContent() {
        --uc-tabbar-height: 0px;
      }
    }
    @include Option("userChrome.hidden.navbar") {
      --uc-navbar-height: 0px;
    }
  }
  @include Has {
    #navigator-toolbox:has(#PersonalToolbar[collapsed="true"]) {
      --uc-bm-height: 0px;
    }
  }
}

@include Option("userChrome.autohide.tabbar", "userChrome.autohide.navbar", "userChrome.autohide.bookmarkbar", "userChrome.autohide.infobar") {
  #navigator-toolbox {
    position: relative;
    &:is(:hover, :focus-within) {
      z-index: 2;

      #PersonalToolbar {
        z-index: -1;
      }
    }
  }
  #navigator-toolbox:not(:hover):not(:focus-within) {
    animation: 1s keepfront;
  }
  @keyframes keepfront {
    from {
      z-index: 3;
    }
    to {
      z-index: 3;
    }
  }

  #sidebar-box:is(:hover, :focus-within) {
    position: relative;
    z-index: 2 !important;
  }

  @include Option("userChrome.autohide.toolbar_overlap") {
    @import "toolbar_overlap";
  }
}
