@include Option("userChrome.autohide.tabbar", "userChrome.autohide.navbar", "userChrome.autohide.bookmarkbar", "userChrome.tab.one_liner") {
  :root {
    --uc-tabbar-height: calc((var(--tab-block-margin) * 2) + var(--tab-min-height));
    --uc-tabbar-hide-height: calc(-1 * var(--uc-tabbar-height));
    --uc-navbar-height: calc(16px + 2 * (var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding)));
    --uc-navbar-hide-height: calc(-1 * var(--uc-navbar-height));
    --uc-bm-height: calc(20px + (2 * var(--bookmark-block-padding, 4px))); /* 20px = 16px + (2px * 2) [margin block] */
    --uc-bm-hide-height: calc(-1 * var(--uc-bm-height));
  }
}

@include Option("userChrome.autohide.tabbar", "userChrome.autohide.navbar", "userChrome.autohide.bookmarkbar") {
  :root {
    --uc-autohide-toolbar-delay: 600ms;
  }

  #navigator-toolbox {
    position: relative;
    z-index: 2;
  }

  #TabsToolbar {
    position: relative;
    z-index: 3;
  }

  @include Option("userChrome.autohide.toolbar_overlap") {
    @import "toolbar_overlap";
  }
}
