@include OneLinerNavbar {
  #nav-bar:not([customizing]) {
    margin-bottom: var(--uc-navbar-hide-height);
    opacity: 0;
    will-change: margin-bottom, opacity;
  }
  #navigator-toolbox:is(:hover, :focus-within) #nav-bar:not([customizing]) {
    margin-bottom: 0;
    opacity: 1;
  }
}

@include Animate {
  #nav-bar:not([customizing]) {
    transition: margin-bottom var(--uc-autohide-toolbar-speed) var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                opacity var(--uc-autohide-toolbar-speed) var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                var(--ext-theme-background-transition) !important;

    @include Option("userChrome.autohide.fill_urlbar") {
      transition: margin-inline var(--uc-autohide-toolbar-speed) var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                  margin-bottom var(--uc-autohide-toolbar-speed) var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                  opacity var(--uc-autohide-toolbar-speed) var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                  var(--ext-theme-background-transition) !important;
    }
  }
  #navigator-toolbox:is(:hover, :focus-within) #nav-bar:not([customizing]) {
    transition-delay: 0s !important;
  }
}
