#nav-bar:not([customizing]) {
  margin-bottom: var(--uc-titlebar-hide-height);
  opacity: 0;
  will-change: margin-bottom, opacity;
}

#navigator-toolbox:is(:hover, :focus-within) #nav-bar:not([customizing]) {
  margin-bottom: 0;
  opacity: 1;
}

@include Animate {
  #nav-bar:not([customizing]) {
    transition: margin-bottom 0.25s var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                opacity 0.25s var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                var(--ext-theme-background-transition) !important;
  }
  #navigator-toolbox:is(:hover, :focus-within) #nav-bar:not([customizing]) {
    transition-delay: 0s !important;
  }
}
