@include OneLinerNavbar {
  #nav-bar:not([customizing]) {
    margin-bottom: var(--uc-navbar-hide-height);

    // Why use #urlbar? - Prevent URLbar overlay #1028
    &, #urlbar {
      opacity: 0;
      will-change: margin-bottom, opacity;
    }
  }
  #navigator-toolbox:is(:hover, :focus-within) #nav-bar:not([customizing]) {
    margin-bottom: 0;

    &, #urlbar {
      opacity: 1;
    }
  }
  // #1028
  #navigator-toolbox:not(:hover, :focus-within) #nav-bar:not([customizing]) #urlbar {
    pointer-events: none;
  }
}

// Drag & Drop Event #820
#mainPopupSet:not(:hover)~#navigator-toolbox:not(:hover, :focus-within) #nav-bar:not([customizing]) {
  -moz-window-dragging: no-drag;
}

@include Animate {
  #nav-bar:not([customizing]) {
    transition: margin-bottom var(--uc-autohide-toolbar-speed) var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                opacity var(--uc-autohide-toolbar-speed) var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                var(--ext-theme-background-transition) !important;

    @include Option("userChrome.autohide.fill_urlbar") {
      transition: margin-inline var(--uc-autohide-toolbar-speed) var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                  margin-bottom var(--uc-autohide-toolbar-speed) var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                  opacity var(--uc-autohide-toolbar-speed) var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                  var(--ext-theme-background-transition) !important;
    }

    #urlbar {
      transition: opacity var(--uc-autohide-toolbar-speed) var(--animation-easing-function) var(--uc-autohide-toolbar-delay) !important;
    }
  }
  #navigator-toolbox:is(:hover, :focus-within) #nav-bar:not([customizing]) {
    &, #urlbar {
      transition-delay: 0s !important;
    }
  }
}
