#navigator-toolbox:not(:hover) > #titlebar {
  -moz-window-dragging: no-drag !important;
  pointer-events: none
}

:root:not([customizing]) #titlebar {
  margin-bottom: var(--uc-titlebar-hide-height);
  will-change: margin-bottom;
}
#TabsToolbar:not([customizing]) {
  opacity: 0;
  will-change: opacity;
}

#navigator-toolbox:is(:hover, :focus-within) {
  > #titlebar {
    margin-bottom: 0px;
  }
  #TabsToolbar {
    opacity: 1;
  }
}

@include Animate {
  #titlebar:not([customizing]) {
    transition: margin-bottom 0.25s var(--animation-easing-function) var(--uc-autohide-toolbar-delay),
                background-color 1s var(--animation-easing-function) !important;
  }

  #TabsToolbar:not([customizing]) {
    transition: opacity 0.25s var(--animation-easing-function) var(--uc-autohide-toolbar-delay) !important;
  }

  #navigator-toolbox:is(:hover, :focus-within) {
    transition-delay: 0s !important;

    > #titlebar:not([customizing]) {
      transition-delay: 0s !important;
    }

    #TabsToolbar:not([customizing]) {
      transition-delay: 0s !important;
    }
  }
}
