/* Full width separators */
:root {
  /* Original
--panel-separator-margin-vertical: 4px;
--panel-separator-margin-horizontal: 8px;
--panel-separator-margin: var(--panel-separator-margin-vertical) var(--panel-separator-margin-horizontal);
 */
  --panel-separator-margin-horizontal: 0 !important;
}
