/* Original
--arrowpanel-menuitem-margin: 0 8px;
--arrowpanel-menuitem-padding-block: 8px;
--arrowpanel-menuitem-padding-inline: 8px;
--arrowpanel-menuitem-padding: var(--arrowpanel-menuitem-padding-block) var(--arrowpanel-menuitem-padding-inline);
*/

:root,
:root:is([uidensity="compact"], [uidensity="touch"]) {
  --arrowpanel-menuitem-margin: 0 !important;
  --arrowpanel-menuitem-margin-inline: 0 !important;
  --arrowpanel-menuitem-padding-inline: calc(var(--arrowpanel-menuitem-padding-block) + 8px) !important;
}
