/*= Library Popup ============================================================*/
@include moz-document(url "chrome://browser/content/places/places.xhtml") {
  @include OS($linux) {
    @import "../../library/proton";
  }
}
