#sanitizeEverythingWarningIcon {
  list-style-image: url("chrome://global/skin/icons/warning.svg") !important;
  -moz-context-properties: fill;
  fill: var(--uc-warning-icon-bgcolor);

  width: 48px;
  height: 48px;
}
