#TabsToolbar {
  --uc-multiselected-tab-bgcolor: color-mix(in srgb, currentColor 28%, var(--toolbar-bgcolor, transparent));

  &[brighttext] {
    --uc-multiselected-tab-bgcolor: color-mix(in srgb, currentColor 16%, var(--toolbar-bgcolor, transparent));
  }
}

#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected]:not([selected]) {
   /* Original:
   background-attachment: scroll, scroll, fixed;
   background-color: transparent;
   background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent), var(--lwt-selected-tab-background-color, transparent)),
                     linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                     var(--lwt-header-image, none);
   background-position: 0 0, 0 0, right top;
   background-repeat: repeat-x, repeat-x, no-repeat;
   background-size: auto 100%, auto 100%, auto auto;
   */
  // background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
  //   linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, none) !important;

  background-attachment: scroll, fixed !important;
  background-color: transparent !important;
  background-image: linear-gradient(var(--uc-multiselected-tab-bgcolor), var(--uc-multiselected-tab-bgcolor)),
                    var(--lwt-header-image, none) !important;
  background-position: 0 0, right top !important;
  background-repeat: repeat-x, no-repeat !important;
  background-size: auto 100%, auto auto !important;
}

@include Option("userChrome.tab.connect_to_window") {
  .tab-background[multiselected=true] {
    outline: none !important;
  }
}
@include NotOption("userChrome.tab.connect_to_window") {
  /* Backport from FF 99 */
  .tab-background[multiselected=true] {
    outline: 1px solid color-mix(in srgb, var(--focus-outline-color, currentColor) 40%, transparent);
    outline-offset: -1px;
  }

  .tab-background[multiselected=true][selected] {
    outline-width: 2px;
    outline-offset: -2px;
  }
}
