.tab-context-line {
  @include InlineBox(true);
  height: 2px !important;
  border-radius: var(--tab-border-radius, 4px) var(--tab-border-radius, 4px) 0 0 !important;
}

.tabbrowser-tab:is([selected], [multiselected]) .tab-context-line {
  /* Photon like color
     Default: var(--tab-line-color, rgb(10, 132, 255))
     Automatic: color-mix(in srgb, var(--button-primary-bgcolor) 80%, transparent)

     FF v96+ replace by var(--lwt-tab-line-color) */
  background-color: var(--tab-line-color, var(--lwt-tab-line-color, rgb(10, 132, 255))) !important;
}

.tabbrowser-tab:hover:not([selected="true"], [multiselected]) > .tab-stack > .tab-background > .tab-context-line {
  background-color: rgba(0, 0, 0, 0.2) !important;
  opacity: 1 !important;
  transform: none !important;
}
#TabsToolbar[brighttext]
  .tabbrowser-tab:hover:not([selected="true"], [multiselected])
  > .tab-stack
  > .tab-background
  > .tab-context-line {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/* Prevent identity color flashing */
.tabbrowser-tab[usercontextid] .tab-context-line {
  --identity-icon-color: none;
}
:root:not([customizing="true"]) #TabsToolbar[brighttext] tab[visuallyselected] > stack::before,
:root:not([customizing="true"]) #TabsToolbar[brighttext] tab[visuallyselected] > stack::after {
  /* As Selected Tab - Box Shadow */
  stroke: var(--toolbar-color) !important;
}

/* Animation */
.tabbrowser-tab:not([selected="true"], [multiselected]) .tab-context-line {
  opacity: 0 !important;
  transform: scaleX(0) !important;
}
@media (prefers-reduced-motion: no-preference) {
  .tabbrowser-tab:not([selected="true"], [multiselected]) .tab-context-line {
    transition: transform 250ms var(--animation-easing-function), opacity 250ms var(--animation-easing-function) !important; /* --animation-easing-function: cubic-bezier(.07, .95, 0, 1); */
  }
}

/* Remove side's background color border */
#TabsToolbar[brighttext]
  #tabbrowser-tabs:not([noshadowfortests])
  .tabbrowser-tab:is([visuallyselected], [multiselected])
  > .tab-stack
  > .tab-background:-moz-lwtheme {
  --tabs-border-color: rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 0 1px var(--tabs-border-color) !important; /* Original: 0 0 1px var(--tab-line-color, rgba(128,128,142,0.9)) */
}
#TabsToolbar:not([brighttext])
  #tabbrowser-tabs:not([noshadowfortests])
  .tabbrowser-tab:is([visuallyselected], [multiselected])
  > .tab-stack
  > .tab-background {
  box-shadow: 0 0 1px var(--tabs-border-color), 0 0 4px rgba(128, 128, 142, 0.5) !important; /* Original: 0 0 1px var(--tab-line-color, rgba(128,128,142,0.9)), 0 0 4px rgba(128,128,142,0.5) */
}

/* Container Tab */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  margin: unset !important;
}
