// https://github.com/mozilla/gecko-dev/commit/c6c9389373fc979b3ac4cdc15bfc019ced1e3151
/*= Lightmode ================================================================*/
#{built-in-light-theme()} {
  --lwt-selected-tab-background-color: #fff !important; /* Original: white, rgb(255, 255, 255) */
  --lwt-accent-color: #f0f0f4 !important; /* Original: rgb(237,237,241) */
  --toolbar-bgcolor: #f9f9fb !important; /* white, rgb(255, 255, 255) */
  --toolbar-field-background-color: #f0f0f4 !important; /* rgb(249, 249, 251) */
}

/*= Darkmode =================================================================*/
#{built-in-dark-theme()} {
  --lwt-selected-tab-background-color: rgb(66,65,77) !important; /* rgb(82, 82, 94) */
  --toolbar-bgcolor: rgb(43,42,51) !important; /* rgb(82, 82, 94) */
  --toolbar-field-background-color: rgb(28, 27, 34) !important; /* rgb(74, 74, 85) */
  --toolbar-field-focus-background-color: rgb(66,65,77) !important; /* black rgba(0, 0, 0, 1) */
  --button-hover-bgcolor: rgb(82,82,94) !important;
  --button-active-bgcolor: rgb(91,91,102) !important;
}
