@include Dark {
  @import "dark_blue_color";

  :host, :root, dialog {
    // button, select, input, menulist, radio
    @include DarkBlueContent;
  }

  #{built-in-dark-theme()} {
    --button-primary-color: var(--in-content-page-color) !important;
    --button-primary-bgcolor: var(--blue-60) !important;
    --button-primary-hover-bgcolor: var(--blue-50) !important;
    --button-primary-active-bgcolor: var(--blue-40) !important;

    --focus-outline-color: var(--blue-40) !important;

    --lwt-toolbarbutton-icon-fill-attention: var(--blue-40) !important;
    --download-progress-fill-color: var(--blue-40) !important;
    --panel-banner-item-info-icon-bgcolor: var(--blue-30) !important;

    --lwt-brighttext-url-color: var(--blue-30) !important; /* Original: as primary bgcolor */
  }

  @include Option("userChrome.decoration.download_panel") {
    #{selector.nest(built-in-dark-theme(), "#downloadsListBox")} {
      --button-primary-bgcolor: var(--blue-30);
      --button-primary-hover-bgcolor: var(--blue-20);
    }
  }
}
