/*= Remove White Flash =======================================================*/
#tabbrowser-tabbox,
#tabbrowser-tabpanels,
browser[type="content-primary"],
browser[type="content"] > html {
  background: var(--in-content-page-background) !important;
}

/*= Notification =============================================================*/
@include moz-document(url "chrome://global/content/alerts/alert.xhtml") {
  /* Color */
  :root {
    --menu-color: #15141a;
    --menu-background-color: #f9f9fb;
    --menu-border-color: #cfcfd8;
    --menuitem-hover-background-color: #e0e0e6;
  }
  @include Dark {
    :root {
      --menu-border-color: rgba(107, 107, 107, 0.3);
      --menu-color: #fbfbfe;
      --menu-background-color: #2b2a33;
      --menuitem-hover-background-color: #52525e;
    }
    #alertSourceLabel {
      color: rgb(5, 209, 241) !important;
    }
  }

  /* line below removes background from the notification "window" on linux */
  #alertNotification {
    background: transparent !important;
  }

  #alertBox {
    color: var(--menu-color) !important;
    background-color: var(--menu-background-color) !important;
    border-color: var(--menu-border-color) !important;
    border-radius: 6px !important;
    -moz-window-shadow: cliprounded !important;
  }
  #alertSettings {
    fill: currentColor !important;
    color: inherit !important;
    border-radius: 0 !important;
    margin-inline: 0 !important;
    margin-bottom: -4px !important;
  }
  .close-icon,
  #alertSettings {
    background: transparent !important;
  }
  .close-icon:hover > .toolbarbutton-icon,
  #alertSettings:is(:hover, [open]) > .button-box > .box-inherit {
    background-color: var(--menuitem-hover-background-color, #e0e0e6) !important;
  }

  /* Shape */
  .close-icon > .toolbarbutton-icon,
  #alertSettings > .button-box > .box-inherit {
    border-radius: 4px !important;
    padding: 2px !important;
    margin: 2px 2px -2px 0 !important;
  }
  #alertSettings > .button-box > .box-inherit {
    margin: -4px 4px 3px 0 !important;

    > .button-icon {
      padding: 1px;
    }
  }
}
