/*= contentAreaContextMenu ===================================================*/
#context-viewsource-goToLine {
  --menuitem-image: url("../icons/text-number-format.svg");
}
#context-viewsource-wrapLongLines {
  /* checkbox */
  --menuitem-image: url("../icons/arrow-sort-down-lines.svg");
}

#context-viewsource-highlightSyntax {
  /* checkbox */
  --menuitem-image: url("../icons/highlight.svg");
}

#spell-no-suggestions {
  --menuitem-image: url("../icons/text-proofing-tools.svg");
}
#spell-add-to-dictionary,
#spell-add-dictionaries {
  --menuitem-image: url("../icons/book-add.svg");
}
#spell-undo-add-to-dictionary {
  --menuitem-image: url("../icons/undo.svg");
}

#context-openlinkincurrent {
  --menuitem-image: url("../icons/link-square.svg");
}
#context-openlinkincontainertab,
#context-openlinkintab {
  --menuitem-image: var(--uc-new-tab-icon);
}
#context-openlinkinusercontext-menu {
  --menuitem-image: url("../icons/container-openin-16.svg");
}
#context-openlink {
  --menuitem-image: url("chrome://browser/skin/window.svg");
}
#context-openlinkprivate {
  --menuitem-image: url("chrome://browser/skin/privateBrowsing.svg");
}

#context-bookmarklink {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#context-savelink {
  --menuitem-image: url("../icons/toolbarButton-download.svg");
}
#context-savelinktopocket {
  --menuitem-image: url("../icons/pocket-outline.svg");
}
#context-copyemail {
  --menuitem-image: url("../icons/mail.svg");
}
#context-copyphone {
  --menuitem-image: url("../icons/device-phone.svg");
}
#context-copylink {
  --menuitem-image: url("../icons/link.svg");
}
#context-stripOnShareLink {
  --menuitem-image: url("../icons/link-no-tracking.svg");
}
#context-sendlinktodevice {
  --menuitem-image: url("../icons/send-to-device.svg");
}

#context-media-play {
  --menuitem-image: url("chrome://global/skin/media/play-fill.svg");
}
#context-media-pause {
  --menuitem-image: url("chrome://global/skin/media/pause-fill.svg");
}
#context-media-mute {
  --menuitem-image: url("chrome://global/skin/media/audio-muted.svg");
}
#context-media-unmute {
  --menuitem-image: url("chrome://global/skin/media/audio.svg");
}
#context-media-playbackrate {
  --menuitem-image: url("../icons/time-picker.svg");
}
#context-media-loop {
  /* checkbox */
  --menuitem-image: url("../icons/arrow-repeat-all.svg");
}
#context-leave-dom-fullscreen {
  --menuitem-image: url("chrome://global/skin/media/fullscreenExitButton.svg");
}
#context-video-fullscreen {
  --menuitem-image: url("chrome://global/skin/media/fullscreenEnterButton.svg");
}
#context-media-hidecontrols {
  --menuitem-image: url("../icons/eye-hide.svg");
}
#context-media-showcontrols {
  --menuitem-image: url("../icons/eye-show.svg");
}

#context-viewvideo {
  --menuitem-image: url("../icons/video.svg");
}
#context-video-pictureinpicture {
  /* checkbox */
  --menuitem-image: url("chrome://global/skin/media/picture-in-picture-open.svg");
}

#context-reloadimage {
  --menuitem-image: url("../icons/image-arrow-counterclockwise.svg");
}
#context-viewimage {
  --menuitem-image: url("../icons/image-add.svg");
}
#context-saveimage {
  --menuitem-image: url("../icons/image.svg");
}
#context-video-saveimage {
  --menuitem-image: url("../icons/video-snapshot.svg");
}
#context-savevideo {
  --menuitem-image: url("../icons/video.svg");
}
#context-saveaudio {
  --menuitem-image: url("chrome://global/skin/media/audio.svg");
}
#context-copyimage-contents {
  --menuitem-image: url("../icons/image-copy.svg");
}
#context-copyimage,
#context-copyvideourl,
#context-copyaudiourl {
  --menuitem-image: url("../icons/link.svg");
}
#context-sendimage,
#context-sendvideo,
#context-sendaudio {
  --menuitem-image: url("../icons/mail.svg");
}
#context-viewimageinfo {
  --menuitem-image: url("chrome://global/skin/icons/info.svg");
}
#context-viewimagedesc {
  --menuitem-image: url("../icons/image-alt-text.svg");
}
#context-setDesktopBackground {
  --menuitem-image: url("../icons/resize-image.svg");
}
#context-ctp-play {
  --menuitem-image: url("chrome://global/skin/icons/plugin.svg");
}
#context-ctp-hide {
  --menuitem-image: url("chrome://global/skin/icons/plugin-blocked.svg");
}

#context-savepage {
  --menuitem-image: url("../icons/toolbarButton-download.svg");
}
#context-pocket {
  --menuitem-image: url("../icons/pocket-outline.svg");
}
#context-sendpagetodevice {
  --menuitem-image: url("../icons/send-to-device.svg");
}
#fill-login {
  --menuitem-image: url("../icons/password.svg");
}
#fill-login-generated-password {
  --menuitem-image: url("chrome://browser/skin/login.svg");
}
#use-relay-mask {
  --menuitem-image: url("../icons/relay-logo.svg");
}
#manage-saved-logins {
  --menuitem-image: url("../icons/key-multiple.svg");
}

#context-undo,
#context-pdfjs-undo {
  --menuitem-image: url("../icons/undo.svg");
}
#context-redo,
#context-pdfjs-redo {
  @include Option("userChrome.icon.menu.full") {
    --menuitem-image: url("../icons/redo.svg");
  }
}

#context-cut,
#context-pdfjs-cut {
  --menuitem-image: url("../icons/edit-cut.svg");
}
#context-copy,
#context-pdfjs-copy {
  --menuitem-image: url("../icons/edit-copy.svg");
}
#context-paste,
#context-pdfjs-paste {
  --menuitem-image: url("../icons/edit-paste.svg");
}
#context-paste-no-formatting {
}
#context-delete,
#context-pdfjs-delete {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
#context-selectall,
#context-pdfjs-selectall {
  --menuitem-image: url("../icons/select-all-on.svg");
}
#context-reveal-password {
  --menuitem-image: url("../icons/eye-show.svg");
}
#context-print-selection {
  --menuitem-image: url("chrome://global/skin/icons/print.svg");
}

#context-take-screenshot {
  --menuitem-image: url("../icons/screenshot-1.svg");
}

#context-keywordfield {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#context-searchselect,
#context-searchselect-private {
  --menuitem-image: url("chrome://global/skin/icons/search-glass.svg");
}

#frame {
  --menuitem-image: url("../icons/command-frames.svg");
}

#spell-check-enabled {
  /* checkbox */
  --menuitem-image: url("../icons/text-proofing-tools.svg");
}
#spell-add-dictionaries-main {
  --menuitem-image: url("../icons/book-add.svg");
}
#spell-dictionaries {
  --menuitem-image: url("../icons/book.svg");
}

#context-bidi-text-direction-toggle {
  --menuitem-image: url("../icons/text-direction-horizontal-ltr.svg");
}
#context-bidi-page-direction-toggle {
  --menuitem-image: url("../icons/document-landscape-split-hint.svg");
}

#context-viewpartialsource-selection,
#context-viewsource {
  --menuitem-image: url("../icons/document-search.svg");
}
#context-inspect-a11y {
  --menuitem-image: url("../icons/tool-accessibility.svg");
}
#context-inspect {
  --menuitem-image: url("../icons/command-pick.svg");
}

#context-media-eme-learnmore {
  /* iconic */
}

@include OS($mac) {
  #context-back {
    --menuitem-image: url("chrome://browser/skin/back.svg");
  }
  #context-forward {
    --menuitem-image: url("chrome://browser/skin/forward.svg");
  }
  #context-reload {
    --menuitem-image: url("../icons/reload.svg");
  }
  #context-stop {
    --menuitem-image: url("chrome://global/skin/icons/close.svg");
  }

  #context-bookmarkpage {
    --menuitem-image: url("chrome://browser/skin/bookmark.svg");
  }
}

/*= main-context-menu-frame ==================================================*/
#context-showonlythisframe {
  --menuitem-image: url("../icons/eye-show.svg");
}
#context-openframeintab {
  --menuitem-image: var(--uc-new-tab-icon);
}
#context-openframe {
  --menuitem-image: url("chrome://browser/skin/window.svg");
}

#context-reloadframe {
  --menuitem-image: url("../icons/reload.svg");
}

#context-bookmarkframe {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#context-saveframe{
  --menuitem-image: url("../icons/toolbarButton-download.svg");
}

#context-printframe {
  --menuitem-image: url("chrome://global/skin/icons/print.svg");
}

#context-take-frame-screenshot {
  --menuitem-image: url("../icons/screenshot-1.svg");
}

#context-viewframesource {
  --menuitem-image: url("../icons/document-search.svg");
}
#context-viewframeinfo {
  --menuitem-image: url("chrome://global/skin/icons/info.svg");
}
#context-frameOsPid {
}

/*= Tab Mix Plus =============================================================*/
#tm-autoreload_menu {
  // --menuitem-image: url("../icons/reload-auto.svg");
  --menuitem-image: url("../icons/timer10.svg");
}

#tm-linkWithhistory {
  // ic_fluent_skip_forward_tab_24_regular
  --menuitem-image: var(--uc-new-tab-skip-forward-icon);
}
#tm-openAllLinks {
  --menuitem-image: var(--uc-new-tab-multiple-icon);
}
#tm-openinverselink {
  --menuitem-image: var(--uc-new-tab-forward-icon);
}

#tm-content-closetab {
  --menuitem-image: url("../icons/dismiss-filled.svg");
}
#tm-duplicateTabContext {
  --menuitem-image: var(--uc-tab-copy-icon);
}
#tm-duplicateinWinContext {
  --menuitem-image: url("../icons/tab-desktop-multiple-bottom.svg");
}
#tm-detachTabContext {
  --menuitem-image: url("../icons/convert-range.svg");
}
#tm-mergeWindows {
  --menuitem-image: url("../icons/merge.svg");
}
#tm-content-freezeTab {
  --menuitem-image: url("../icons/weather-snowflake.svg");
}
#tm-content-protectTab {
  --menuitem-image: url("../icons/shield-task.svg");
}
#tm-content-lockTab {
  --menuitem-image: url("../icons/lock-closed.svg");
}
#tm-tabsList {
}

#tm-content-undoCloseTab {
  --menuitem-image: url("../icons/undo.svg");
}
#tm-content-undoCloseList {
}
