/*= downloadsContextMenu =====================================================*/
.downloadPauseMenuItem {
  --menuitem-image: url("chrome://global/skin/media/pause-fill.svg");
}
.downloadResumeMenuItem {
  --menuitem-image: url("chrome://global/skin/media/play-fill.svg");
}
.downloadUnblockMenuItem {
  --menuitem-image: url("../leptonIcons/checkmark-circle.svg");
}
.downloadUseSystemDefaultMenuItem {
  --menuitem-image: url("chrome://browser/skin/open.svg");
}
.downloadAlwaysUseSystemDefaultMenuItem {
  /* checkbox */
  --menuitem-image: url("../leptonIcons/folder-globe.svg");
}
.downloadAlwaysOpenSimilarFilesMenuItem {
  /* checkbox */
  --menuitem-image: url("../leptonIcons/fluid.svg");
}
.downloadShowMenuItem {
  --menuitem-image: url("chrome://global/skin/icons/folder.svg");
  @include Option("userChrome.icon.library") {
    --menuitem-image: url("../leptonIcons/folder.svg");
  }
}

#downloadsContextMenu > menuitem {
  &.downloadOpenReferrerMenuItem,
  &[command="downloadsCmd_openReferrer"] {
    --menuitem-image: url("../leptonIcons/link-square.svg");
  }
  &.downloadCopyLocationMenuItem,
  &[command="downloadsCmd_copyLocation"] {
    --menuitem-image: url("../leptonIcons/link.svg");
  }
}

.downloadDeleteFileMenuItem {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
.downloadRemoveFromHistoryMenuItem {
  --menuitem-image: url("../leptonIcons/eraser.svg");
}
#downloadsContextMenu > menuitem {
  &[command="downloadsCmd_clearList"],
  &[command="downloadsCmd_clearDownloads"] {
    --menuitem-image: url("../leptonIcons/broom.svg");
  }
}
