/*= Notification =============================================================*/
// https://github.com/mozilla/gecko-dev/blob/master/toolkit/components/alerts/alert.xhtml
#doNotDisturbMenuItem {
  --menuitem-image: url(chrome://global/skin/media/pause-fill.svg);
}
#disableForOriginMenuItem {
  --menuitem-image: url("chrome://global/skin/icons/blocked.svg");
}
#openSettingsMenuItem {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}

/*= blockedPopupOptions ======================================================*/
#blockedPopupAllowSite {
  --menuitem-image: url("chrome://global/skin/icons/check.svg");
}
#blockedPopupOptions > menuitem[oncommand="gPopupBlockerObserver.editPopupSettings();"] {
  --menuitem-image: url("chrome://global/skin/icons/edit.svg");
}
#blockedPopupDontShowMessage {
  /* checkbox */
  --menuitem-image: url("chrome://global/skin/icons/blocked.svg");
}

menuitem[data-l10n-id="popup-show-popup-menuitem"] {
  /* checkbox */
  --menuitem-image: url("../icons/eye-show.svg");
}

/*= autohide-context =========================================================*/
#autohide-context > menuitem[data-l10n-id="full-screen-autohide"] {
  /* checkbox */
  --menuitem-image: url("../icons/eye-tracking-off.svg");
}

#autohide-context > menuitem[data-l10n-id="full-screen-exit"] {
  --menuitem-image: url("chrome://browser/skin/fullscreen-exit.svg");
}

/*= pictureInPictureToggleContextMenu ========================================*/
#pictureInPictureToggleContextMenu > menuitem[oncommand="PictureInPicture.hideToggle();"] {
  --menuitem-image: url("../icons/eye-hide.svg");
}

/*= pageActionContextMenu ====================================================*/
.pageActionContextMenuItem.extensionPinned.extensionUnpinned {
  &.manageExtensionItem {
    --menuitem-image: url("chrome://global/skin/icons/settings.svg");
  }
  &.removeExtensionItem {
    --menuitem-image: url("chrome://global/skin/icons/delete.svg");
  }
}

/*= customizationPanelItemContextMenu ========================================*/
#customizationPanelItemContextMenuUnpin {
  --menuitem-image: url("../icons/unpin-tab.svg");
}
.customize-context-removeFromPanel {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}

/*= customizationPaletteItemContextMenu ======================================*/
.customize-context-addToToolbar {
  --menuitem-image: url("chrome://devtools/skin/images/dock-bottom.svg");
}
.customize-context-addToPanel {
  --menuitem-image: url("chrome://browser/skin/menu.svg");
}

/*= customizationPanelContextMenu ============================================*/
#customizationPanelContextMenu > menuitem[command="cmd_CustomizeToolbars"] {
  --menuitem-image: url("chrome://browser/skin/customize.svg");
}

/*= downloads-button-autohide-panel ==========================================*/
#downloads-button-autohide-checkbox {
  /* checkbox */
  --menuitem-image: url("../icons/eye-tracking-off.svg");
}

/*= SyncedTabsSidebarContext =================================================*/
#syncedTabsOpenSelected {
  --menuitem-image: url("../icons/link-square.svg");
}
#syncedTabsOpenSelectedInTab {
  --menuitem-image: var(--uc-new-tab-icon);
}
#syncedTabsOpenSelectedInWindow {
  --menuitem-image: url("chrome://browser/skin/window.svg");
}
#syncedTabsOpenSelectedInPrivateWindow {
  --menuitem-image: url("chrome://browser/skin/privateBrowsing.svg");
}

#syncedTabsBookmarkSelected {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#syncedTabsCopySelected {
  --menuitem-image: url("../icons/link.svg");
}

#syncedTabsOpenAllInTabs {
  --menuitem-image: url("../icons/movetowindow-16.svg");
}
#syncedTabsManageDevices {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}
#syncedTabsRefresh {
  --menuitem-image: url("chrome://browser/skin/sync.svg");
}

/*= SyncedTabsSidebarTabsFilterContext =======================================*/
#SyncedTabsSidebarTabsFilterContext > menuitem[cmd="cmd_undo"] {
  --menuitem-image: url("../icons/undo.svg");
}
#SyncedTabsSidebarTabsFilterContext > menuitem[cmd="cmd_cut"] {
  --menuitem-image: url("../icons/edit-cut.svg");
}
#SyncedTabsSidebarTabsFilterContext > menuitem[cmd="cmd_copy"] {
  --menuitem-image: url("../icons/edit-copy.svg");
}
#SyncedTabsSidebarTabsFilterContext > menuitem[cmd="cmd_paste"] {
  --menuitem-image: url("../icons/edit-paste.svg");
}
#SyncedTabsSidebarTabsFilterContext > menuitem[cmd="cmd_delete"] {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}

#SyncedTabsSidebarTabsFilterContext > menuitem[cmd="cmd_selectAll"] {
  --menuitem-image: url("../icons/select-all-on.svg");
}

#syncedTabsRefreshFilter {
  --menuitem-image: url("chrome://browser/skin/sync.svg");
}

/*= urlbar-input-container ===================================================*/
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_undo"] {
  --menuitem-image: url("../icons/undo.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_redo"] {
  @include Option("userChrome.icon.menu.full") {
    --menuitem-image: url("../icons/redo.svg");
  }
}

#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_cut"] {
  --menuitem-image: url("../icons/edit-cut.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_copy"] {
  --menuitem-image: url("../icons/edit-copy.svg");
}
#strip-on-share {
  @include Option("userChrome.icon.menu.full") {
    --menuitem-image: url("../icons/link-no-tracking.svg");
  }
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_paste"] {
  --menuitem-image: url("../icons/edit-paste.svg");
}
#paste-and-go {
  @include Option("userChrome.icon.menu.full") {
    --menuitem-image: url("../icons/edit-paste-go.svg");
  }
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_delete"] {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_selectAll"] {
  --menuitem-image: url("../icons/select-all-on.svg");
}

/*= textbox-contextmenu ======================================================*/
/* Browser's Searchbar, Library's Searchbar, Page Info */
.textbox-contextmenu > menuitem[data-l10n-id="text-action-undo"] {
  --menuitem-image: url("../icons/undo.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-redo"] {
  @include Option("userChrome.icon.menu.full") {
    --menuitem-image: url("../icons/redo.svg");
  }
}

.textbox-contextmenu > menuitem[data-l10n-id="text-action-cut"] {
  --menuitem-image: url("../icons/edit-cut.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-copy"] {
  --menuitem-image: url("../icons/edit-copy.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-paste"] {
  --menuitem-image: url("../icons/edit-paste.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-delete"] {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-select-all"] {
  --menuitem-image: url("../icons/select-all-on.svg");
}

/* Only searchbar */
menuitem.searchbar-paste-and-search {
  @include Option("userChrome.icon.menu.full") {
    --menuitem-image: url("../icons/edit-paste-search.svg");
  }
}
menuitem.searchbar-clear-history {
  --menuitem-image: url("../icons/forget.svg");
}

/*= context_sendTabToDevicePopupMenu =========================================*/
.sync-menuitem.sendtab-target {
  &[clientType="phone"] {
    --menuitem-image: url("../icons/device-phone.svg");
  }
  &[clientType="tablet"] {
    --menuitem-image: url("../icons/device-tablet.svg");
  }
  &[clientType="desktop"] {
    --menuitem-image: url("../icons/device-desktop.svg");
  }
  &[clientType="tv"] {
    --menuitem-image: url("../icons/device-tv.svg");
  }
  &[clientType="vr"] {
    --menuitem-image: url("../icons/device-vr.svg");
  }
  &[clientType=""] {
    --menuitem-image: url("../icons/send-to-device.svg");
  }
  &:not([clientType]) {
    --menuitem-image: url("chrome://global/skin/icons/settings.svg");
  }
}
#treestyletab_piro_sakura_ne_jp-menuitem-_context_sendTabsToDevice\:manage {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}

/*= unified-extensions-context-menu ==========================================*/
.unified-extensions-context-menu-pin-to-toolbar {
  --menuitem-image: url("../icons/pin-tab.svg");
}

.unified-extensions-context-menu-move-widget-up {
  --menuitem-image: url("chrome://global/skin/icons/arrow-up.svg");
}
.unified-extensions-context-menu-move-widget-down {
  --menuitem-image: url("chrome://global/skin/icons/arrow-down.svg");
}

.unified-extensions-context-menu-manage-extension {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}
.unified-extensions-context-menu-remove-extension {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
.unified-extensions-context-menu-report-extension {
  --menuitem-image: url("../icons/send.svg");
}

/*= urlbarView-result-menu ===================================================*/
.urlbarView-result-menuitem {
  &[data-command="dismiss"] {
    --menuitem-image: url("chrome://global/skin/icons/delete.svg");
  }
  &[data-command="help"] {
    --menuitem-image: url("chrome://global/skin/icons/info.svg");
  }
}

/*= full-page-translations-panel-settings-menupopup ==========================*/
.manage-languages-menuitem {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}
#full-page-translations-panel-settings-menupopup >
  menuitem[data-l10n-id="translations-panel-settings-about2"] {
  --menuitem-image: url("chrome://global/skin/icons/info.svg");
}

/*= select-translations-panel-settings-menupopup =============================*/
#select-translations-panel-open-settings-page-menuitem {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}
#select-translations-panel-about-translations-menuitem {
  --menuitem-image: url("chrome://global/skin/icons/info.svg");
}
