/*= tabContextMenu ===========================================================*/
#context_openANewTab,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_newTab,
#tabcenter-reborn_ariasuni-menuitem-_newTabContextMenuOpenAlternatePosition,
#sidebartabs_asamuzak_jp-menuitem-_newTab {
  --menuitem-image: var(--uc-new-tab-icon);
}
#tabcenter-reborn_ariasuni-menuitem-_newTabContextMenuOpenInWindow {
  --menuitem-image: url("chrome://browser/skin/window.svg");
}
#tabcenter-reborn_ariasuni-menuitem-_newTabContextMenuOpenInPrivateWindow {
  --menuitem-image: url("chrome://browser/skin/privateBrowsing.svg");
}

#context_reloadTab,
#context_reloadSelectedTabs,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_reloadTab,
#treestyletab_piro_sakura_ne_jp-menuitem-_noContextTab\:context_reloadTab,
#treestyletab_piro_sakura_ne_jp-menuitem-_grouped\:reloadTree,
#tabcenter-reborn_ariasuni-menuitem-_contextMenuReloadTab,
#sidebartabs_asamuzak_jp-menuitem-_reloadTab,
#sidebartabs_asamuzak_jp-menuitem-_reloadAllTabs {
  --menuitem-image: url("../icons/reload.svg");
}
#context_toggleMuteTab,
#context_toggleMuteSelectedTabs,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_toggleMuteTab-mute,
#tabcenter-reborn_ariasuni-menuitem-_contextMenuMuteTab,
#sidebartabs_asamuzak_jp-menuitem-_muteTab {
  --menuitem-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg");
  stroke: transparent !important;
}
#context_toggleMuteTab[muted],
#context_toggleMuteSelectedTabs[muted],
#treestyletab_piro_sakura_ne_jp-menuitem-_context_toggleMuteTab-unmute,
#tabcenter-reborn_ariasuni-menuitem-_contextMenuMuteTab[label="Unmute Tab"],
#sidebartabs_asamuzak_jp-menuitem-_muteTab[label="Unmute Tab"] {
  --menuitem-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg");
}
#context_pinTab,
#context_pinSelectedTabs,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_pinTab,
#tabcenter-reborn_ariasuni-menuitem-_contextMenuPinTab,
#sidebartabs_asamuzak_jp-menuitem-_pinTab {
  --menuitem-image: url("../icons/pin-tab.svg");
}
#context_unpinTab,
#context_unpinSelectedTabs,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_unpinTab,
#tabcenter-reborn_ariasuni-menuitem-_contextMenuPinTab[label="Unpin Tab"],
#sidebartabs_asamuzak_jp-menuitem-_pinTab[label="Unpin Tab"] {
  --menuitem-image: url("../icons/unpin-tab.svg");
}
#context_duplicateTab,
#context_duplicateTabs,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_duplicateTab,
#tabcenter-reborn_ariasuni-menuitem-_contextMenuDuplicateTab,
#sidebartabs_asamuzak_jp-menuitem-_dupeTab {
  --menuitem-image: var(--uc-tab-copy-icon);
}
#tabcenter-reborn_ariasuni-menuitem-_contextMenuUnloadTab {
  --menuitem-image: var(--uc-tab-unload-icon);
}

#context_bookmarkTab,
#context_bookmarkSelectedTabs,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_bookmarkTab,
#treestyletab_piro_sakura_ne_jp-menuitem-_noContextTab\:context_bookmarkSelected,
#treestyletab_piro_sakura_ne_jp-menuitem-_grouped\:bookmarkTree,
#sidebartabs_asamuzak_jp-menuitem-_bookmarkTab,
#sidebartabs_asamuzak_jp-menuitem-_bookmarkAllTabs {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#context_moveTabOptions,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_moveTab,
#tabcenter-reborn_ariasuni-menuitem-_contextMenuMoveTab,
#sidebartabs_asamuzak_jp-menuitem-_moveTab {
  --menuitem-image: url("../icons/arrow-swap.svg");
}
#context_sendTabToDevice,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_sendTabsToDevice {
  --menuitem-image: url("../icons/send-to-device.svg");
}
#treestyletab_piro_sakura_ne_jp-menuitem-_context_topLevel_sendTreeToDevice {
}

#context_sendTabToDevice:is([disabled="true"]) + #context_shareTabURL, /* Legacy */
#context_sendTabToDevice:is([disabled="true"]) + menuitem.share-tab-url-item {
  /* At windows */
  --menuitem-image: url("../icons/share.svg");
}
@include Option("userChrome.icon.menu.full") {
  #context_shareTabURL, /* Legacy */
  menuitem.share-tab-url-item {
    --menuitem-image: url("../icons/share.svg");
  }
}
#context_reopenInContainer,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_reopenInContainer,
#tabcenter-reborn_ariasuni-menuitem-_contextMenuOpenInContextualTab,
#sidebartabs_asamuzak_jp-menuitem-_openNewTabInContainer,
#sidebartabs_asamuzak_jp-menuitem-_reopenTabInContainer {
  --menuitem-image: url("../icons/container-openin-16.svg");
}
#sidebartabs_asamuzak_jp-menuitem-_reloadAllTabs {
}
#context_selectAllTabs,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_selectAllTabs,
#treestyletab_piro_sakura_ne_jp-menuitem-_noContextTab\:context_selectAllTabs,
#sidebartabs_asamuzak_jp-menuitem-_selectAllTabs {
  --menuitem-image: var(--uc-tab-multiple-icon);
}

#sidebartabs_asamuzak_jp-menuitem-_tabGroup {
}

#context_closeTab,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_closeTab,
#treestyletab_piro_sakura_ne_jp-menuitem-_grouped\:closeTree,
#tabcenter-reborn_ariasuni-menuitem-_contextMenuCloseTab,
#sidebartabs_asamuzak_jp-menuitem-_closeTab {
  --menuitem-image: url("chrome://global/skin/icons/close.svg");
}
#context_closeDuplicateTabs {
  @include Option("userChrome.icon.menu.full") {
    --menuitem-image: var(--uc-tab-close-duplicate-icon);
  }
}
#context_closeTabOptions,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_closeMultipleTabs,
#tabcenter-reborn_ariasuni-menuitem-_contextMenuCloseTabs,
#sidebartabs_asamuzak_jp-menuitem-_closeMultipleTabs {
  @include Option("userChrome.icon.menu.full") {
    --menuitem-image: url("../icons/filter-dismiss.svg");
  }
}
#context_undoCloseTab,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_undoCloseTab,
#treestyletab_piro_sakura_ne_jp-menuitem-_noContextTab\:context_undoCloseTab,
#tabcenter-reborn_ariasuni-menuitem-_contextMenuUndoCloseTab,
#sidebartabs_asamuzak_jp-menuitem-_undoCloseTab {
  --menuitem-image: url("../icons/undo.svg");
}

#treestyletab_piro_sakura_ne_jp-menuitem-_grouped\:collapseTreeRecursively,
#treestyletab_piro_sakura_ne_jp-menuitem-_grouped\:collapseAll,
#treestyletab_piro_sakura_ne_jp-menuitem-_grouped\:expandTreeRecursively {
}
#treestyletab_piro_sakura_ne_jp-menuitem-_grouped\:expandAll {
}

/*= new-tab-button-popup =====================================================*/
#new-tab-button-popup > menuitem[command="Browser:NewUserContextTab"],
.new-tab-popup > menuitem[command="Browser:NewUserContextTab"] {
  --menuitem-image: url("../icons/container-openin-16.svg");
}

#new-tab-button-popup > menuitem[command="Browser:OpenAboutContainers"],
.new-tab-popup > menuitem[command="Browser:OpenAboutContainers"] {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}

/*= toolbar-context-menu =====================================================*/
.customize-context-manageExtension {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}
.customize-context-removeExtension {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
.customize-context-reportExtension {
  --menuitem-image: url("../icons/send.svg");
}

.customize-context-moveToPanel {
  --menuitem-image: url("../icons/pin-tab.svg");
}
#toolbar-context-autohide-downloads-button {
  /* checkbox */
  --menuitem-image: url("../icons/eye-tracking-off.svg");
}
.customize-context-removeFromToolbar {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}

#toolbar-context-always-open-downloads-panel {
  /* checkbox */
  --menuitem-image: url("../icons/drawer-arrow-download.svg");
}
#toolbar-context-openANewTab {
  --menuitem-image: var(--uc-new-tab-icon);
}

#toolbar-context-reloadSelectedTab,
#toolbar-context-reloadSelectedTabs {
  --menuitem-image: url("../icons/reload.svg");
}
#toolbar-context-bookmarkSelectedTab,
#toolbar-context-bookmarkSelectedTabs {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#toolbar-context-selectAllTabs {
  --menuitem-image: var(--uc-tab-multiple-icon);
}
#toolbar-context-undoCloseTab {
  --menuitem-image: url("../icons/undo.svg");
}

#toggle_toolbar-menubar {
  /* checkbox */
  --menuitem-image: url("../icons/calendar-agenda.svg");
}
#toggle_PersonalToolbar {
  /* Also placeContext */
  --menuitem-image: url("../icons/bookmarks-toolbar-alt.svg");
}

menuitem.viewCustomizeToolbar {
  --menuitem-image: url("chrome://browser/skin/customize.svg");
}

.fullscreen-context-autohide {
  /* checkbox */
  --menuitem-image: url("../icons/eye-tracking-off.svg");
}
#toolbar-context-menu > menuitem[data-l10n-id="full-screen-exit"] {
  --menuitem-image: url("chrome://browser/skin/fullscreen-exit.svg");
}

/*= Tab Mix Plus =============================================================*/
#context_openANewTab.tabmix-newtab-menu-icon {
  .menu-iconic-left {
    @include OS($win) {
      display: none;
    }
  }
}
@include Option("userChrome.icon.menu.full") {
  #tm-duplicateinWin {
    --menuitem-image: url("../icons/tab-desktop-multiple-bottom.svg");
  }
  #tm-mergeWindowsTab {
    --menuitem-image: url("../icons/merge.svg");
  }
}
#tm-renameTab {
  --menuitem-image: url("chrome://global/skin/icons/edit.svg");
}
#tm-copyTabUrl {
  --menuitem-image: url("../icons/link.svg");
}

#tm-autoreloadTab_menu {
  // --menuitem-image: url("../icons/reload-auto.svg");
  --menuitem-image: url("../icons/timer10.svg");
}
#context_reloadTabOptions {
  --menuitem-image: url("../icons/reload.svg");
  @include Option("userChrome.icon.menu.full") {
    --menuitem-image: url("../icons/filter-reload.svg");
  }
  + #context_reloadTab {
    @include NotOption("userChrome.icon.menu.full") {
      --menuitem-image: url("../icons/blank.svg");
    }
  }
}

#tm-undoCloseList {
}

#tm-docShell {
  --menuitem-image: url("chrome://browser/skin/permissions.svg");
}
#tm-freezeTab {
  --menuitem-image: url("../icons/weather-snowflake.svg");
}
#tm-protectTab {
  --menuitem-image: url("../icons/shield-task.svg");
}
#tm-lockTab {
  @include Option("userChrome.icon.menu.full") {
    --menuitem-image: url("../icons/lock-closed.svg");
  }
}

#context_bookmarkAllTabs {
  @include Option("userChrome.icon.menu.full") {
    --menuitem-image: url("../icons/bookmark-multiple.svg");
  }
}
