@include Option("userChrome.centered.tab.label") {
  .tabbrowser-tab[selected]:not(:hover) .tab-label-container:not([textoverflow]),
  .tabbrowser-tab:not(:hover,[pinned]) .tab-label-container:not([textoverflow]) {
    margin-inline-end: 5px;
  }
}

@include Option("userChrome.tab.close_button_at_hover") {
  #tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not(:hover,[pinned]) .tab-label-container:not([textoverflow]) {
    margin-inline-end: 1px;
  }
  #tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected]):not(:hover, [pinned]) .tab-label-container label {
    padding-inline-end: 18px;
  }
}
