/*= Addons.org =============================================================*/
@-moz-document url-prefix("https://addons.mozilla.org")
{
  /* Basic */
  .Page-content,
  .SecondaryHero,
  body:not(.developer-hub):not(.statistics),
  main[aria-label="Content"] {
    color: var(--in-content-page-color) !important;
    background: var(--in-content-page-background) !important;
  }

  /* Text */
  .AutoSearchInput-query,
  .AutoSearchInput-suggestions-list,
  .Page-content h1,
  .Page-content h2,
  .SearchResult-link,
  .Home-SubjectShelf-link:link,
  .Home-SubjectShelf-link:visited,
  .DropdownMenuItem-link a,
  .Select,
  .Badge,
  .Notice-generic,
  .Notice-genericWarning,
  .Notice-button,
  .Paginate .Button.Paginate-item:first-child,
  .Paginate .Button.Paginate-item:last-child,
  .Paginate .Button.Paginate-item--current-page,
  .Button--neutral,
  .blog-entry-title,
  .blogpost-nav * {
    color: var(--in-content-text-color) !important;
  }
  .AutoSearchInput-suggestions-item:is(:active, :focus, :hover),
  .AutoSearchInput-suggestions-item--highlighted,
  .SecondaryHero-message-link,
  .SecondaryHero-module-link,
  .Card-contents a:not(.Button),
  .Card-footer-link a,
  .Card-shelf-footer-in-header a,
  .SearchResult-link:is(:active, :focus, :hover),
  .SearchResult:hover .SearchResult-link,
  .Home-SubjectShelf-link:is(:active, :focus, :hover),
  .DropdownMenuItem-link a:is(:active, :focus, :hover),
  .AddonMeta .MetadataCard-title a:is(:active, :hover),
  .AddonMeta .MetadataCard-title a.AddonMeta-reviews-content-link:is(:active, :hover),
  .AddonMeta .MetadataCard-content a:is(:active, :hover),
  .AddonMeta .MetadataCard-content a.AddonMeta-reviews-content-link:is(:active, :hover),
  .Addon-summary a,
  .RatingsByStar-count a:hover,
  .RatingsByStar-star a:hover,
  .Paginate .Button.Paginate-item:not(:first-child, :last-child, .Paginate-item--current-page),
  .AddonTitle-author a,
  .PermissionsCard-learn-more,
  .DefinitionList a,
  .ShowMoreCard-contents a,
  .AddonDescription-contents a,
  .AddonTitle a,
  .TooltipMenu-opener,
  .LanguageTools .Card-contents a,
  .blog-entry-read-more-link,
  .blogpost-nav-next.blogpost-nav-no-prev:hover p,
  .blogpost-content-wrapper p a,
  .blogpost-nav-prev:hover p,
  .blogpost-nav-next:hover p {
    color: var(--in-content-link-color) !important;
  }
  .SearchResult--meta-section,
  .MetadataCard-title,
  .MetadataCard-title a,
  .MetadataCard-content a,
  .CollectionSort-label,
  .SearchResult-summary,
  .AddonMeta .MetadataCard-content a.AddonMeta-reviews-content-link,
  .AddonMeta .MetadataCard-title a.AddonMeta-reviews-content-link,
  .PermissionsCard-subhead--optional,
  .PermissionsCard-subhead--required,
  .Definition-dt,
  .RatingsByStar-count a,
  .RatingsByStar-star a,
  .Paginate-page-number,
  .AddonSummaryCard-addonAverage,
  .AddonReviewCard-authorByLine,
  .UserReview-byLine,
  .UserReview-reply-header,
  .Home-heroHeader-subtitle,
  .blog-entry-date,
  .blogpost-breadcrumb *,
  .AddonTitle-author,
  .ExpandableCard-ToggleLink,
  .SearchFilters-label,
  .PromotedBadge-label--line {
    color: var(--in-content-deemphasized-text) !important;
  }
  .PromotedBadge-label--recommended {
    color: color-mix(in srgb, #712b00 15%, #ff9400) !important;
  }

  /* Background */
  .Button--action {
    color: var(--in-content-primary-button-text-color) !important;
    background: var(--in-content-primary-button-background) !important;
  }
  .Select,
  .Button--neutral,
  .Button--neutral:link,
  .Notice-button,
  .AMInstallButton .AMInstallButton-loading-button {
    background-color: var(--in-content-button-background) !important;
  }
  .Button--neutral.Button--micro:not(.Button--disabled):hover,
  .Button--neutral:not(.Button--disabled):hover,
  .Notice-button:hover {
    background: var(--in-content-button-background-hover) !important;
  }
  .Button--action.Button--micro:not(.Button--disabled):hover,
  .Button--action:not(.Button--disabled):hover {
    background: var(--in-content-primary-button-background-hover) !important;
  }
  .ShowMoreCard-contents::after {
    background: linear-gradient(hsla(0, 0%, 100%, 0), var(--in-content-table-background)) !important;
  }
  .AutoSearchInput-query,
  .AutoSearchInput-suggestions-list,
  .SecondaryHero-module,
  .Card-header,
  .Card-contents,
  .CardList ul > li,
  .AddonsCard--horizontal ul.AddonsCard-list .SearchResult-wrapper:is(:focus, :hover),
  .Paginate,
  .LandingPage-header,
  .DropdownMenu-items,
  .DropdownMenu-items::after,
  .MetadataCard,
  .AddonsCard-list,
  .Card-footer,
  .StaticAddonCard,
  .blogpost-nav,
  .blogpost-nav * {
    background: var(--in-content-table-background) !important;
  }

  .Paginate .Button.Paginate-item:is(:active, :hover) {
    background: var(--in-content-button-background-hover) !important;
  }
  .Notice-generic,
  .Notice-genericWarning {
    background: color-mix(
      in srgb,
      var(--in-content-page-background) 40%,
      var(--in-content-table-background)
    ) !important;
  }

  .LanguageTools-header-row {
    color: var(--in-content-table-header-color) !important;
    background: var(--in-content-table-header-background) !important;
  }
  .LanguageTools-table.responsiveTable tbody tr:nth-child(2n) {
    background-color: var(--in-content-box-background-odd) !important;
  }

  /* Fill */
  .Icon-arrow-blue.SearchSuggestion-icon-arrow {
    filter: hue-rotate(330deg) brightness(1.3) !important;
  }
  .SecondaryHero-module-icon {
    filter: invert(85%) !important;
  }
  .Icon-magnifying-glass,
  .Notice-icon {
    filter: invert(65%) !important;
  }
  .PermissionsCard-learn-more .Icon,
  .Permission .Icon {
    filter: invert(100%) !important;
  }
  .Icon-heart {
    filter: brightness(0) !important;
  }

  /* Others */
  .DropdownMenu-items {
    box-shadow: 0 0 2px var(--in-content-border-color) !important;
  }

  .AutoSearchInput-query {
    border: 1px solid var(--in-content-table-background) !important;
  }
  .AutoSearchInput-query:is(:hover, :focus) {
    border-color: var(--in-content-primary-button-background) !important;
  }
  .AutoSearchInput-query:focus {
    box-shadow: inset 0 0 0 1px var(--in-content-primary-button-background),
      0 0 0 1px var(--in-content-primary-button-background), 0 0 0 4px rgba(0, 211, 255, 0.3) !important;
  }

  .PromotedBadge-link--line {
    border-color: var(--in-content-deemphasized-text) !important;
  }
  .PromotedBadge-link--line:hover {
    border-color: var(--in-content-button-background-hover) !important;
  }

  .blog-entry-read-more-link {
    border-color: var(--in-content-link-color) !important;
  }

  .blogpost-nav-arrow-left .cls-1,
  .blogpost-nav-arrow-right .cls-1 {
    stroke: var(--in-content-text-color) !important;
  }

  /* /developers/ */
  .DevHub-Navigation,
  .DevHub-submit-addon,
  .DevHub-get-involved,
  .DevHub-MyAddons > * {
    background: var(--in-content-page-background) !important;
    color: var(--in-content-page-color) !important;
  }
  .DevHub-Footer,
  .DevHub-callout-box {
    background: var(--in-content-box-background) !important;
    color: var(--in-content-page-color) !important;
  }

  .DevHub-Navigation.scheme-light ul li a,
  .DevHub-Footer-sections-header,
  .DevHub-Footer-section h4,
  .DevHub-Footer-section p,
  .DevHub-content-copy h2 {
    color: var(--in-content-page-color) !important;
  }
  .DevHub-Banner a,
  .DevHub-Footer a,
  .DevHub-MyAddons-list a,
  .DevHub-MyAddons-item-buttons-all {
    color: var(--in-content-link-color) !important;
  }
}
