#sidebar-header,
#sidebar {
  min-width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;

  will-change: min-width, max-width;
}

#sidebar-box:is(:hover, :focus-within) > {
  #sidebar-header,
  #sidebar {
    min-width: var(--uc-sidebar-activate-width) !important;
    max-width: var(--uc-sidebar-activate-width) !important;
  }
}

:root[inFullscreen="true"] #sidebar-box {
  margin-inline-start: var(--uc-sidebar-activate-width-reverse) !important;
  padding-inline-start: var(--uc-sidebar-fullscreen-width);
  will-change: padding-inline-start;

  &:is(:hover, :focus-within) {
    padding-inline-start: var(--uc-sidebar-activate-width);
  }

  #sidebar-header,
  #sidebar {
    min-width: calc(var(--uc-sidebar-activate-width)) !important;
    max-width: calc(var(--uc-sidebar-activate-width)) !important;

    will-change: unset;
  }
}

@include Animate {
  #sidebar-header,
  #sidebar {
    transition: min-width var(--uc-autohide-sidebar-speed) var(--animation-easing-function) var(--uc-autohide-sidebar-delay) !important;
  }

  #sidebar-box:is(:hover, :focus-within) > {
    #sidebar-header,
    #sidebar {
      transition-delay: 0ms !important;
    }
  }

  :root[inFullscreen="true"] #sidebar-box {
    transition: padding-inline-start var(--uc-autohide-fullscreen-sidebar-speed) var(--animation-easing-function) var(--uc-autohide-sidebar-delay) !important;

    &:is(:hover, :focus-within) {
      transition-delay: 0ms !important;
    }
  }
}
