#sidebar-box {
  /* Original
    min-width: 14em;
    width: 18em;
    max-width: 36em;
  */

  --uc-sidebar-width: 40px;
  --uc-sidebar-hover-width: 18em;
  --uc-sidebar-shadow-color: #28282F;
  --uc-autohide-sidebar-delay: 600ms; /* Wait 0.6s before hiding sidebar */

  z-index: 1000 !important;
  position: relative !important;

  min-width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
}

#sidebar-splitter {
  display: none !important;
}

#sidebar-header,
#sidebar {
  box-shadow: 1px 5px 15px -5px var(--uc-sidebar-shadow-color);
}

#sidebar-header {
  background-color: var(--sidebar-background-color) !important;
  color: var(--sidebar-text-color) !important;
  overflow: hidden;
}

#sidebar {
  min-width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;

  will-change: min-width, max-width;
}

#sidebar-box:hover > #sidebar {
  min-width: var(--uc-sidebar-hover-width) !important;
  max-width: var(--uc-sidebar-hover-width) !important;
}

:root[inFullscreen="true"] #sidebar-box {
  min-width: var(--uc-sidebar-hover-width) !important;
  max-width: var(--uc-sidebar-hover-width) !important;
  margin-inline-start: calc(-1 * var(--uc-sidebar-hover-width)) !important;

  transform: translateX(4px) !important;
  will-change: transform;

  &:hover {
    transform: translateX(var(--uc-sidebar-hover-width)) !important;
  }

  #sidebar-header,
  #sidebar {
    min-width: calc(var(--uc-sidebar-hover-width)) !important;
    max-width: calc(var(--uc-sidebar-hover-width)) !important;
    box-shadow: 2px 0 33px var(--uc-sidebar-shadow-color);

    will-change: unset;
  }
}

@include Animate {
  #sidebar {
    transition: min-width 750ms var(--animation-easing-function) var(--uc-autohide-sidebar-delay) !important;
  }

  #sidebar-box:hover > #sidebar {
    transition-delay: 0ms !important;
  }

  :root[inFullscreen="true"] #sidebar-box {
    transition: transform 1s var(--animation-easing-function) var(--uc-autohide-sidebar-delay) !important;

    &:hover {
      transition-delay: 0ms !important;
    }
  }
}
