@use "sass:list";
@use "list" as list-utils;

@mixin each($list) {
  $listL: list.length($list);
  @if $listL > 1  {
    @for $i from 1 through ($listL - 1) {
      $media: list.nth($list, $i);
      $list: list.set-nth($list, $i, "(" + $media + "), ");
    }
  }

  @if ($listL >= 1) and list.nth($list, 1) != null {
    $media: list.nth($list, $listL);
    $list: list.set-nth($list, $listL, "(" + $media + ")");

    @media #{list-utils.to-string($list)} {
      @content;
    }
  }
}
