$tabProton: "userChrome.tab.proton";
$tabConnectToWindow: "userChrome.tab.connect_to_window";
$tabBoxShadow: "userChrome.tab.box_shadow";
$tabBottomRoundedCorner: "userChrome.tab.bottom_rounded_corner";
$tabLeptonLikePadding: "userChrome.tab.lepton_like_padding";
$tabPhotonLikeContextLine: "userChrome.tab.photon_like_contextline";
$tabPhotonLikePadding: "userChrome.tab.photon_like_padding";
$tabProtonLikePadding: "userChrome.tab.proton_like_padding";

$tabMultiSelected: "userChrome.tab.multi_selected";

@mixin Option($optionName) {
  @supports -moz-bool-pref("#{$optionName}") {
    @content;
  }
}

@mixin NotOption($optionName) {
  @supports not -moz-bool-pref("#{$optionName}") {
    @content;
  }
}
