@use "each";

$tabProton: "userChrome.tab.proton";
$tabConnectToWindow: "userChrome.tab.connect_to_window";
$tabBoxShadow: "userChrome.tab.box_shadow";
$tabBottomRoundedCorner: "userChrome.tab.bottom_rounded_corner";
$tabLeptonLikePadding: "userChrome.tab.lepton_like_padding";
$tabPhotonLikeContextLine: "userChrome.tab.photon_like_contextline";
$tabPhotonLikePadding: "userChrome.tab.photon_like_padding";
$tabProtonLikePadding: "userChrome.tab.proton_like_padding";

$tabMultiSelected: "userChrome.tab.multi_selected";

@mixin Option($optionNames...) {
  @include each.AtEach("supports", $optionNames, "-moz-bool-pref", " or ") {
    @content;
  }
}

@mixin NotOption($optionNames...) {
  @include each.AtEach("supports", $optionNames, "not -moz-bool-pref", " or ") {
    @content;
  }
}
