/*= Tabs on Bottom ===========================================================*/
@include Option("userChrome.tab.on_bottom", "userChrome.fullscreen.overlap") {
  /* Don't use display: flex at not fullscreen!! side effect #372 */
  :root[sizemode="fullscreen"] #navigator-toolbox {
    display: flex !important; /* Needed for content to take up entire height, compatibility with tabs on bottom */
    flex-wrap: wrap;
  }
  :root[sizemode="fullscreen"] #titlebar,
  :root[sizemode="fullscreen"] #nav-bar,
  :root[sizemode="fullscreen"] #PersonalToolbar,
  :root[sizemode="fullscreen"] #tab-notification-deck,
  :root[sizemode="fullscreen"] #tab-notification-deck-template {
    flex-basis: 100%;
  }

  /* -moz-default-appearance: -moz-window-titlebar */
  :root[sizemode="fullscreen"] #titlebar {
    -moz-appearance: none !important;
  }
}

@include Option("userChrome.tab.on_bottom") {
  @import "tabs_on_bottom";
}

/*= Tab Bar - Connect to window ==============================================*/
@include Option("userChrome.tab.connect_to_window") {
  @import "connect_to_window";
}

/*= Selected Tab =============================================================*/
@import "selected_tab";

/*= Unselected Tab - Divide line =============================================*/
@import "unselected_tab";

/*= New tab button ============================================================*/
@import "newtab_button";

/*= Unloaded Tab - Contents Opacity ===========================================*/
@include Option("userChrome.tab.unloaded") {
  @import "unload_tab";
}

/*= Clipped tabs =============================================================*/
@import "clipped_tab";

/*= Sound Tab ================================================================*/
@import "sound_tab";

/*= PictureInPicture Tab - Show PIP Icon =====================================*/
@include Option("userChrome.tab.pip") {
  @import "picture_in_picture_tab";
}

/*= Container Tab - Color line at icon's bottom ==============================*/
@include Option("userChrome.tab.container") {
  @import "container_tab";
}

/*= Crashed Tab - Don't show Favicons ========================================*/
@include Option("userChrome.tab.crashed") {
  @import "crashed_tab";
}

/*= Tab Label - Make to Center ===============================================*/
@include Option("userChrome.tab.centered_label") {
  @import "centered_label";
}
