:root {
  --uc-navbar-size: 40vw;
}

#navigator-toolbox {
  background-color: var(--toolbar-bgcolor) !important;
}

#TabsToolbar {
  margin-left: var(--uc-navbar-size) !important;
}
#nav-bar {
  margin-right: calc(100vw - var(--uc-navbar-size)) !important;
  margin-top: calc(-1 * var(--tab-min-height)) !important;
  height: var(--tab-min-height) !important;
}

#urlbar-container {
  min-width: 0px !important;
}

toolbarspring.chromeclass-toolbar-additional,
.titlebar-spacer[type="pre-tabs"] {
  display: none !important;
}

:root:not([sizemode="maximized"]) #nav-bar {
  padding-inline-start: 40px !important;
  @include Option("userChrome.padding.tabbar_width") {
    padding-inline-start: var(--uc-title-pre-spacer) !important;
  }
}
