:root {
  --uc-navbar-size: 40vw;
  --uc-tabbar-size: calc(100vw - var(--uc-navbar-size));
}

#navigator-toolbox {
  background-color: var(--toolbar-bgcolor) !important;
}

#nav-bar {
  margin-top: var(--uc-tabbar-hide-height) !important;
  height: var(--uc-tabbar-height) !important;

  --lwt-tabs-border-color: transparent; // box-shadow
  background-color: unset !important; // var(--toolbar-bgcolor)
  background-image: unset !important; // var(--toolbar-bgimage)
}

#urlbar-container {
  min-width: calc(24px + 2 * var(--toolbarbutton-inner-padding)) !important; // Original: calc(350px + 24px + 2 * var(--toolbarbutton-inner-padding))
}

#PersonalToolbar {
  // for URL Bar
  position: relative;
  z-index: -1;
}

toolbarspring.chromeclass-toolbar-additional {
  display: none !important;
}

@include NotOption("userChrome.tab.one_liner.tabbar_first") {
  #TabsToolbar {
    margin-inline-start: var(--uc-navbar-size) !important;
  }
  #nav-bar {
    margin-inline-end: var(--uc-tabbar-size) !important;
  }
  .titlebar-spacer[type="pre-tabs"] {
    display: none !important;
  }
}
@include Option("userChrome.tab.one_liner.tabbar_first") {
  #TabsToolbar {
    margin-inline-end: var(--uc-navbar-size) !important;
  }
  #nav-bar {
    margin-inline-start: var(--uc-tabbar-size) !important;
  }
  .titlebar-spacer[type="post-tabs"] {
    display: none !important;
  }
}
