:root {
  /* Compatibility for accent color
     https://github.com/mozilla/gecko-dev/commit/4c5f20179e8d3b963dc588efb9dc2c7b49e7bb31
  */
  --uc-accent-color: AccentColor;
  --uc-accent-text-color: AccentColorText;

  @include Option("userChrome.compatibility.accent_color") {
    --uc-accent-color: -moz-accent-color;
    --uc-accent-text-color: -moz-accent-color-foreground;
  }
}
