@import "../icons/layout_menu_common";

//-- Mixin ---------------------------------------------------------------------
@function _library_iconTargetSelector($target: "menu") {
  // .menu-iconic, .menuitem-iconic: Alreay exist, not target.
  // .in-menulist: Not a range because it is a select menu of web content.
  // [type="checkbox"], [checked="true"]: There should be a check mark instead of an icon.
  @return "#{$target}:not(.#{$target}-iconic, .in-menulist, [type=\"checkbox\"], [checked=\"true\"])";
}
$_library_menuitemSelector: _library_iconTargetSelector("menuitem");
$_library_menuSelector: _library_iconTargetSelector("menu");

@mixin _library_contextMenu {
  #placesContext #{$_library_menuitemSelector},
  #placesContext #{$_library_menuSelector},
  menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
  menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu {
    @content;
  }
}
@mixin _library_nativeContextMenu {
  :not(menu, #ContentSelectDropdown)
    > menupopup
    > #{$_library_menuitemSelector},
  :not(menu, #ContentSelectDropdown)
    > menupopup
    > #{$_library_menuSelector} {
    @content;
  }
}

//------------------------------------------------------------------------------

#{$_initialMenus} {
  @include _initial_menus;
}

@include _library_contextMenu {
  @include _layout_icon_menus;
}

/* For native context menus */
@include _library_nativeContextMenu {
  @include _layout_icon_native_menus;
}

/* Padding */
@include _layout_root_padding;
@include _library_contextMenu {
  @include _layout_init_padding;
}

/* Padding - Windows */
@include OS($win) {
  /* Checkbox */
  :root {
    --context-menu-text-padding: calc(var(--menu-padding) + var(--context-menu-background-padding-default) + 16px);
  }
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem[type="checkbox"][checked="false"]
    > .menu-iconic-left {
    padding-inline-start: var(--context-menu-text-padding);
  }
}

@include _layout_root_win7_8;
@include OS($win7, $win8) {
  @include _library_contextMenu {
    @include _layout_init_win7_8();
  }
}
@include OS($win10) {
  @include _layout_root_win10;

  @include _library_contextMenu {
    @include _layout_init_win10;
  }
}

/* Padding - Linux */
@include OS($linux) {
  @include _layout_root_linux;
}

/* Padding - Mac */
@include OS($mac) {
  @include _layout_root_mac;

  /* context menu width */
  #placesContext #{$_library_menuitemSelector},
  #placesContext #{$_library_menuSelector} {
    @include _layout_init_mac_width;

    > .menu-text {
      /* text position */
      @include _layout_init_mac_text;
    }
  }

  /* Checkbox menuitem, None iconic menu */
  #placesContext menuitem[type="checkbox"],
  #placesContext menu:not(.menu-iconic) {
    @include _layout_init_mac_others;
  }
}

/* Icon lists */
@import "../icons/context_menu/place";
@import "../icons/library";
