#tabbrowser-tabs[closebuttons="activetab"] {
  --inline-tab-padding: 7px !important; /* Original: 8px */
}
#tabbrowser-tabs[overflow="true"] {
  --inline-tab-padding: 6px !important; /* Original: 8px */
}

.tab-content[pinned] {
  --inline-tab-padding: 10px; /* Prevent overflow pinned tab's divide line not aligned */
  padding-inline: var(--inline-tab-padding) !important;
}
:root[uidensity="compact"] .tab-content[pinned] {
  --inline-tab-padding: 8px;
}

// mask-image: linear-gradient(to left, transparent, black var(--tab-label-mask-size));
.tabbrowser-tab {
  .tab-label-container {
    --tab-label-mask-size: 1.8em; /* Original: 2em */
  }
}

#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab {
  .tab-label-container {
    --tab-label-mask-size: 30%;
  }
  &:is([visuallyselected], [multiselected="true"]) .tab-label-container {
    --tab-label-mask-size: 25%;
  }
}

.tabbrowser-tab[visuallyselected]:not([labelendaligned]):hover .tab-label-container,
#tabbrowser-tabs:not([closebuttons=activetab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not([visuallyselected],[labelendaligned]):hover .tab-label-container {
  --tab-label-mask-size: 0.9em; /* Original: 1em */
}
