// #735
.unified-extensions-item-menu-button.subviewbutton {
  border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

// Nova
:root,
:host {
  --urlbar-border-radius: 8px !important;
  --urlbar-container-padding: round(up, 1px, env(hairline)) !important;
  --urlbar-container-border-width: max(env(hairline), round(down, 1px, env(hairline))) !important;
  --urlbar-container-border-padding: calc(var(--urlbar-container-border-width) + var(--urlbar-container-padding)) !important;
  --urlbar-padding-block: 4px !important;
}

