@include Option("userChrome.rounding.square_tab") {
  :root {
    --tab-border-radius: 0 !important; /* Original: 4px */
  }
}
@include Option("userChrome.rounding.square_button") {
  :root {
    --urlbar-icon-border-radius: 0 !important; /* Original: calc(var(--toolbarbutton-border-radius) - 1px); */
  }

  .toolbarbutton-1,
  .toolbarbutton-icon,
  .panel-info-button,
  .searchbar-engine-one-off-item,
  .urlbarView-button,
  .urlbarView-tip-button,
  .urlbarView-action,
  toolbarbutton.bookmark-item:not(.subviewbutton),
  #sidebar-switcher-target {
    --toolbarbutton-border-radius: 0;  /* Original: 4px */
  }

  button,
  .close-icon,
  input[type="number"].photon-number::-moz-number-spin-box,
  .toggle-group-label,
  findbar toolbarbutton,
  .notification-button,
  #main-menubar > menu {
    border-radius: 0 !important;
  }
}
@include Option("userChrome.rounding.square_tab", "userChrome.rounding.square_button") {
  /* Fix Tab bar button radius */
  #TabsToolbar .toolbarbutton-1:not(#tabs-newtab-button),
  .tab-close-button {
    --tab-border-radius: var(--toolbarbutton-border-radius);
  }
}

@include Option("userChrome.rounding.square_panel") {
  :root {
    --arrowpanel-border-radius: 0 !important;
  }
}
@include Option("userChrome.rounding.square_panelitem") {
  :root {
    --arrowpanel-menuitem-border-radius: 0 !important;
    --subviewbutton-border-radius: 0 !important;
  }
}

@include Option("userChrome.rounding.square_menupopup") {
  menupopup {
    --panel-border-radius: 0px !important;
    border-radius: 0 !important;
  }
}
@include Option("userChrome.rounding.square_menuitem") {
  xul|menulist:not([native]),
  xul|menulist > xul|menupopup xul|menu,
  xul|menulist > xul|menupopup xul|menuitem,
  .customization-uidensity-menuitem {
    border-radius: 0 !important;
  }
}

@include Option("userChrome.rounding.square_infobox") {
  #sanitizeEverythingWarningBox {
    border-radius: 0 !important;
  }
}

@include Option("userChrome.rounding.square_toolbar") {
  :root {
    --uc-rounding-toolbar: 0;
  }

  .container.infobar,
  .container.infobar::before,
  notification-message {
    border-radius: var(--uc-rounding-toolbar) !important;
  }
}

@include Option("userChrome.rounding.square_field") {
  input:not([type="radio"], [type="checkbox"]),
  textarea,
  select,
  menulist,
  tree,
  treecols,
  listheader,
  richlistbox,
  search-textbox,
  .subviewradio {
    border-radius: 0 !important;
  }

  #urlbar-input-container,
  #urlbar-background,
  #searchbar {
    --toolbarbutton-border-radius: 0;
  }
}

@include Option("userChrome.rounding.square_urlView_item") {
  .urlbarView-row, // At FF v111 #668
  .urlbarView-row-inner {
    --toolbarbutton-border-radius: 0;
  }
}

@include Option("userChrome.rounding.square_checklabel") {
  input[type="checkbox"],
  .checkbox-check {
    border-radius: 0 !important;
  }
}
