/** Clipped tabs - Letters cleary *********************************************/
@include Option("userChrome.tab.letters_cleary") {
  @import "clipped_tab/letters_cleary";
}

/** Clipped tabs - Show close button at hover *********************************/
@include Option("userChrome.tab.close_button_at_hover") {
  @import "clipped_tab/show_close_button_at_hover";
}

/** Clipped tabs - Show close button at pinned tab ****************************/
@include Option("userChrome.tab.close_button_at_pinned") {
  @include NotOption("userChrome.tabbar.as_titlebar") {
    @import "clipped_tab/pinned_close_button";
  }
}

/** Clipped tabs - Always show tab icon ***************************************/
@include Option("userChrome.tab.always_show_tab_icon") {
  @import "clipped_tab/always_show_tab_icon";
}
