#tabbrowser-tabs:not([orient="vertical"]) {
  min-height: unset !important; /* Original: var(--tabstrip-min-height) */

  .tab-background {
    border-radius: var(--tab-border-radius) var(--tab-border-radius) var(--uc-tab-border-bottom-radius, 0px) var(--uc-tab-border-bottom-radius, 0px) !important;
    margin-bottom: 0px !important;
  }

  .tab-content {
    margin-top: 0px; // #892 Consider var(--tab-block-margin)
  }

  .tab-stack {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  tab-group .tabbrowser-tab:is([selected], [multiselected]) .tab-group-line {
    transform: translateY(calc(var(--tab-group-line-thickness) * -1));
  }
}
#tabbrowser-tabs[orient="vertical"] {
  --uc-tab-border-bottom-radius: var(--tab-border-radius);
}

/* Remove line at Toolbar's top */
#tabbrowser-tabs {
  z-index: 1 !important;
}
@include NotOption("userChrome.tabbar.multi_row") {
  #TabsToolbar:not([multibar]) {
    overflow: clip; /* Prevent toolbar area over */
  }
}

/* Pinned Tab - tabbrowser-arrowscrollbox overflowing */
#tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned] {
  z-index: 0 !important;

  .tab-stack {
    /* Temporary solution for compatibility #513 */
    overflow-y: clip;
  }
}

/* Border top #889 */
#nav-bar {
  border-top: none !important;
  box-shadow: 0 -0.01px 0 ThreeDShadow;
  @include OS($linux) {
    @include not_lwtheme(false) {
      box-shadow: 0 -0.01px 0 ThreeDShadow;
    }
  }
}
