#tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab[pictureinpicture]:not([pinned]) .tab-content::after,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab[pictureinpicture]:not([pinned], :hover) .tab-content::after {
  content: "";
}
.tabbrowser-tab[pictureinpicture]:not([pinned]) .tab-content::after {
  /* Shape */
  @include InlineBox(true);
  width: 14px;
  height: 14px;
  background-size: 14px;
  @include BoxOrder(1, true);

  /* Color */
  fill: currentColor;
  opacity: 0.8;
  -moz-context-properties: fill;

  /* Icon */
  background-image: url("chrome://global/skin/media/picture-in-picture-open.svg");
}
.tabbrowser-tab[pictureinpicture]:not([pinned])[selected] .tab-content::after {
  opacity: 0.95;
}

/* Close Button's position */
.tabbrowser-tab[pictureinpicture]:not([pinned]) .tab-close-button {
  @include BoxOrder(2, true);
}
#tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab[pictureinpicture]:not([pinned]) .tab-close-button {
  margin-left: 7px !important;
}
#tabbrowser-tabs:not([closebuttons="activetab"])
  .tabbrowser-tab[pictureinpicture]:not([pinned]):hover
  .tab-close-button {
  margin-left: 2px !important;
}
