/*= Selected Tab - Bold ======================================================*/
@import "selected_tab/bold";

/*= Selected Tab - Color like toolbar ========================================*/
@include Option("userChrome.tab.color_like_toolbar") {
  @import "selected_tab/color_like_toolbar";
}

/*= Multi Selected Color - More Contrast =====================================*/
@include Option("userChrome.tab.multi_selected") {
  @import "selected_tab/multi_selected";
}

/*= Selected Tab - Box Shadow ================================================*/
@include Option("userChrome.tab.box_shadow") {
  @import "selected_tab/box_shadow";
}

/*= Selected Tab - Bottom Rounded Corner =====================================*/
@include Option("userChrome.tab.bottom_rounded_corner") {
  @include NotOption("userChrome.tab.bottom_rounded_corner.wave") {
    @include NotOption("userChrome.tab.bottom_rounded_corner.australis") {
      @include NotOption("userChrome.tab.bottom_rounded_corner.chrome") {
        @include NotOption("userChrome.tab.bottom_rounded_corner.chrome_legacy") {
          @include NotOption("userChrome.tab.bottom_rounded_corner.edge") {
            @import "selected_tab/bottom_rounded_corner";
          }
        }
      }
    }
  }
  @include Option(
    "userChrome.tab.bottom_rounded_corner.wave",
    "userChrome.tab.bottom_rounded_corner.australis",
    "userChrome.tab.bottom_rounded_corner.chrome_legacy",
    "userChrome.tab.bottom_rounded_corner.chrome",
    "userChrome.tab.bottom_rounded_corner.edge"
  ) {
    @import "selected_tab/bottom_rounded_corner_others";
  }
}

/*= Selected Tab - Photon like contextline ===================================*/
@include Option(
  "userChrome.tab.photon_like_contextline",
  "userChrome.tab.static_separator",
  "userChrome.tab.bar_separator") {
  :root[lwtheme-mozlightdark] #tabbrowser-tabs, /* Legacy: v96 */
  :root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"],
  :root[style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"] {
    --tab-line-color: rgb(10, 132, 255) !important;
  }
  @include OS("linux") {
    :root:not(:-moz-lwtheme) #tabbrowser-tabs {
      @include AccentColor("Highlight") {
        --tab-line-color: #{$accentColor} !important; /* -moz-accent-color */
      }
    }
  }
}

@include Option("userChrome.tab.photon_like_contextline") {
  @import "selected_tab/photon_like_contextline";
}
