@include moz-document(url-prefix "about:preferences") {
  .content-blocking-warning.info-box-container > hbox > .content-blocking-warning-image {
    margin-inline-start: -7px !important;
    margin-inline-end: 8px !important; // Original: 6px
    width: 20px !important; // ESR(102): 16px, Nightly(116): 27px
  }

  #pane-experimental-search-results-header,
  #pane-experimental-subtitle {
    min-height: 27px !important; // Original: 30px
    padding-inline-start: 35px !important;
  }

  // #910
  .translations-manage-language:first-child {
    padding-block: 4px !important;
    margin-bottom: 4px !important;
  }
  .translations-manage-language button {
    min-height: var(--size-item-medium, 28px) !important;
    max-height: var(--size-item-medium, 28px) !important;
  }

  // Align & Separator #722
  #firefoxExperimentalCategory {
    &:not([hidden="true"]) {
      display: inline-block;
    }

    > label {
      float: left;
    }
    > hbox {
      transform: translateY(5px);
    }

    .description-deemphasized {
      display: none; // #912
    }
  }
  #pane-experimental-featureGates > html|p[data-l10n-id="pane-experimental-description2"] {
    border-bottom: 1px solid var(--in-content-border-color);
    padding-bottom: 1.5em;
  }
}

@include moz-document(url-prefix "about:addons") {
  // #695
  #updates-message + .page-options-menu > .more-options-button {
    box-sizing: content-box;
    padding: 0 !important;
  }

  // #911
  #categories {
    padding-inline-end: 1px !important; /* Original: 4px */
  }
}

@include moz-document(url-prefix "about:policies") {
  // #923
  #categories > .category {
    box-sizing: border-box;
  }
}
