@import "../icons/shared";

@include moz-document(
  url-prefix "about:",
  url-prefix "chrome://",
  regexp "^((jar:)?file:\/\/\/).*\/$"
) {
  :root {
    @include initIcons;
  }
}

@include moz-document(
  url "chrome://browser/content/places/places.xhtml",
  url "about:downloads"
) {
  @import "../icons/layout/menu_contents";

  /*= Context Menu ===========================================================*/
  @include Option("userChrome.icon.context_menu") {
    /* Icon lists */
    @import "../icons/context_menu/downloads";
    @import "../icons/context_menu/place";
  }
  @include Option("userChrome.icon.global_menu") {
    @import "../icons/library";
  }
}

@include moz-document(url-prefix "about:addons") {
  @include Option("userChrome.icon.context_menu") {
    @import "../icons/addon_page";
  }
}

@include moz-document(url-prefix "about:logins") {
  @include Option("userChrome.icon.context_menu") {
    @import "../icons/login_page";
  }
}
