@-moz-document url-prefix("about:neterror"),
  url("about:restartrequired"), url("chrome://browser/content/aboutRestartRequired.xhtml"),
  url("about:sessionrestore"),  url("chrome://browser/content/aboutSessionRestore.xhtml")
{
  /* Illustrations Position */
  #errorPageContainer,
  .description-wrapper {
    min-height: 300px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 38%;
  }

  #errorPageContainer {
    display: flex;
    flex-direction: column;
  }
  .description-wrapper {
    padding-inline-start: 38%;
  }

  /* Container */
  .container {
    min-width: var(--in-content-container-min-width); /* 13em */
    max-width: var(--in-content-container-max-width); /* 52em */
  }

  /* Text Position */
  #text-container {
    margin: auto;
    padding-inline-start: 38%;
  }
}


//-- Mixin ---------------------------------------------------------------------
@mixin _backgroundImage($imgURL, $important: false) {
  background-image: url($imgURL) if($important, !important, null);
  @content;
}

@mixin _errorContainerImage($imgURL) {
  #errorPageContainer {
    @include _backgroundImage($imgURL) {
      @content;
    }
  }
}

@mixin _errorDescriptionImage($imgURL) {
  .description-wrapper {
    @include _backgroundImage($imgURL) {
      @content;
    }
  }
}

@mixin _errorTitleImage($imgURL) {
  @media (min-width: 970px) {
    .title {
      @include _backgroundImage($imgURL, true) {
        @content;
      }
    }
  }
}

//------------------------------------------------------------------------------

@-moz-document url-prefix("about:neterror?e=connectionFailure"),
  url-prefix("about:neterror?e=netInterrupt"),
  url-prefix("about:neterror?e=netTimeout"),
  url-prefix("about:neterror?e=netReset"),
  url-prefix("about:neterror?e=netOffline"),
  url("about:restartrequired"), url("chrome://browser/content/aboutRestartRequired.xhtml")
{
  @include _errorContainerImage("../icons/error-connection-failure.svg");
}
@-moz-document url-prefix("about:neterror?e=dnsNotFound") {
  @include _errorContainerImage("../icons/error-server-not-found.svg");
}
@-moz-document url-prefix("about:neterror?e=malformedURI") {
  @include _errorContainerImage("chrome://browser/skin/illustrations/error-malformed-url.svg");
}
@-moz-document url-prefix("about:neterror?e=clockSkewError"),
  url-prefix("about:neterror?e=nssFailure") {
  @include _errorContainerImage("../icons/blue-berror.svg") {
    background-size: 18.5em;
  }
}

@-moz-document url("about:sessionrestore"), url("chrome://browser/content/aboutSessionRestore.xhtml")
{
  @include _errorDescriptionImage("../icons/error-session-restore.svg");
}

@-moz-document url-prefix("about:neterror?e=fileNotFound") {
  @include _errorTitleImage("chrome://global/skin/icons/info.svg");

  #text-container {
    padding-inline-start: 0;
  }
}
@-moz-document url-prefix("about:tabcrashed") {
  @include _errorTitleImage("chrome://browser/skin/tab-crashed.svg");
}
@-moz-document url("about:robots"), url("chrome://browser/content/aboutRobots.xhtml")
{
  @include _errorTitleImage("chrome://browser/content/aboutRobots-icon.png");
}
@-moz-document url("about:welcomeBack"), url("chrome://browser/content/aboutWelcomeBack.xhtml")
{
  @include _errorTitleImage("../icons/welcome-back.svg");
}
