/*= Common contents ==========================================================*/
@import "proton_contents/proton_commons";

/*= Field Border =============================================================*/
@include Option("userContent.page.field_border") {
  @include Animate {
    @import "proton_contents/field_border";
  }
}

/*= View Source ==============================================================*/
@import "proton_contents/view_source";

/*= Directory View ===========================================================*/
@import "proton_contents/directory_view";

/*= about:plugins ============================================================*/
@import "proton_contents/about_plugins";

/*= about:cache ==============================================================*/
@import "proton_contents/about_cache";

/*= about:checkerboard =======================================================*/
@import "proton_contents/about_checkerboard";

/*= about:memory =============================================================*/
@import "proton_contents/about_memory";

/*= about:preferences ========================================================*/
@import "proton_contents/about_preferences";

/*= about:processes ==========================================================*/
@import "proton_contents/about_processes";

/*= chrome://browser/content/places/places.xhtml =============================*/
@import "../library/contents";
