@include Option("userChrome.rounding.square_button") {
  // #firefox-screenshots-selection-iframe
  .all-buttons-container,
  .highlight-buttons > button,
  .cancel-shot,

  // Video player
  #pictureInPictureToggle > .pip-small {
    border-radius: 0 !important;
  }

  @include moz-document(
    url-prefix "about:",
    regexp "^chrome:\/\/\\w+\/content\/.*\.xhtml$"
  ) {
    button:not(.toggle-button),
    .close-icon,
    .action-icon::before,
    .page-section-header > .twisty,
    .closed-tab-li-main,
    #categories > .category,
    .sidebar-footer-link {
      border-radius: 0 !important;
    }
  }

  @include moz-document(url-prefix "about:debugging") {
    .sidebar-item {
      border-radius: 0 !important;
    }
  }

  @include moz-document(url-prefix "chrome://browser/content/places/places.xhtml", url-prefix "about:downloads") {
    .downloadButton > .button-box {
      border-radius: 0 !important;
    }
  }

  @include moz-document(url-prefix "about:protections") {
    #manage-protections,
    #sign-up-for-monitor-link,
    #get-proxy-extension-link,
    #get-vpn-link,
    #vpn-banner-link,
    .monitor-partial-breaches-link-wrapper,
    .monitor-breaches-link-wrapper {
      border-radius: 0 !important;
    }
  }

  @include moz-document(regexp ".*\.pdf$") {
    .toolbarButton,
    .dropdownToolbarButton,
    .secondaryToolbarButton,
    .dialogButton {
      border-radius: 0 !important;
    }
  }
}

@include Option("userChrome.rounding.square_dialog") {
  @include moz-document(url "about:home", url "about:newtab") {
    .modal {
      border-radius: 0 !important;
    }
  }
}

@include Option("userChrome.rounding.square_checklabel") {
  @include moz-document(
    url-prefix "about:",
    regexp "^chrome:\/\/\\w+\/content\/.*\.xhtml$"
  ) {
    input[type="checkbox"]:not(.toggle-button),
    .checkbox-check {
      border-radius: 0 !important;
    }
  }
}

@include Option("userChrome.rounding.square_field") {
  @include moz-document(
    url-prefix "about:",
    regexp "^chrome:\/\/\\w+\/content\/.*\.xhtml$"
  ) {
    input:is([type="color"], [type="email"], [type="tel"], [type="text"], [type="password"], [type="url"], [type="number"]),
    textarea,
    select,
    menulist,
    tree,
    treecols,
    listheader,
    richlistbox,
    search-textbox,
    .web-appearance-choice,
    .content-blocking-category,
    #translations-manage-install-list {
      border-radius: 0 !important;
    }
  }

  @include moz-document(url-prefix "about:debugging") {
    .default-input {
      border-radius: 0 !important;
    }
  }

  @include moz-document(url "about:home", url "about:newtab") {
    .search-wrapper {
      .search-handoff-button,
      input {
        border-radius: 0 !important;
      }
    }
  }

  @include moz-document(regexp ".*\.pdf$") {
    .toolbarField,
    .thumbnailSelectionRing {
      border-radius: 0 !important;
    }
  }
}

@include Option("userChrome.rounding.square_menupopup") {
  @include moz-document(url-prefix "about:", url-prefix "chrome://") {
    panel,
    menupopup {
      --panel-border-radius: 0 !important;
    }
  }

  @include moz-document(url-prefix "about:addons") {
    panel-list {
      border-radius: 0 !important;
    }
  }

  @include moz-document(url-prefix "about:logins") {
    .menu {
      border-radius: 0 !important;
    }
  }

  @include moz-document(url "about:home", url "about:newtab") {
    .context-menu {
      border-radius: 0 !important;
    }
  }

  @include moz-document(regexp ".*\.pdf$") {
    .doorHanger,
    .doorHangerRight {
      border-radius: 0 !important;
    }
  }
}

@include Option("userChrome.rounding.square_infobox") {
  @include moz-document(
    url-prefix "about:",
    regexp "^chrome:\/\/\\w+\/content\/.*\.xhtml$"
  ) {
    /*
     * .container is inside shadow DOM,
     * and it does not have any other classes,
     * but there may be other elements with the same class,
     * hence the weird selector.
     */
    link[href="chrome://global/content/elements/message-bar.css"] + .container,
    .info-box-container:not(.content-blocking-category),
    .options-container,
    #sanitizeEverythingWarningBox {
      border-radius: 0 !important;
    }
  }

  @include moz-document(url-prefix "about:debugging") {
    .message {
      border-radius: 0 !important;
    }
  }

  @include moz-document(url-prefix "about:firefoxview") {
    .card,
    .card::before, // .zap-card border
    .empty-container,
    .synced-tab-a,
    .synced-tab-li-placeholder {
      border-radius: 0 !important;
    }
  }
}
