@include Option("userChrome.icon.panel") {
  #appMenu-restart-button {
    list-style-image: url("../icons/refresh-cw.svg") !important;
  }
}
@include Option("userChrome.icon.menu") {
  #menu_FileRestartItem {
    --menuitem-image: url("../icons/refresh-cw.svg");
  }

  #toggle_status-dummybar {
    --menuitem-image: url("../icons/pulse-square.svg");
  }

  menuitem.privatetab-icon {
    --menuitem-image: url("../icons/private-favicon.svg");
  }

  #sidebar_waterfox_net-menuitem-_openAllBookmarksWithStructure {
    --menuitem-image: url("../icons/organization-horizontal.svg");
  }
}
