@use "utils/os" as *;
@use "utils/option" as *;
@use "utils/color_scheme" as *;
@use "utils/theme" as *;
@use "utils/native_menu" as *;
@use "utils/proton_elements" as Proton;
@use "sass:selector";

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@namespace html "http://www.w3.org/1999/xhtml";

/** Default Thme - Contrast ***************************************************/
@include Option("userChrome.theme.built_in_contrast") {
  @import "theme/built_in";
}

/** Compatibility Fixes *******************************************************/
@import "compatibility/index";

/** System Default Theme ******************************************************/
@include Option("userChrome.theme.system_default") {
  @import "theme/system_default_theme";
}

/** Fully Theme Mode **********************************************************/
/* Default Themes
     https://github.com/mozilla/gecko-dev/blob/master/toolkit/mozapps/extensions/default-theme/manifest.json
     https://github.com/mozilla/gecko-dev/blob/master/browser/themes/addons/light/manifest.json
     https://github.com/mozilla/gecko-dev/blob/master/browser/themes/addons/dark/manifest.json
  */

@include Option("userChrome.theme.proton_color") {
  @import "theme/proton_color";
  @include Option("userChrome.theme.proton_color.dark_blue_accent") {
    @import "theme/dark_blue_accent";
  }
}
@include Option("userChrome.theme.fully_color") {
  @import "theme/fully_color";
}

/* Fully Dark Mode ************************************************************/
@include Option("userChrome.theme.fully_dark") {
  @import "theme/fully_dark";
}

/* Proton Theme Mode **********************************************************/
@include Option("userChrome.theme.proton_chrome") {
  @import "theme/proton_chrome";
}

/** Decoration ****************************************************************/
@import "decoration/index";

/** Rounding ******************************************************************/
@import "rounding/index";

/** Reduce Padding ************************************************************/
@import "padding/index";

/** Tab Bar UI ****************************************************************/
@import "tabbar/index";

/** Url View UI ***************************************************************/
@import "urlview/index";

/** Panel UI ******************************************************************/
@import "panel/index";

/** Fullscreen - Overlap toolbar **********************************************/
@import "fullscreen/index";

/** Library - Icons Replace ***************************************************/
@include Option("userChrome.icon.library") {
  @import "library/chrome";
}

/** Panel - Icons *************************************************************/
@include Option("userChrome.icon.panel") {
  @import "icons/layout_panel";
  @import "icons/panel";
}

/** Menu - Icons Layout *******************************************************/
@include Option("userChrome.icon.menu") {
  @import "icons/layout_menu";
  @import "icons/layout_bookmark_menu";

  @include Option("userChrome.icon.context_menu") {
    @import "icons/context_menu";
  }
  @include Option("userChrome.icon.global_menubar") {
    @import "icons/global_menubar";
  }
  @include Option("userChrome.icon.global_menu") {
    @import "icons/global_menu";
  }
}

/** Libray Menu ***************************************************************/
@include Option("userChrome.icon.library") {
  @include Option("userChrome.icon.menu") {
    @import "icons/library";
  }
}

/*= Waterfox =================================================================*/
@import "icons/waterfox";
@include Option("userChrome.theme.fully_color") {
  @import "theme/waterfox";
}

/*= Tor Browser ==============================================================*/
@import "icons/tor_browser";
