@use "utils/os" as *;
@use "utils/option" as *;
@use "utils/color_scheme" as *;

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@namespace html "http://www.w3.org/1999/xhtml";

/** Default Thme - Contrast ***************************************************/
@include Option($builtInContrast) {
  @import "theme/built_in";
}

/** Theme - Compatibility *****************************************************/
@import "theme/theme_compatibility";

/** OS - Compatibility ********************************************************/
@import "theme/os_compatibility";

/** System Default Theme ******************************************************/
@import "theme/system_default_theme";

/** Fully Theme Mode **********************************************************/
/* Default Themes
     https://github.com/mozilla/gecko-dev/blob/master/toolkit/mozapps/extensions/default-theme/manifest.json
     https://github.com/mozilla/gecko-dev/blob/master/browser/themes/addons/light/manifest.json
     https://github.com/mozilla/gecko-dev/blob/master/browser/themes/addons/dark/manifest.json
  */

@import "theme/proton_color";
@import "theme/fully_color";

/* Fully Dark Mode ************************************************************/
@import "theme/fully_dark";

/* Proton Theme Mode **********************************************************/
@import "theme/proton_chrome";

/** Decoration ****************************************************************/
@import "theme/decoration";

/** Reduce Padding ************************************************************/
@import "padding/index";

/** Tab Bar - Connect to window ***********************************************/
@include Option("userChrome.tab.connect_to_window") {
  @import "tabbar/connect_to_window";
}

/** Selected Tab **************************************************************/
@import "tabbar/selected_tab";

/** Unselected Tab - Divide line **********************************************/
@import "tabbar/unselected_tab";

/* New tab button *************************************************************/
@import "tabbar/newtab_button";

/* Unloaded Tab - Contents Opacity ********************************************/
@import "tabbar/unload_tab";

/** Clipped tabs **************************************************************/
@import "tabbar/clipped_tab";

/** Sound Tab *****************************************************************/
@import "tabbar/sound_tab";

/** PictureInPicture Tab - Show PIP Icon **************************************/
@import "tabbar/picture_in_picture_tab";

/** Container Tab - Color line at icon's bottom *******************************/
@import "tabbar/container_tab";

/** Crashed Tab - Don't show Favicons *****************************************/
@import "tabbar/crashed_tab";

/** Library - Icons Replace ***************************************************/
@import "library/chrome";

/** Panel - Icons *************************************************************/
@import "panel/icon_padding";
@import "icons/panel";

/** Menu - Icons Layout *******************************************************/
@import "menu/icons_layout";
@import "menu/bookmark_layout";

@import "icons/context_menu";
@import "icons/global_menu";
/** Libray Menu ***************************************************************/
@import "icons/library";
