@use "utils/os" as *;

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@namespace html "http://www.w3.org/1999/xhtml";

/** Default Thme - Contrast ***************************************************/
@import "theme/built_in";

/** Theme - Compatibility *****************************************************/
@import "theme/theme_compatibility";

/** OS - Compatibility ********************************************************/
@import "theme/os_compatibility";

/** System Default Theme ******************************************************/
@import "theme/system_default_theme";

/** Fully Theme Mode **********************************************************/
/* Default Themes
     https://github.com/mozilla/gecko-dev/blob/master/toolkit/mozapps/extensions/default-theme/manifest.json
     https://github.com/mozilla/gecko-dev/blob/master/browser/themes/addons/light/manifest.json
     https://github.com/mozilla/gecko-dev/blob/master/browser/themes/addons/dark/manifest.json
  */

@import "theme/proton_color";
@import "theme/fully_color";

/* Fully Dark Mode ************************************************************/
@import "theme/fully_dark";

/* Proton Theme Mode **********************************************************/
@import "theme/proton_chrome";

/** Decoration ****************************************************************/
@import "theme/decoration";

/** Reduce Padding ************************************************************/
@import "padding/index";

/** Tab Bar - Connect to window ***********************************************/
@import "tabbar/connect_to_window";

/** Selected Tab - Color like toolbar *****************************************/
@import "tabbar/color_like_toolbar";

/** Selected Tab - Box Shadow *************************************************/
@import "tabbar/box_shadow";

/** Selected Tab - Bottom Rounded Corner **************************************/
@import "tabbar/bottom_rounded_corner";

/** Unselected Tab - Divide line **********************************************/
@import "tabbar/divide_line";

/* New tab button - Looks like tab ********************************************/
@import "tabbar/newtab_looks_like_tab";

/* Unloaded Tab - Contents Opacity ********************************************/
@import "tabbar/unload_tab";

/** Clipped tabs - Letters cleary *********************************************/
@import "tabbar/letters_cleary";

/** Clipped tabs - Show close button at hover ****************&&***************/
@import "tabbar/show_close_button_at_hover";

/** Sound Tab - Hide Label ****************************************************/
@import "tabbar/hide_label";

/** Sound Tab - Show with Favicons ********************************************/
@import "tabbar/show_with_favicons";

/** PictureInPicture Tab - Show PIP Icon **************************************/
@import "tabbar/picture_in_picture_tab";

/** Container Tab - Color line at icon's bottom *******************************/
@import "tabbar/container_tab";

/** Crashed Tab - Don't show Favicons *****************************************/
@import "tabbar/crashed_tab";

/** Library - Icons Replace ***************************************************/
@import "library/standard_folder";
@import "library/inbox";
@import "library/default_override";
@import "library/default_open";
@import "library/menubar";

/** Panel - Icons *************************************************************/
@import "panel/icon_padding";
@import "icons/panel";

/** Menu - Icons Layout *******************************************************/
menupopup menuitem:not([type="checkbox"], [type="radio"]),
menupopup menu:not([type="checkbox"], [type="radio"]),
#main-menubar > menu {
  -moz-appearance: none !important; /* Linux: menulist */
}

/* Icon */
:not(menu, #ContentSelectDropdown)
  > menupopup
  > menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
:not(menu, #ContentSelectDropdown)
  > menupopup
  > menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
#main-menubar > menu,
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu,
menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
#blockedPopupDontShowMessage {
  /* Color */
  -moz-context-properties: fill, fill-opacity !important;
  fill: currentColor !important;

  /* Layout */
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-image: var(--menuitem-image);
}

/* For native context menus on macOS */
@supports -moz-bool-pref("widget.macos.native-context-menus") {
  :not(menu, #ContentSelectDropdown)
    > menupopup
    > menuitem:not(.menuitem-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  :not(menu, #ContentSelectDropdown)
    > menupopup
    > menu:not(.menu-iconic, [type="checkbox"], [checked="true"], .in-menulist) {
    list-style-image: var(--menuitem-image) !important;
  }
}

/* Padding */
:root {
  --context-menu-background-padding-default: 5px;
  --context-menu-background-padding: var(--context-menu-background-padding-default);
}
:not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem:not(.menuitem-iconic),
:not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menu:not(.menu-iconic),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"], .bookmark-item),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu,
menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
#blockedPopupDontShowMessage {
  background-position: left var(--context-menu-background-padding) center !important;
  padding-inline-start: var(--context-menu-background-padding) !important;
}

/* Menubar */
#main-menubar > menu {
  background-position: left var(--context-menu-background-padding-default) center !important;
  padding-inline-start: calc(16px + var(--context-menu-background-padding-default)) !important;
  padding-inline-end: 3px;
}
#main-menubar > menu:first-child {
  background-position: left calc(3px + var(--context-menu-background-padding-default)) center !important;
  padding-inline-start: calc(19px + var(--context-menu-background-padding-default)) !important;
}
#main-menubar > menu > menupopup {
  --menuitem-image: none; /* Prevent Image Inheritance */
}

/* Padding - Windows */
@include OS($win) {
  /* Checkbox */
  :root {
    --context-menu-text-padding: calc(var(--menu-padding) + var(--context-menu-background-padding-default) + 16px);
  }
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem[type="checkbox"][checked="false"]
    > .menu-iconic-left {
    padding-inline-start: var(--context-menu-text-padding);
  }
}

@include OS($win7) {
  :root {
    --context-menu-background-padding-default: 2px;
  }
}
@include OS($win8) {
  :root {
    --context-menu-background-padding-default: 3px;
  }
}
@include OS($win7, $win8) {
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem:not(.menuitem-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menu:not(.menu-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"], .bookmark-item),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
  menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
  menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu,
  menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
  #blockedPopupDontShowMessage {
    background-position: left var(--context-menu-background-padding) center !important;
    padding-inline-start: 0 !important;
  }
}
@include OS($win10) {
  :root {
    --context-menu-background-padding: 1em;
    --context-menu-text-padding: 24px; /* 16px + 8px */
    --menu-background-padding-default: calc(var(--context-menu-background-padding) + var(--context-menu-text-padding));
  }

  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem:not(.menuitem-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menu:not(.menu-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"], .bookmark-item),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
  menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
  menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu,
  menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
  #blockedPopupDontShowMessage {
    padding-inline-start: var(--menu-background-padding-default) !important;
    margin-left: 0 !important;
  }
}

/* Padding - Linux */
@include OS($linux) {
  :root {
    --context-menu-background-padding-default: 6px;
  }

  #main-menubar > menu > .menubar-text {
    padding-inline-start: 3px;
  }
}

/* Padding - Mac */
@include OS($mac) {
  :root {
    --context-menu-background-padding-default: 10px;
    --context-menu-mac-padding: 21px;
  }

  /* context menu width */
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem:not(.menuitem-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menu:not(.menu-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  #blockedPopupDontShowMessage {
    padding-inline-end: var(--context-menu-background-padding) !important;
  }

  /* text position */
  :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem > .menu-text,
  :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menu > menu-text {
    padding-inline-start: var(--context-menu-mac-padding) !important;
  }

  /* Checkbox menuitem, None iconic menu */
  :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem[type="checkbox"],
  :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menu:not(.menu-iconic) {
    padding-inline-start: calc(var(--context-menu-background-padding) + var(--context-menu-mac-padding)) !important;
  }
}

/*= Bookmark Menu - Layout ===================================================*/
/* #goPopup(Legacy of historyMenuPoup), #historyMenuPopup, #bookmarksMenuPopup: looks like global menu
   * #BMB_bookmarksPopup: looks like arrow panel
   */

/* Empty Menu */
menupopup menupopup[emptyplacesresult] .menu-text,
#PersonalToolbar menupopup[emptyplacesresult] .menu-text {
  margin-inline-start: 0 !important;
}

/* Bookmark Popup - As Arrow Panel */
#BMB_bookmarksPopup,
#PersonalToolbar {
  --context-menu-background-padding: var(--arrowpanel-menuitem-padding);
}

/* Windows 7, 8 */
@include OS($win7, $win8) {
  /* Global Menu */
  menupopup:is(#goPopup, #historyMenuPopup, #bookmarksMenuPopup) .bookmark-item {
    padding-inline-start: 0 !important;
  }

  /* Bookmark Popup - None icon menu */
  #BMB_bookmarksPopup,
  #PersonalToolbar {
    --arrowpanel-menuicon-padding: 9px;
  }
  menupopup:is(#BMB_bookmarksPopup) menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic),
  #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    margin-inline: var(--arrowpanel-menuitem-padding) !important;
    background-position: left calc(var(--arrowpanel-menuicon-padding)) center !important;
  }
  menupopup:is(#BMB_bookmarksPopup) menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic) {
    padding-inline-start: calc(var(--arrowpanel-menuicon-padding) + var(--context-menu-text-padding) + 2px) !important;
  }
  #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    padding-inline-start: var(--arrowpanel-menuicon-padding) !important;
  }
}

/* Windows */
@include OS($win10) {
  /* Bookmark Popup - None icon menu */
  menupopup:is(#BMB_bookmarksPopup) menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic),
  #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    margin-inline: var(--arrowpanel-menuitem-padding) !important;
    padding-inline-start: calc(var(--arrowpanel-menuicon-padding) + var(--context-menu-text-padding)) !important;
    background-position: left calc(var(--arrowpanel-menuicon-padding)) center !important;
  }
}

/* Linux */
@include OS($linux) {
  /* Global Menu */
  menupopup:is(#goPopup, #historyMenuPopup, #bookmarksMenuPopup) .bookmark-item {
    padding-inline-start: var(--context-menu-background-padding) !important;
  }

  /* Bookmark Popup - Iconic menu */
  #BMB_bookmarksPopup .menu-iconic-text,
  #PersonalToolbar menupopup[placespopup="true"] .bookmark-item .menu-iconic-text {
    padding-inline-start: 1px !important;
  }
  /* Bookmark Popup - None icon menu */
  menupopup:is(#BMB_bookmarksPopup) menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic),
  #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    padding-inline-start: calc(var(--arrowpanel-menuitem-padding) + 1px) !important;
  }
}

@include OS($mac) {
  /* Bookmark Popup - As Arrow Panel */
  #PersonalToolbar menupopup menuitem,
  #PersonalToolbar menupopup menu {
    padding-inline: calc(var(--arrowpanel-menuicon-padding) + var(--arrowpanel-menuitem-padding)) !important;
  }

  /* Bookmark Popup - None icon menu */
  menupopup:is(#BMB_bookmarksPopup) menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic) {
    padding-inline-start: calc(var(--arrowpanel-menuitem-padding) + 3px) !important;
  }
}

@import "icons/context_menu";
@import "icons/global_menu";
@import "icons/library";
