@use "utils/os" as *;

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@namespace html "http://www.w3.org/1999/xhtml";

/** Default Thme - Contrast ***************************************************/
@import "theme/built_in";

/** Theme - Compatibility *****************************************************/
@import "theme/theme_compatibility";

/** OS - Compatibility ********************************************************/
@import "theme/os_compatibility";

/** System Default Theme ******************************************************/
@import "theme/system_default_theme";

/** Fully Theme Mode **********************************************************/
/* Default Themes
     https://github.com/mozilla/gecko-dev/blob/master/toolkit/mozapps/extensions/default-theme/manifest.json
     https://github.com/mozilla/gecko-dev/blob/master/browser/themes/addons/light/manifest.json
     https://github.com/mozilla/gecko-dev/blob/master/browser/themes/addons/dark/manifest.json
  */

@import "theme/proton_color";
@import "theme/fully_color";

/* Fully Dark Mode ************************************************************/
@import "theme/fully_dark";

/* Proton Theme Mode **********************************************************/
@import "theme/proton_chrome";

/** Decoration ****************************************************************/
@import "theme/decoration";

/** Reduce Padding ************************************************************/
@import "padding/index";

/** Tab Bar - Connect to window ***********************************************/
@import "tabbar/connect_to_window";

/** Selected Tab - Color like toolbar *****************************************/
:root:not(:-moz-lwtheme) {
  /* Fix for windows's system default theme. Using --toolbar-bgcolor fallback */
  --tab-selected-bgcolor: unset !important; /* Original: rgb(255,255,255); */
}
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected="true"]:-moz-lwtheme {
  /* Original: linear-gradient(var(--lwt-selected-tab-background-color, transparent), var(--lwt-selected-tab-background-color, transparent)), linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, none)
 */
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, none) !important;
}

/* Multi Selected Color */
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected]:not([selected]):-moz-lwtheme {
  background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, none) !important;
}

.tab-background[multiselected="true"]:not([selected="true"]) > .tab-loading-burst:not([bursting]) {
  background: color-mix(in srgb, currentColor 65%, transparent);
  opacity: 0.3;
}
#TabsToolbar[brighttext]
  .tab-background[multiselected="true"]:not([selected="true"])
  > .tab-loading-burst:not([bursting]) {
  opacity: 0.15;
}

/** Selected Tab - Box Shadow *************************************************/
#TabsToolbar[brighttext]
  #tabbrowser-tabs:not([noshadowfortests])
  .tabbrowser-tab[visuallyselected="true"]:not(:focus)
  > .tab-stack
  > .tab-background:-moz-lwtheme {
  /* Origina: 0 0 1px var(--tab-line-color, rgba(128,128,142,0.9))
       Bright: 0 0 1px var(--tab-line-color, rgba(128,128,142,0.9)), 0 0 4px rgba(128,128,142,0.5) */
  box-shadow: 0 0 1px var(--toolbar-color) !important;
}
#TabsToolbar[brighttext]
  #tabbrowser-tabs:not([noshadowfortests])
  .tabbrowser-tab[multiselected]:not([visuallyselected])
  > .tab-stack
  > .tab-background:-moz-lwtheme {
  box-shadow: 0 0 1px color-mix(in srgb, var(--toolbar-color) 80%, transparent) !important;
}

/* Pinned Tab - tabbrowser-arrowscrollbox overflowing */
#tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned] {
  z-index: 0 !important;
}

/** Selected Tab - Bottom Rounded Corner **************************************/
#tabbrowser-tabs {
  --tab-corner-rounding: 3px; /* 10px looks about like chromium - 17px looks close to Australis tabs */
  --tab-corner-padding: 0px;
  --tab-corner-position: calc(var(--tab-corner-padding) - var(--tab-corner-rounding));
}

:root:not([customizing="true"]) tab[visuallyselected] > stack::before,
:root:not([customizing="true"]) tab[visuallyselected] > stack::after {
  content: "" !important;

  /* Box */
  display: block !important;
  position: absolute !important;
  z-index: 1 !important;

  /* Shape */
  width: var(--tab-corner-rounding) !important;
  height: 100% !important;

  /* Color */
  fill: var(--toolbar-bgcolor) !important;
  stroke: var(--tab-line-color, var(--tabs-border-color, rgba(128, 128, 142, 0.9))) !important;
  -moz-context-properties: fill, stroke !important;

  /* Image */
  background-size: var(--tab-corner-rounding);
  background-repeat: no-repeat;
  background-position-y: bottom;
}
:root:not([customizing="true"]) #TabsToolbar[brighttext] tab[visuallyselected] > stack::before,
:root:not([customizing="true"]) #TabsToolbar[brighttext] tab[visuallyselected] > stack::after {
  /* As Selected Tab - Box Shadow */
  stroke: var(--toolbar-color) !important;
}

tab[visuallyselected] > stack::before {
  left: var(--tab-corner-position) !important;
  background-image: url("./icons/tab-bottom-corner-left.svg");
}
tab[visuallyselected] > stack::after {
  left: auto;
  right: var(--tab-corner-position);
  background-image: url("./icons/tab-bottom-corner-right.svg");
}

@include OS($linux) {
  /* Fill color for GTK */
  :root:not([customizing="true"]):not([lwtheme="true"]) tab[visuallyselected] > stack::before,
  :root:not([customizing="true"]):not([lwtheme="true"]) tab[visuallyselected] > stack::after {
    /* As GTK Toolbar's background-color + backround-image
       * --toolbar-non-lwt-bgcolor: -moz-dialog;
       * --toolbar-non-lwt-bgimage: linear-gradient(rgba(255,255,255,.15), rgba(255,255,255,.15));
       */
    fill: color-mix(in srgb, rgb(255, 255, 255) 15%, -moz-dialog) !important;
    stroke: transparent !important;
  }
  :root:not([customizing="true"]):not([lwtheme="true"]) #TabsToolbar[brighttext] tab[visuallyselected] > stack::before,
  :root:not([customizing="true"]):not([lwtheme="true"]) #TabsToolbar[brighttext] tab[visuallyselected] > stack::after {
    stroke: transparent !important;
  }
}

/** Unselected Tab - Divide line **********************************************/
#tabbrowser-arrowscrollbox {
  position: absolute;
}

.tab-background::before,
#tabs-newtab-button::before {
  /* Box Model */
  content: "";
  display: block;
  position: absolute;

  /* Position */
  top: 50%;
  transform: translateX(-2.5px) translateY(calc(-50% + 1px));

  /* Bar shape */
  width: 1px;
  height: 20px;

  /* Bar Color */
  opacity: 0;
  background-color: var(--toolbarseparator-color);
}

.tabbrowser-tab:not([visuallyselected], [multiselected], :hover, :first-child) .tab-background::before,
#tabs-newtab-button:not(:hover, [open])::before {
  opacity: var(--tab-separator-opacity);
}

#navigator-toolbox:not([movingtab])
  .tabbrowser-tab:is([visuallyselected], [multiselected], :hover)
  + .tabbrowser-tab
  .tab-background::before,
#navigator-toolbox:not([movingtab])
  .tabbrowser-tab:is([visuallyselected], [multiselected], :hover)
  ~ .tabbrowser-tab[afterhovered]
  .tab-background::before,
#navigator-toolbox:not([movingtab])
  .tabbrowser-tab[last-visible-tab]:is([visuallyselected], [multiselected], :hover)
  ~ #tabs-newtab-button::before,
#navigator-toolbox:not([movingtab])
  .tabbrowser-tab[first-visible-unpinned-tab]:is([visuallyselected], [multiselected], :hover)
  .tab-background::before,
#navigator-toolbox:not([movingtab])
  #tabbrowser-arrowscrollbox[overflowing]
  tab.tabbrowser-tab[first-visible-unpinned-tab]
  .tab-background::before {
  opacity: 0 !important;
}

/* Animate */
@media (prefers-reduced-motion: no-preference) {
  .tab-background::before,
  #tabs-newtab-button::before {
    transition: opacity 0.2s var(--animation-easing-function); /* cubic-bezier(.07, .95, 0, 1) */
  }
}

/* Latest Tab & New tab margin */
#tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab[last-visible-tab] {
  margin-inline-end: 1px !important;
}

/* New tab button - Looks like tab ********************************************/
#tabs-newtab-button {
  /* Original:
    margin: 0 0 var(--tabs-navbar-shadow-size) !important
    => Can't ovrride style. Therefore, we should approach it by bypass.
    */
  --tabs-navbar-shadow-size: -1px; /* Original: 1px */
  --tabs-navbar-original-shadow-size: 1px;
  --tab-corner-rounding: 4px; /* Hardcorded */

  /* Size */
  -moz-box-align: stretch !important;
  padding-top: var(--tab-block-margin) !important;

  /* Corner Rounding Image */
  --newtab-position: calc((var(--tab-corner-rounding) / 2) * -1);
  background-image: url("./icons/tab-bottom-corner-left.svg"), url("./icons/tab-bottom-corner-right.svg");
  background-repeat: no-repeat;
  background-position: left var(--newtab-position) bottom var(--tabs-navbar-original-shadow-size),
    right var(--newtab-position) bottom var(--tabs-navbar-original-shadow-size);
  background-size: var(--tab-corner-rounding);

  /* Corner Rounding Color */
  fill: transparent !important;
  -moz-context-properties: fill !important;
}

/* Corner Rounding Color */
#tabs-newtab-button:hover {
  fill: var(--toolbarbutton-hover-background) !important;
}
#tabs-newtab-button:hover:active {
  fill: var(--toolbarbutton-active-background) !important;
}
@media (-moz-windows-accent-color-in-titlebar) {
  :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme) #tabs-newtab-button:hover,
  :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) #tabs-newtab-button:hover {
    fill: color-mix(
      in srgb,
      -moz-accent-color-foreground 10%,
      transparent
    ) !important; /* Hardcorded for compatibility */
  }
  :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme) #tabs-newtab-button:hover:active,
  :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) #tabs-newtab-button:hover:active {
    fill: color-mix(
      in srgb,
      -moz-accent-color-foreground 15%,
      transparent
    ) !important; /* Hardcorded for compatibility */
  }
}

/* '+'Icon */
#tabs-newtab-button .toolbarbutton-icon {
  border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0 !important; /* Original: var(--tab-border-radius) */

  padding: calc(var(--toolbarbutton-inner-padding) - (var(--tab-block-margin) / 4)) var(--toolbarbutton-inner-padding)
    calc(var(--toolbarbutton-inner-padding) + (var(--tab-block-margin) / 4) + var(--tabs-navbar-original-shadow-size)) !important;
  -moz-context-properties: fill, fill-opacity;
  fill: var(--toolbarbutton-icon-fill);
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

/* Unloaded Tab - Contents Opacity ********************************************/
#tabbrowser-tabs .tabbrowser-tab[pending] .tab-content {
  opacity: 0.7;
}

/** Clipped tabs - Letters cleary *********************************************/
#tabbrowser-tabs[closebuttons="activetab"] .tab-content:not([pinned]) {
  padding-inline-start: 8px !important;
}

#tabbrowser-tabs[closebuttons="activetab"] .tab-label-container[textoverflow][labeldirection="ltr"]:not([pinned]),
#tabbrowser-tabs[closebuttons="activetab"]
  .tab-label-container[textoverflow]:not([labeldirection]):-moz-locale-dir(ltr):not([pinned]) {
  mask-image: linear-gradient(to right, black 70%, transparent) !important;
}

#tabbrowser-tabs[closebuttons="activetab"] .tab-label-container[textoverflow][labeldirection="rtl"]:not([pinned]),
#tabbrowser-tabs[closebuttons="activetab"]
  .tab-label-container[textoverflow]:not([labeldirection]):-moz-locale-dir(rtl):not([pinned]) {
  mask-image: linear-gradient(to left, black 70%, transparent) !important;
}

/** Clipped tabs - Show close button at hover ****************&&***************/
#tabbrowser-tabs[closebuttons="activetab"]
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab:not([pinned])
  > .tab-stack
  > .tab-content
  > .tab-close-button:not([selected="true"]) {
  display: -moz-inline-box !important;
}

#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([visuallyselected]) .tab-close-button {
  visibility: collapse !important;
  opacity: 0;
}
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:hover .tab-close-button {
  visibility: visible !important;
  opacity: 1;
}

/* Animate */
@media (prefers-reduced-motion: no-preference) {
  /* Fade out */
  #tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([visuallyselected]) .tab-close-button {
    transition: opacity 0.1s var(--animation-easing-function) !important;
  }

  /* Fade in */
  #tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:hover .tab-close-button {
    transition: opacity 0.25s var(--animation-easing-function) !important;
  }
}

/* Closed Button's icon thicker */
.tabbrowser-tab .tab-content > .close-icon {
  list-style-image: url("./icons/dismiss-filled.svg") !important;
}

/* Closed Button's icon larger */
.tab-close-button {
  padding: 6px !important; /* Original: 7px */
}
.tabbrowser-tab:not(:hover) > .tab-stack > .tab-content > .tab-close-button {
  padding-inline-start: 1px !important; /* Original: 0px */
  width: 19px !important; /* Original: 17px */
}

/* Closed Button's padding reduce */
#tabbrowser-tabs[closebuttons="activetab"] .tab-content > .tab-close-button {
  margin-inline-end: calc(
    (var(--inline-tab-padding) / -2) + 2px
  ) !important; /* Original: calc(var(--inline-tab-padding) / -2)*/
  padding: 4px !important; /* Original: 7px */
  width: 20px !important; /* Original: 24px */
  height: 20px !important; /* Original: 24px */
}
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not(:hover) > .tab-stack > .tab-content > .tab-close-button {
  padding-inline-start: 3px !important; /* Original: 0px */
  width: 19px !important; /* Redefine from 19px !important, Original: 17px = (width - padding)  */
}

/** Sound Tab - Hide Label ****************************************************/
.tab-secondary-label:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture]) {
  display: none !important;
}

/** Sound Tab - Show with Favicons ********************************************/
/* Makes the favicons always visible (also on hover) */
.tab-icon-image:not([pinned]) {
  opacity: 1 !important;
}

/* Makes the speaker icon to always appear if the tab is playing (not only on hover) */
.tab-icon-overlay:not([crashed]),
.tab-icon-overlay[pinned][crashed][selected] {
  /* Position */
  top: 0 !important;
  inset-inline-end: -9px !important;
  z-index: 1 !important;
  transform: translateX(-0.5px) translateY(-6px);

  /* Shape */
  padding: 1.5px !important;
  border-radius: 10px !important;
  width: 17px !important;
  height: 17px !important;
}
.tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
  /* Color */
  color: currentColor !important;
  stroke: transparent !important;
  background: transparent !important;
  fill-opacity: 0.8 !important;
  opacity: 1 !important;
}
.tabbrowser-tab:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) .tab-label {
  transform: translateX(4px);
}

/* Animate */
@media (prefers-reduced-motion: no-preference) {
  .tab-icon-overlay:not([crashed]),
  .tab-icon-overlay[pinned][crashed][selected] {
    transition: 0.1s var(--animation-easing-function);
  }

  .tab-label-container > .tab-label {
    transition: transform 0.25s var(--animation-easing-function);
  }
}

/* None exist favicon - Size bigger */
.tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed]) {
  transform: translateX(-0.5px) translateY(-1px);
  inset-inline-end: 0 !important;
  margin-inline-end: 0 !important;
  padding: 0 !important;
}
.tabbrowser-tab:not([image]):is([soundplaying], [muted], [activemedia-blocked]) .tab-icon-image:not([pinned]) {
  opacity: 0 !important; /* Favicon hidden */
}
.tabbrowser-tab:not([image]):not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked])
  .tab-label {
  transform: translateX(3px);
}

/* Busy - Show */
.tab-throbber[busy],
.tab-icon-pending[busy] {
  opacity: 1 !important;
}

/* Busy - Overlay Position */
.tabbrowser-tab:not([pinned])[busy] .tab-icon-overlay:is([soundplaying], [muted], [activemedia-blocked]) {
  transform: translateX(-0.5px) translateY(-6px);
}
.tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed])[busy] {
  inset-inline-end: -9px !important;
  margin-inline-end: 9.5px !important;
  padding: 1.5px !important;
}

/* Hover */
.tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tab-icon-overlay:not([crashed])[muted]:hover,
.tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: var(--toolbar-bgcolor, white) !important;
  stroke: var(--lwt-tab-text, var(--toolbar-color)) !important;
  background-color: var(--lwt-tab-text, var(--toolbar-color)) !important;
  fill-opacity: 0.95 !important;
}

#TabsToolbar[brighttext] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
#TabsToolbar[brighttext] .tab-icon-overlay:not([crashed])[muted]:hover,
#TabsToolbar[brighttext] .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: var(--toolbar-bgcolor, black) !important;
}

.tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed]):hover {
  padding: 0 !important;
}

/** PictureInPicture Tab - Show PIP Icon **************************************/
#tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab[pictureinpicture]:not([pinned]) .tab-content::after,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab[pictureinpicture]:not([pinned], :hover) .tab-content::after {
  content: "";
}
.tabbrowser-tab[pictureinpicture]:not([pinned]) .tab-content::after {
  /* Shape */
  display: -moz-inline-box !important;
  width: 14px;
  height: 14px;
  background-size: 14px;
  -moz-box-ordinal-group: 1 !important;

  /* Color */
  fill: currentColor;
  opacity: 0.8;
  -moz-context-properties: fill;

  /* Icon */
  background-image: url("chrome://global/skin/media/picture-in-picture-open.svg");
}
.tabbrowser-tab[pictureinpicture]:not([pinned])[selected] .tab-content::after {
  opacity: 0.95;
}

/* Close Button's position */
.tabbrowser-tab[pictureinpicture]:not([pinned]) .tab-close-button {
  -moz-box-ordinal-group: 2 !important;
}
#tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab[pictureinpicture]:not([pinned]) .tab-close-button {
  margin-left: 7px !important;
}
#tabbrowser-tabs:not([closebuttons="activetab"])
  .tabbrowser-tab[pictureinpicture]:not([pinned]):hover
  .tab-close-button {
  margin-left: 2px !important;
}

/** Container Tab - Color line at icon's bottom *******************************/
.tab-context-line {
  display: none;
}

.tab-content:not([titlechanged])::before {
  /* Box Model */
  content: "";
  display: block;
  position: absolute !important;
  transform: translate(9px, 12px) !important;

  /* Shape */
  border-bottom: 2px solid var(--identity-icon-color);
  width: 25%;
  opacity: 0.75;
}
.tabbrowser-tab[visuallyselected]:not([pinned]) .tab-content::before {
  width: calc(100% - 30px);
  opacity: 1;
}
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab[visuallyselected]:not([pinned]) .tab-content::before {
  width: calc(100% - 33px);
}

/* Animate */
@media (prefers-reduced-motion: no-preference) {
  .tab-content:not([titlechanged])::before {
    transition: 0.15s var(--animation-easing-function) !important;
    transition-property: width, opacity;
  }
}

/* Pinned Tab */
.tabbrowser-tab[pinned] .tab-content::before {
  transform: translateY(12px) !important;
  width: 16px;
}

/* Pinned Tab - Titlechanged Indicator override */
.tabbrowser-tab:is([image], [pinned])[usercontextid] > .tab-stack > .tab-content[attention]:not([selected="true"]),
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  /* Original: radial-gradient(circle, var(--attention-icon-color), var(--attention-icon-color) 2px, transparent 2px); */
  --dotted-identity-image: radial-gradient(
    circle,
    var(--identity-icon-color),
    var(--identity-icon-color) 2px,
    transparent 2px
  );
  background-image: var(--dotted-identity-image), var(--dotted-identity-image), var(--dotted-identity-image) !important;
  background-position-x: 32%, 50%, 70% !important;
}
:root[uidensity="compact"]
  .tabbrowser-tab:is([image], [pinned])[usercontextid]
  > .tab-stack
  > .tab-content[attention]:not([selected="true"]),
:root[uidensity="compact"]
  .tabbrowser-tab[usercontextid]
  > .tab-stack
  > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  /* Original: radial-gradient(circle, var(--attention-icon-color), var(--attention-icon-color) 2px, transparent 2px); */
  background-position-x: 30%, 50%, 70% !important;
}

/* Pinned Tab - Titlechanged & soundplaying */
.tabbrowser-tab:is([image], [pinned])[usercontextid]:is([soundplaying], [muted], [activemedia-blocked])
  > .tab-stack
  > .tab-content[attention]:not([selected="true"]),
.tabbrowser-tab[usercontextid]:is([soundplaying], [muted], [activemedia-blocked])
  > .tab-stack
  > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  background-position-x: calc(32% - 1px), calc(50% - 1px), calc(70% - 1px) !important;
}
:root[uidensity="compact"]
  .tabbrowser-tab:is([image], [pinned])[usercontextid]:is([soundplaying], [muted], [activemedia-blocked])
  > .tab-stack
  > .tab-content[attention]:not([selected="true"]),
:root[uidensity="compact"]
  .tabbrowser-tab[usercontextid]:is([soundplaying], [muted], [activemedia-blocked])
  > .tab-stack
  > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  background-position-x: calc(30% - 1px), calc(50% - 1px), calc(70% - 1px) !important;
}

/** Crashed Tab - Don't show Favicons *****************************************/
.tab-icon-image[crashed] {
  display: none !important;
}

/** Library - Icons Replace ***************************************************/
/*= Standard Folder - More Visible ===========================================*/
/* on Toolbar and Menus */
:-moz-any(#PlacesToolbar, #BMB_bookmarksPopup, #bookmarksMenu) .bookmark-item[container="true"]:not([query="true"], [tagContainer], [dayContainer]),
  /* in Sidebar, Library, Add/Edit Bookmark dialog */
  /* https://github.com/rillian/firefox/blob/1f88437d263f56bdede4f20f69ba9c7b62f57001/layout/style/nsCSSAnonBoxList.h#L85-L98 */
  /* Need to overide!!, can not use :not() */
  :-moz-any(#bookmarks-view, #historyTree, #editBMPanel_folderTree, #placesList, #placeContent) treechildren::-moz-tree-image(title, container),
  #editBMPanel_folderMenuList:not([selectedGuid="toolbar_____"], [selectedGuid="menu________"]),
  #editBMPanel_folderMenuList .folder-icon:not([id]),
  /* Download Popup */
  .downloadIconShow > .button-box > .button-icon {
  list-style-image: url("./icons/folder.svg") !important;
}

/* Standard Folder - Open */
:-moz-any(#PlacesToolbar, #BMB_bookmarksPopup, #bookmarksMenu)
  .bookmark-item[container="true"]:not([query="true"], [tagContainer], [dayContainer])[open="true"],
:-moz-any(#bookmarks-view, #historyTree, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(title, container, open) {
  list-style-image: url("./icons/folder-open.svg") !important;
}

/*= Other Folder - Inbox Icon ================================================*/
/* on Menus */
#PlacesToolbar #OtherBookmarks,
  #BMB_bookmarksPopup #BMB_unsortedBookmarks,
  #bookmarksMenuPopup #menu_unsortedBookmarks,
  /* Other Bookmarks -- in Sidebar, Library, Add/Edit Bookmark dialog */
  :-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent) treechildren::-moz-tree-image(container, OrganizerQuery_UnfiledBookmarks),
  :-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent) treechildren::-moz-tree-image(container, queryFolder_unfiled_____),
  #editBMPanel_unfiledRootItem,
  #editBMPanel_folderMenuList[selectedGuid="unfiled_____"] {
  list-style-image: url("./icons/mail-inbox-all.svg") !important;
}

/* Other Folder - Open */
#PlacesToolbar #OtherBookmarks[open="true"],
#BMB_bookmarksPopup #BMB_unsortedBookmarks[open="true"],
#bookmarksMenuPopup #menu_unsortedBookmarks[open="true"],
:-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(container, open, OrganizerQuery_UnfiledBookmarks),
:-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(container, open, queryFolder_unfiled_____) {
  list-style-image: url("./icons/mail-inbox.svg") !important;
}

/*= Default Icon - Overide ===================================================*/
/* https://github.com/mozilla/gecko-dev/blob/master/browser/themes/shared/places/tree-icons.css */

/* Query */
:-moz-any(#historyTree, #placesList, #placeContent) treechildren::-moz-tree-image(title, query) {
  list-style-image: url("chrome://browser/skin/places/folder-smart.svg") !important;
}

/* History */
:-moz-any(#historyTree, #placesList, #placeContent) treechildren::-moz-tree-image(title, query, dayContainer),
:-moz-any(#historyTree, #placesList, #placeContent) treechildren::-moz-tree-image(query, OrganizerQuery_history____v) {
  list-style-image: url("chrome://browser/skin/history.svg") !important;
}

/* Downloads */
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(query, OrganizerQuery_downloads__v) {
  list-style-image: url("chrome://browser/skin/downloads/downloads.svg") !important;
}

/* Tag */
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(title, query, tagContainer),
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(query, OrganizerQuery_tags_______v) {
  list-style-image: url("chrome://browser/skin/places/tag.svg") !important;
}

/* Boomark */
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(query, OrganizerQuery_allbms_____v) {
  list-style-image: url("chrome://browser/skin/bookmark.svg") !important;
}

/* Bookmark Toolbar */
#BMB_bookmarksPopup #BMB_bookmarksToolbar,       /* Original: Default folder icon */
  #bookmarksMenuPopup #bookmarksToolbarFolderMenu, /* Original: Default folder icon */
  :-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent) treechildren::-moz-tree-image(container, queryFolder_toolbar_____) {
  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.svg") !important;
}

/* Bookmark Menu */
:-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(container, queryFolder_menu________) {
  list-style-image: url("chrome://browser/skin/places/bookmarksMenu.svg") !important;
}

/*= Default Icon - Open ======================================================*/
/* Query */
:-moz-any(#PlacesToolbar, #BMB_bookmarksPopup, #bookmarksMenu)
  .bookmark-item[container="true"][query="true"]:not([tagContainer])[open="true"]
  > .menu-iconic-left
  > .menu-iconic-icon {
  transform: rotate(15deg) !important;
}

/* History */
:-moz-any(#historyTree, #placesList, #placeContent) treechildren::-moz-tree-image(title, query, open, dayContainer),
:-moz-any(#historyTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(query, open, OrganizerQuery_history____v) {
  list-style-image: url("./icons/history-reverse.svg") !important;
}

/* Tag */
:-moz-any(#PlacesToolbar, #BMB_bookmarksPopup, #bookmarksMenu)
  .bookmark-item[container="true"][tagContainer="true"][open="true"],
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(title, query, open, tagContainer),
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(query, open, OrganizerQuery_tags_______v) {
  list-style-image: url("./icons/tag-open.svg") !important;
}

/* Boomark */
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(query, open, OrganizerQuery_allbms_____v) {
  list-style-image: url("chrome://browser/skin/bookmark-hollow.svg") !important;
}

/* Bookmark Toolbar */
#BMB_bookmarksPopup #BMB_bookmarksToolbar[open="true"],
#bookmarksMenuPopup #bookmarksToolbarFolderMenu[open="true"],
:-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(container, open, queryFolder_toolbar_____) {
  list-style-image: url("./icons/bookmarksToolbar-open.svg") !important;
}

/* Bookmark Menu */
:-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(container, open, queryFolder_menu________) {
  list-style-image: url("./icons/bookmarksMenu-open.svg") !important; /* or bookmarksMenu-open2.svg" */
}

/*= Menubar - Icons ==========================================================*/
@-moz-document url("chrome://browser/content/places/places.xhtml")
{
  @include OS($linux) {
    #organizeButton,
    #viewMenu,
    #maintenanceButton,
    #back-button,
    #forward-button,
    #clearDownloadsButton {
      fill: currentColor !important;
      -moz-context-properties: fill !important;
    }

    /* Add */
    #organizeButton {
      list-style-image: url("chrome://global/skin/icons/settings.svg") !important;
    }
    #viewMenu {
      list-style-image: url("./icons/sort.svg") !important;
    }
    #maintenanceButton {
      list-style-image: url("./icons/import-export.svg") !important;
    }

    #clearDownloadsButton {
      list-style-image: url("chrome://global/skin/icons/delete.svg") !important;
    }
    #clearDownloadsButton > .toolbarbutton-icon {
      display: -moz-inline-box !important;
      margin-top: 0;
      margin-bottom: 0;
      margin-inline-start: 0;
      margin-inline-end: 2px;
    }

    /* Replace */
    #back-button {
      list-style-image: url("chrome://browser/skin/back.svg") !important;
    }
    #forward-button {
      list-style-image: url("chrome://browser/skin/forward.svg") !important;
    }

    #back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
    #forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
      transform: scaleX(-1) !important;
    }
  }
}

/** Panel - Icons *************************************************************/
/*= Padding ==================================================================*/
:root {
  --arrowpanel-menublank-padding: calc(var(--arrowpanel-menuicon-padding) * 2 + 8px) !important;
  --arrowpanel-menuimageblank-padding: calc(var(--arrowpanel-menuitem-padding) - 2px) !important;
}

#downloadsHistory .button-text,
.subviewbutton > .toolbarbutton-text {
  padding-inline-start: var(--arrowpanel-menuicon-padding) !important;
}
.toolbaritem-combined-buttons > .subviewbutton:not(.subviewbutton-iconic) > .toolbarbutton-text {
  padding-inline-start: 0 !important;
}
#panelMenu_bookmarksMenu .subviewbutton[disabled="true"] .toolbarbutton-text,
#appMenu_historyMenu .subviewbutton[disabled="true"] .toolbarbutton-text {
  padding-inline-start: var(--arrowpanel-menublank-padding) !important;
}
#appMenu-proton-update-banner .toolbarbutton-text {
  margin-inline-start: 0 !important;
}

#appMenu-multiView .subviewbutton::before,
#appMenu-proton-update-banner::before {
  display: -moz-inline-box;
  margin-inline-end: var(--arrowpanel-menuicon-padding);
  width: 16px;
  height: 16px;
}
#appMenu-proton-update-banner {
  margin-bottom: 2px !important;
}
#appMenu-proton-update-banner::before {
  margin-inline-start: var(--arrowpanel-menuitem-padding) !important;
}
#appMenu-fxa-status2,
#appMenu-zoom-controls2 {
  align-items: center;
  padding-top: var(--arrowpanel-menuimageblank-padding) !important;
  padding-bottom: var(--arrowpanel-menuimageblank-padding) !important;
}
#appMenu-zoom-controls2::before {
  margin-inline-end: 0 !important;
}

.subviewbutton[type="checkbox"]:not([checked="true"]) > .toolbarbutton-text {
  margin-left: 16px !important;
}

/* Icons Color */
#appMenu-multiView .subviewbutton::before,
#appMenu-proton-update-banner::before,
#downloadsHistory .button-icon,
.subviewbutton > image {
  fill: currentColor !important;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity) !important;
  -moz-context-properties: fill !important;
}
#appMenu-zoomReduce-button2 > .toolbarbutton-icon,
#appMenu-zoomEnlarge-button2 > .toolbarbutton-icon {
  stroke: var(--zoom-controls-bgcolor, var(--button-bgcolor, ButtonFace)) !important;
  -moz-context-properties: fill, stroke !important;
}
#appMenu-zoomReduce-button2:not([disabled], [open], :active):is(:hover) > .toolbarbutton-icon,
#appMenu-zoomEnlarge-button2:not([disabled], [open], :active):is(:hover) > .toolbarbutton-icon {
  stroke: var(--button-hover-bgcolor) !important;
}

.subviewbutton[disabled="true"] > image {
  /* Ghost icons when disabled */
  opacity: 0.4;
}

@import "icons/panel";

/** Menu - Icons Layout *******************************************************/
menupopup menuitem:not([type="checkbox"], [type="radio"]),
menupopup menu:not([type="checkbox"], [type="radio"]),
#main-menubar > menu {
  -moz-appearance: none !important; /* Linux: menulist */
}

/* Icon */
:not(menu, #ContentSelectDropdown)
  > menupopup
  > menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
:not(menu, #ContentSelectDropdown)
  > menupopup
  > menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
#main-menubar > menu,
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu,
menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
#blockedPopupDontShowMessage {
  /* Color */
  -moz-context-properties: fill, fill-opacity !important;
  fill: currentColor !important;

  /* Layout */
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-image: var(--menuitem-image);
}

/* For native context menus on macOS */
@supports -moz-bool-pref("widget.macos.native-context-menus") {
  :not(menu, #ContentSelectDropdown)
    > menupopup
    > menuitem:not(.menuitem-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  :not(menu, #ContentSelectDropdown)
    > menupopup
    > menu:not(.menu-iconic, [type="checkbox"], [checked="true"], .in-menulist) {
    list-style-image: var(--menuitem-image) !important;
  }
}

/* Padding */
:root {
  --context-menu-background-padding-default: 5px;
  --context-menu-background-padding: var(--context-menu-background-padding-default);
}
:not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem:not(.menuitem-iconic),
:not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menu:not(.menu-iconic),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"], .bookmark-item),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu,
menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
#blockedPopupDontShowMessage {
  background-position: left var(--context-menu-background-padding) center !important;
  padding-inline-start: var(--context-menu-background-padding) !important;
}

/* Menubar */
#main-menubar > menu {
  background-position: left var(--context-menu-background-padding-default) center !important;
  padding-inline-start: calc(16px + var(--context-menu-background-padding-default)) !important;
  padding-inline-end: 3px;
}
#main-menubar > menu:first-child {
  background-position: left calc(3px + var(--context-menu-background-padding-default)) center !important;
  padding-inline-start: calc(19px + var(--context-menu-background-padding-default)) !important;
}
#main-menubar > menu > menupopup {
  --menuitem-image: none; /* Prevent Image Inheritance */
}

/* Padding - Windows */
@include OS($win) {
  /* Checkbox */
  :root {
    --context-menu-text-padding: calc(var(--menu-padding) + var(--context-menu-background-padding-default) + 16px);
  }
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem[type="checkbox"][checked="false"]
    > .menu-iconic-left {
    padding-inline-start: var(--context-menu-text-padding);
  }
}

@include OS($win7) {
  :root {
    --context-menu-background-padding-default: 2px;
  }
}
@include OS($win8) {
  :root {
    --context-menu-background-padding-default: 3px;
  }
}
@include OS($win7, $win8) {
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem:not(.menuitem-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menu:not(.menu-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"], .bookmark-item),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
  menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
  menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu,
  menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
  #blockedPopupDontShowMessage {
    background-position: left var(--context-menu-background-padding) center !important;
    padding-inline-start: 0 !important;
  }
}
@include OS($win10) {
  :root {
    --context-menu-background-padding: 1em;
    --context-menu-text-padding: 24px; /* 16px + 8px */
    --menu-background-padding-default: calc(var(--context-menu-background-padding) + var(--context-menu-text-padding));
  }

  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem:not(.menuitem-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menu:not(.menu-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"], .bookmark-item),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
  menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
  menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu,
  menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
  #blockedPopupDontShowMessage {
    padding-inline-start: var(--menu-background-padding-default) !important;
    margin-left: 0 !important;
  }
}

/* Padding - Linux */
@include OS($linux) {
  :root {
    --context-menu-background-padding-default: 6px;
  }

  #main-menubar > menu > .menubar-text {
    padding-inline-start: 3px;
  }
}

/* Padding - Mac */
@include OS($mac) {
  :root {
    --context-menu-background-padding-default: 10px;
    --context-menu-mac-padding: 21px;
  }

  /* context menu width */
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem:not(.menuitem-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menu:not(.menu-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  #blockedPopupDontShowMessage {
    padding-inline-end: var(--context-menu-background-padding) !important;
  }

  /* text position */
  :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem > .menu-text,
  :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menu > menu-text {
    padding-inline-start: var(--context-menu-mac-padding) !important;
  }

  /* Checkbox menuitem, None iconic menu */
  :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem[type="checkbox"],
  :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menu:not(.menu-iconic) {
    padding-inline-start: calc(var(--context-menu-background-padding) + var(--context-menu-mac-padding)) !important;
  }
}

/*= Bookmark Menu - Layout ===================================================*/
/* #goPopup(Legacy of historyMenuPoup), #historyMenuPopup, #bookmarksMenuPopup: looks like global menu
   * #BMB_bookmarksPopup: looks like arrow panel
   */

/* Empty Menu */
menupopup menupopup[emptyplacesresult] .menu-text,
#PersonalToolbar menupopup[emptyplacesresult] .menu-text {
  margin-inline-start: 0 !important;
}

/* Bookmark Popup - As Arrow Panel */
#BMB_bookmarksPopup,
#PersonalToolbar {
  --context-menu-background-padding: var(--arrowpanel-menuitem-padding);
}

/* Windows 7, 8 */
@include OS($win7, $win8) {
  /* Global Menu */
  menupopup:is(#goPopup, #historyMenuPopup, #bookmarksMenuPopup) .bookmark-item {
    padding-inline-start: 0 !important;
  }

  /* Bookmark Popup - None icon menu */
  #BMB_bookmarksPopup,
  #PersonalToolbar {
    --arrowpanel-menuicon-padding: 9px;
  }
  menupopup:is(#BMB_bookmarksPopup) menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic),
  #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    margin-inline: var(--arrowpanel-menuitem-padding) !important;
    background-position: left calc(var(--arrowpanel-menuicon-padding)) center !important;
  }
  menupopup:is(#BMB_bookmarksPopup) menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic) {
    padding-inline-start: calc(var(--arrowpanel-menuicon-padding) + var(--context-menu-text-padding) + 2px) !important;
  }
  #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    padding-inline-start: var(--arrowpanel-menuicon-padding) !important;
  }
}

/* Windows */
@include OS($win10) {
  /* Bookmark Popup - None icon menu */
  menupopup:is(#BMB_bookmarksPopup) menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic),
  #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    margin-inline: var(--arrowpanel-menuitem-padding) !important;
    padding-inline-start: calc(var(--arrowpanel-menuicon-padding) + var(--context-menu-text-padding)) !important;
    background-position: left calc(var(--arrowpanel-menuicon-padding)) center !important;
  }
}

/* Linux */
@include OS($linux) {
  /* Global Menu */
  menupopup:is(#goPopup, #historyMenuPopup, #bookmarksMenuPopup) .bookmark-item {
    padding-inline-start: var(--context-menu-background-padding) !important;
  }

  /* Bookmark Popup - Iconic menu */
  #BMB_bookmarksPopup .menu-iconic-text,
  #PersonalToolbar menupopup[placespopup="true"] .bookmark-item .menu-iconic-text {
    padding-inline-start: 1px !important;
  }
  /* Bookmark Popup - None icon menu */
  menupopup:is(#BMB_bookmarksPopup) menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic),
  #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    padding-inline-start: calc(var(--arrowpanel-menuitem-padding) + 1px) !important;
  }
}

@include OS($mac) {
  /* Bookmark Popup - As Arrow Panel */
  #PersonalToolbar menupopup menuitem,
  #PersonalToolbar menupopup menu {
    padding-inline: calc(var(--arrowpanel-menuicon-padding) + var(--arrowpanel-menuitem-padding)) !important;
  }

  /* Bookmark Popup - None icon menu */
  menupopup:is(#BMB_bookmarksPopup) menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic) {
    padding-inline-start: calc(var(--arrowpanel-menuitem-padding) + 3px) !important;
  }
}

@import "icons/context_menu";
@import "icons/global_menu";
@import "icons/library";
