@include moz-document(
  url-prefix "about:processes",
  url-prefix "about:performance"
) {
  td.type.favicon[style*='background-image: url("chrome://global/skin/icons/link.svg");'] {
    background-image: url("../icons/link.svg") !important;
  }

  .profiler-icon {
    cursor: pointer;
    background-image: url("../icons/performance.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    @include NotOption("userChrome.rounding.square_button") {
      border-radius: 8px !important;
    }

    // #960
    color: inherit !important;
  }
}

@include moz-document(url-prefix "about:profiling") {
  .perf-intro-icon {
    background-image: url("../icons/performance.svg") !important;
  }
}

