@-moz-document url-prefix("about:memory") {
  .opsRow,
  .section {
    background-color: var(--in-content-box-background) !important;
    color: var(--in-content-page-color) !important;
  }
  .opsRowLabel input {
    vertical-align: bottom !important;
  }
}
