@use 'true' as *;
@use "example" as *;
@use "../src/utils/native_menu";

@include test-module("Native Menu Option [mix]") {
  @include test("simple") {
    @include assert {
      @include output {
        @include native_menu.NativeMenu {
          @include example;
        }
      }
      @include expect {
        @supports -moz-bool-pref("widget.macos.native-context-menus") or -moz-bool-pref("widget.gtk.native-context-menus") {
          @include example;
        }
      }
    }
  }
}
