/*= Root - Reduce Padding ====================================================*/
@include Option($tabLeptonLikePadding) {
  :root {
    /* Tab Bar */
    --proton-tab-block-margin: 2px !important; /* Original: 4px, Legacy */
    --tab-block-margin: 2px !important; /* New version of --proton-tab-block-margin */
  }
}
@include Option($tabPhotonLikePadding) {
  :root {
    --proton-tab-block-margin: 0px !important; /* Original: 4px, Legacy */
    --tab-block-margin: 0px !important; /* New version of --proton-tab-block-margin */
    --tab-border-radius: 0px !important; /* Original: 4px */
  }
}
:root {
  /* Tab Bar */
  --inline-tab-padding: 6px !important; /* Original: 8px */

  /* Panel */
  --arrowpanel-menuicon-padding: 8px;
  --arrowpanel-menuitem-margin: 0 var(--arrowpanel-menuicon-padding) !important; /* Original: 0 8px */
  --arrowpanel-menuitem-padding: 5px !important; /* Original: 8px */
  --arrowpanel-padding: 0.8em !important; /* Original: 16px or .cui-widget-panel, .cui-widget-panel::part(arrowcontent) => 4px 0 */
}

:root[uidensity="compact"] {
  /* Tool Bar */
  --toolbarbutton-outer-padding: 2px !important; /* Original: 3px, General is 2px */

  /* Panel */
  --arrowpanel-menuitem-padding: 3px !important; /* Original: 8px */
}

:root[uidensity="touch"] {
  /* Tab Bar - Like Original */
  --proton-tab-block-margin: 4px !important; /* Original: 4px */
  --tab-block-margin: 4px !important; /* New version of --proton-tab-block-margin */
  --inline-tab-padding: 8px !important; /* Original: 8px */

  /* Panel - Like Original */
  --arrowpanel-menuitem-padding: 8px !important; /* Original: 8px */
}

/* Fix Tab bar button radious */
@include Option($tabPhotonLikePadding) {
  #TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon,
  #TabsToolbar .toolbarbutton-1 > .toolbarbutton-text,
  #TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack,
  .tab-close-button {
    --tab-border-radius: 4px !important;
  }
}

/*= Tab Bar - Reduce Width, Show more tabs ===================================*/
/* for First Tab Space */
:root {
  --space-left-tabbar: 0px; /* If you want drag space, set to 8px */
}
@include Option($firstTabPadding) {
  :root {
    --space-left-tabbar: 8px;
  }
}
:root:not([tabsintitlebar]) #tabbrowser-tabs:not([positionpinnedtabs]),
:root:is([sizemode="maximized"], [sizemode="fullscreen"]) #tabbrowser-tabs:not([positionpinnedtabs]) {
  padding-inline-start: var(--space-left-tabbar) !important;
}

@include Option("userChrome.padding.tabbar_width") {
  @import "tabbar_width";
}

/*= Tab Bar - Reduce Height, Show more contents ==============================*/
/* for Extra Drag Space */
:root {
  --space-above-tabbar: 0px; /* If you want drag space, set to 8px */
}
@include Option($dragSpacePadding) {
  :root {
    --space-above-tabbar: 8px;
  }
}
:root[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"] {
  height: calc(var(--tab-min-height) + var(--space-above-tabbar));
}
:root[sizemode="normal"][chromehidden~="menubar"] #TabsToolbar > .toolbar-items,
:root[sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] + #TabsToolbar > .toolbar-items {
  padding-top: var(--space-above-tabbar) !important;
}

@include Option("userChrome.padding.tabbar_height") {
  @import "tabbar_height";
}

/*= Nav Bar - Reduce Width ===================================================*/
@include Option("userChrome.padding.navbar_width") {
  @import "nav_bar";
}

/*= URL Bar - Reduce Padding =================================================*/
@include Option("userChrome.padding.urlbar") {
  @import "url_bar";
}

/*= BookMark Bar - Reduce Height =============================================*/
@include Option("userChrome.padding.bookmarkbar") {
  @import "bookmark_bar";
}

/*= Info Bar - Reduce Padding ================================================*/
@include Option("userChrome.padding.infobar") {
  @import "info_bar";
}

/*= Menu - Reduce Padding ====================================================*/
@include Option("userChrome.padding.menu") {
  @import "menu";
}

/*= Bookmark Menu - Reduce Padding ===========================================*/
@include Option("userChrome.padding.bookmark_menu") {
  @import "bookmark_menu";
}

/*= Global Menu - Set Padding ================================================*/
@include Option("userChrome.padding.global_menu") {
  @import "global_menu";
}

/*= Popup Panel - Reduce padding =============================================*/
@include Option("userChrome.padding.popup_panel") {
  @import "popup_panel";
}
