/*= Root - Reduce Padding ====================================================*/
@include Option($tabLeptonLikePadding) {
  :root {
    /* Tab Bar */
    --proton-tab-block-margin: 2px !important; /* Original: 4px, Legacy */
    --tab-block-margin: 2px !important; /* New version of --proton-tab-block-margin */
  }
}
@include Option($tabPhotonLikePadding) {
  :root {
    --proton-tab-block-margin: 0px !important; /* Original: 4px, Legacy */
    --tab-block-margin: 0px !important; /* New version of --proton-tab-block-margin */
    --tab-border-radius: 0px !important; /* Original: 4px */
  }
}

:root[uidensity="compact"] {
  /* Tool Bar */
  --toolbarbutton-outer-padding: 2px !important; /* Original: 3px, General is 2px */
}

:root[uidensity="touch"] {
  /* Tab Bar - Like Original */
  --proton-tab-block-margin: 4px !important; /* Original: 4px */
  --tab-block-margin: 4px !important; /* New version of --proton-tab-block-margin */
}

/* Fix Tab bar button radious */
@include Option($tabPhotonLikePadding) {
  #TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon,
  #TabsToolbar .toolbarbutton-1 > .toolbarbutton-text,
  #TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack,
  .tab-close-button {
    --tab-border-radius: 4px !important;
  }
}

/*= Tab Bar - Reduce Width, Show more tabs ===================================*/
@include Option("userChrome.padding.first_tab") {
  @import "first_tab";
}

@include Option("userChrome.padding.tabbar_width") {
  @import "tabbar_width";
}

/*= Tab Bar - Reduce Height, Show more contents ==============================*/
@include Option("userChrome.padding.drag_space") {
  @import "drag_space";
}

@include Option("userChrome.padding.tabbar_height") {
  @import "tabbar_height";
}

/*= Nav Bar - Reduce Width ===================================================*/
@include Option("userChrome.padding.navbar_width") {
  @import "nav_bar";
}

/*= URL Bar - Reduce Padding =================================================*/
@include Option("userChrome.padding.urlbar") {
  @import "url_bar";
}

/*= BookMark Bar - Reduce Height =============================================*/
@include Option("userChrome.padding.bookmarkbar") {
  @import "bookmark_bar";
}

/*= Info Bar - Reduce Padding ================================================*/
@include Option("userChrome.padding.infobar") {
  @import "info_bar";
}

/*= Menu - Reduce Padding ====================================================*/
@include Option("userChrome.padding.menu") {
  @import "menu";
}

/*= Bookmark Menu - Reduce Padding ===========================================*/
@include Option("userChrome.padding.bookmark_menu") {
  @import "bookmark_menu";
}

/*= Global Menu - Set Padding ================================================*/
@include Option("userChrome.padding.global_menu") {
  @import "global_menu";
}

/*= Panel - Reduce padding ===================================================*/
@include Option("userChrome.padding.panel") {
  @import "panel";
}

/*= Popup Panel - Reduce padding =============================================*/
@include Option("userChrome.padding.popup_panel") {
  @import "popup_panel";
}
