:root {
  --arrowpanel-menuitem-margin: 0 var(--arrowpanel-menuicon-padding) !important; /* Original: 0 8px */
  --arrowpanel-menuitem-padding-block: 5px !important; /* Original: 8px */
  --arrowpanel-menuitem-padding-inline: 5px !important; /* Original: 8px */
  --arrowpanel-menuitem-padding: var(--arrowpanel-menuitem-padding-block) var(--arrowpanel-menuitem-padding-inline) !important; /* Compatibility */
  --arrowpanel-padding: 0.8em !important; /* Original: 16px or .cui-widget-panel, .cui-widget-panel::part(arrowcontent) => 4px 0 */
}

:root[uidensity="compact"] {
  --arrowpanel-menuitem-padding-block: 3px !important;
  --arrowpanel-menuitem-padding-inline: 3px !important;
}
:root[uidensity="touch"] {
  --arrowpanel-menuitem-padding-block: 8px !important; /* Original: 8px */
  --arrowpanel-menuitem-padding-inline: 8px !important; /* Original: 8px */
}
