:root {
  --arrowpanel-menuicon-padding: 8px;
  --arrowpanel-menuitem-margin: 0 var(--arrowpanel-menuicon-padding) !important; /* Original: 0 8px */
  --arrowpanel-menuitem-padding: 5px !important; /* Original: 8px */
  --arrowpanel-padding: 0.8em !important; /* Original: 16px or .cui-widget-panel, .cui-widget-panel::part(arrowcontent) => 4px 0 */
}

:root[uidensity="compact"] {
  --arrowpanel-menuitem-padding: 3px !important; /* Original: 8px */
}
:root[uidensity="touch"] {
  --arrowpanel-menuitem-padding: 8px !important; /* Original: 8px */
}
