#protections-popup-main-header-label {
  height: unset !important; /* Original: 37.6px */
}

#identity-popup,
#permission-popup,
#protections-popup {
  --vertical-section-padding: 0.8em; /* Original: 0.9em */
}

.protections-popup-footer-button,
.protections-popup-category {
  min-height: 24px; /* Original: 32px */
  height: unset !important;
}

/** Popup panel - Compact mode  */
:root[uidensity="compact"] {
  #protections-popup-content {
    // not cut off for Protection popup Footer on windows
    margin-block: 0 !important;
  }
  #protections-popup-multiView {
    #protections-popup-footer {
      padding-block-start: 0 !important;
      padding-block-end: 4px !important;
    }

    .protections-popup-footer-button,
    .protections-popup-category {
      // Button and disabled category in Protection popup
      min-height: 20px !important;
    }
    .panel-footer.panel-footer-menulike {
      // Footer Button in Tracking Content Panel
      margin: 0 0 3px !important;
      > button {
        padding: 3px 8px !important;
      }
    }
  }

  #protections-popup-trackersView-settings-button {
    // Footer Button Height
    margin: 4px 8px 0 !important;
  }
  #identity-popup-multiView #identity-popup-mainView-panel-header {
    // Identity popup header padding
    padding: 2px 5px !important;
  }
  // Text When There is no trackers
  #protections-popup-no-trackers-found-description {
    margin: 2em 4em !important;
  }
  // Download Item margin
  #downloadsListBox {
    margin: 0 !important;
  }
}
