/* Toolbar Height */
@include NotOption($tabPhotonLikePadding) {
  :root:not([uidensity]) #TabsToolbar {
    --tab-min-height: 36px !important; /* 38px -> 36px */
  }
  :root[uidensity="compact"] #TabsToolbar {
    --tab-min-height: 29px !important; /* 36px -> 29px */
  }
}

@include Option($tabPhotonLikePadding) {
  tabbrowser-arrowscrollbox {
    --tabbar-max-height: 33px;
    max-height: calc(var(--tabbar-max-height) + var(--space-above-tabbar));
  }
  :root[uidensity="compact"] #tabbrowser-arrowscrollbox {
    --tabbar-max-height: 29px;
  }
  :root[uidensity="touch"] #tabbrowser-arrowscrollbox {
    --tabbar-max-height: 45px;
  }

  /* Top Margin */
  .tab-background,
  .tab-content {
    margin-top: 0 !important;
  }
}

@include Option($tabLeptonLikePadding) {
  #tabbrowser-arrowscrollbox {
    --tabbar-max-height: 38px;
    max-height: calc(var(--tabbar-max-height) + var(--space-above-tabbar));
  }
  :root[uidensity="compact"] #tabbrowser-arrowscrollbox {
    --tabbar-max-height: 32px;
  }
  :root[uidensity="touch"] #tabbrowser-arrowscrollbox {
    --tabbar-max-height: 45px;
  }
}
@include Option($tabProtonLikePadding) {
  :root:not([uidensity]) #TabsToolbar {
    --tab-min-height: 36px !important; /* 38px -> 36px */
  }
  :root[uidensity="compact"] #TabsToolbar {
    --tab-min-height: 29px !important; /* 36px -> 29px */
  }
}

/* Scroll Button - Size Fix */
:root #tabbrowser-arrowscrollbox {
  --scrollbtn-vertical-padding: 3px;
  --scrollbtn-vertical-border: 2px;
  --scrollbtn-border-radius: 7px;
}
#scrollbutton-up,
#scrollbutton-down {
  /* Original: var(--toolbarbutton-inner-padding) calc(var(--toolbarbutton-inner-padding) - 6px) = 9px */
  /* https://github.com/mozilla/gecko-dev/blob/71b1259afd1cdaf41871ae675c2dadb967ea5b34/browser/themes/shared/toolbarbuttons.inc.css#L142 */
  padding-top: var(--scrollbtn-vertical-padding, var(--toolbarbutton-inner-padding)) !important;
  padding-bottom: var(--scrollbtn-vertical-padding, var(--toolbarbutton-inner-padding)) !important;

  /* Original: 4px */
  border-top-width: var(--scrollbtn-vertical-border, 4px) !important;
  border-bottom-width: var(--scrollbtn-vertical-border, 4px) !important;
  /* Original: calc(var(--tab-border-radius) + 4px) = 8px */
  border-radius: var(--scrollbtn-border-radius, calc(var(--tab-border-radius) + 4px)) !important;
}

:root[tabsintitlebar]:not([uidensity="compact"]) #toolbar-menubar[autohide="true"] {
  height: calc(
    var(--tab-min-height) - var(--tabs-navbar-shadow-size) - 2px
  ); /* Compact: 28px, Normal: 33px, Touch: 38px */
}

/* Pinned Tab - Titlechanged Indicator position fix */
.tabbrowser-tab:is([image], [pinned]) > .tab-stack > .tab-content[attention]:not([selected="true"]),
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  /* Original: center bottom calc(6.5px + var(--tabs-navbar-shadow-size)); */
  background-position-y: bottom calc(2.5px + var(--tabs-navbar-shadow-size)) !important;
}
:root[uidensity="compact"]
  .tabbrowser-tab:is([image], [pinned])
  > .tab-stack
  > .tab-content[attention]:not([selected="true"]),
:root[uidensity="compact"] .tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  /* Original: center bottom calc(6.5px + var(--tabs-navbar-shadow-size)); */
  background-position-y: bottom calc(0.5px + var(--tabs-navbar-shadow-size)) !important;
}
:root[uidensity="touch"]
  .tabbrowser-tab:is([image], [pinned])
  > .tab-stack
  > .tab-content[attention]:not([selected="true"]),
:root[uidensity="touch"] .tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  /* Original: center bottom calc(6.5px + var(--tabs-navbar-shadow-size)); */
  background-position-y: bottom calc(4.5px + var(--tabs-navbar-shadow-size)) !important;
}
