#urlbar-container,
#search-container {
  :root:not([uidensity="touch"]) & {
    padding-block: 3px !important; /* Original: 4px */
  }
  :root:not([uidensity="compact"]) & {
    padding-block: 2px !important;
  }
}

// #662
#urlbar,
#searchbar {
  :root:not([uidensity="compact"]) & {
    min-height: calc(var(--urlbar-min-height) - 2px) !important;
  }
}

#urlbar[breakout] {
  :root:not([uidensity="compact"]) & {
    height:  calc(var(--urlbar-height) - 2px) !important;
    &[breakout-extend],
    &[breakout-extend-disabled][open] {
      height: auto !important;
    }
  }
}

/* spread menu */
:root:not([uidensity]) .urlbarView-row {
  padding-block: 1px !important; /* Original: 2px */
}
:root[uidensity="compact"] .urlbarView-row {
  padding-block: 0px !important;
}

:root:not([uidensity]) #urlbar .search-one-offs:not([hidden]) {
  padding-block: 8px !important; /* Original: 10px */
}
:root[uidensity="compact"] #urlbar .search-one-offs:not([hidden]) {
  padding-block: 2px !important;
}
